:root {
  --custom-white-color: #ffffff;
  --custom-black-color: #141414;
  --custom-brand-color-1: #ffd919;
  --custom-brand-color-1-text: #000;
  --custom-brand-color-1-dark: #dab317;
  --custom-brand-color-1-opacity-style-1: #ffcc0152;
  --custom-brand-color-2: #141414;
  --custom-brand-color-2-dark: #1c1c1c;
  --custom-brand-color-3-dark: #4e4e4e;
  --custom-brand-color-4-dark: #2f2f2f;

  --custom-brand-color-3: #ffcb01;
  --custom-brand-active-color-1: #ffcb01;
  --custom-brand-active-color-1-text: #000;
  --custom-brand-clickable-bg-1-dark: #4d4d4d;
  --custom-brand-clickable-bg-1-light: #777777;
  --custom-live-color: #dc3545;
  --custom-border-radius-1: 0.25rem;
  --custom-border-radius-2: 0.5rem;
  --custom-border-color: #212121;
  --color2: #888888;
}

:root {
  --cg-loader-color: var(--custom-brand-color-1) !important;
  --bouncing-cart-loader-bg: var(--custom-brand-color-1) !important;
}

@font-face {
  font-family: metropolis-regular;
  src: url(https://www.betaland.it/external_css/BETALAND_ONLINE/fonts/metropolis/Metropolis-Regular.eot),
    url(https://www.betaland.it/external_css/BETALAND_ONLINE/fonts/metropolis/Metropolis-Regular.woff)
      format('woff'),
    url(https://www.betaland.it/external_css/BETALAND_ONLINE/fonts/metropolis/Metropolis-Regular.woff2)
      format('woff2');
}

@font-face {
  font-family: metropolis-bold;
  src: url(https://www.betaland.it/external_css/BETALAND_ONLINE/fonts/metropolis/Metropolis-Bold.eot),
    url(https://www.betaland.it/external_css/BETALAND_ONLINE/fonts/metropolis/Metropolis-Bold.woff)
      format('woff'),
    url(https://www.betaland.it/external_css/BETALAND_ONLINE/fonts/metropolis/Metropolis-Bold.woff2)
      format('woff2');
}

html {
  #sposta-sb-1,
  #sposta-sb-2 {
    background-image: url(https://www.betaland.it/external_css/BETALAND_ONLINE/img/xsport/sposta-sb-1.png) !important;
  }

  #sposta-sb-1.attivo-sb,
  #sposta-sb-1:hover {
    background-image: url(https://www.betaland.it/external_css/BETALAND_ONLINE/img/xsport/sposta-sb-1-active.png) !important;
  }

  #sposta-sb-2.attivo-sb,
  #sposta-sb-2:hover {
    background-image: url(https://www.betaland.it/external_css/BETALAND_ONLINE/img/xsport/sposta-sb-2-active.png) !important;
  }

  #sposta-sb-3 {
    background-image: url(https://www.betaland.it/external_css/BETALAND_ONLINE/img/xsport/sposta-sb-3.png) !important;
  }

  #sposta-sb-3.attivo-sb,
  #sposta-sb-3:hover {
    background-image: url(https://www.betaland.it/external_css/BETALAND_ONLINE/img/xsport/sposta-sb-3-active.png) !important;
  }

  .xs-loader:after {
    border: 6px solid var(--custom-brand-color-1) !important;
    border-color: var(--custom-brand-color-1) transparent
      var(--custom-brand-color-1) transparent !important;
  }

  .back-to-top {
    color: var(--custom-white-color) !important;
  }

  .lampeggia,
  .colore-1.lampeggia {
    color: var(--custom-brand-active-color-1) !important;
  }

  .tabellaQuoteRisultatiParziali-risultatoParziale > p > span,
  .tempo-live > .lampeggia.tempo-live {
    color: var(--custom-brand-active-color-1) !important;
  }

  .paddles-box-partite > * {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .paddles-box-partite > * > i {
    color: var(--custom-white-color) !important;
  }

  .filtro-side-n {
    display: none;
  }

  #abilita-sort,
  .sortContainer {
    display: none !important;
  }
  body {
    .bianco,
    .bianco a,
    a.bianco,
    a .bianco {
      color: inherit !important;
    }
  }
  .intemporeale-sport span.colore-1,
  .voce-riduci {
    color: inherit !important;
  }

  .sottomenu-nav,
  .sottomenu-nav > .nav {
    justify-content: center !important;
    background-color: #212121 !important;
    margin: auto;
    padding-right: 90px;
  }

  .sottomenu-nav .active,
  .sottomenu-nav a:hover {
    border-bottom: none !important;
  }

  .sottomenu-nav li {
    position: relative;
  }

  .sottomenu-nav .active::after,
  .sottomenu-nav a:hover::after {
    content: ' ';
    width: 100%;
    height: 4px;
    background-color: var(--custom-brand-color-1);
    position: absolute;
    left: 0;
    bottom: -6px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .sposta-sidebar {
    padding: 0.5rem !important;
    display: none;
  }

  #tasto-mescola-sb {
    padding: 0 !important;
  }

  .sposta-sidebar .sposta-sb {
    padding: 0 !important;
  }

  .tool-scroll.bg-grigio {
    background-color: var(--custom-brand-clickable-bg-1-light) !important;
  }

  ul.slick-dots li.slick-active {
    background-color: var(--custom-brand-color-1) !important;
  }

  .tablesCompacted .tabellaQuoteRisultatiParziali {
    margin-bottom: 0 !important;
  }

  body {
    background-color: var(--custom-brand-color-2) !important;
  }

  .container-fluid.pagina-sport.bg-grigio-chiaro {
    background: 0 0 !important;
    background-color: var(--custom-brand-color-2) !important;
  }

  .carousel-indicators .active {
    background-color: var(--custom-brand-color-1) !important;
  }

  .autocomplete-search-results-popup-title-3:hover {
    background-color: var(--custom-brand-color-1-opacity-style-1) !important;
  }

  .selected-draws-collapsed-bet {
    color: var(--custom-brand-active-color-1) !important;
  }

  #sidebar-sx {
    background-color: transparent !important;
    border: 1px solid var(--custom-border-color);
  }

  .sidebar-sx-sport .widget-filtro-side {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .elemento-filtro-side-n.f-attivo {
    border-bottom: 3px solid var(--custom-brand-color-1);
  }

  .f-attiva {
    color: var(--custom-brand-color-1);
  }

  .filtro-settimana a:hover,
  .filtro-attivo-s {
    background: var(--custom-brand-color-1) !important;
    border-color: var(--custom-brand-color-1) !important;
  }

  .widget-competizioni-side .card.elemento-competizioni-widget {
    background-color: var(--custom-brand-color-2-dark) !important;
    padding: 7px 5px;
  }
  .widget-competizioni-side .card.elemento-competizioni-widget::before {
    display: none;
  }

  .regione-widget {
    background-color: var(--custom-brand-color-2) !important;
  }

  .paese-widget-sx {
    color: var(--custom-white-color);
  }

  .regione-widget .contenitore-evento-widget {
    background-color: transparent !important;
  }

  .regione-widget .contenitore-evento-widget .sotto-widget-evento {
    background-color: #595959 !important;
    color: var(--custom-white-color);
  }

  .regione-widget .contenitore-evento-widget .sotto-widget-evento hr {
    border-top: 1px solid #969696;
  }
  .apri-partite-in-evidenza.maiuscolo a {
    background: var(--custom-brand-color-3-dark);
    text-align: left;
    padding: 8px 10px;
    height: 30px;
    border-radius: 0;
    &:last-child {
      background: var(--custom-brand-color-1);
      color: var(--custom-brand-color-1-text) !important;
    }
  }
  .apri-partite-in-evidenza .margine-giu {
    margin-bottom: 0;
  }
  .elemento-competizioni-widget.singola-competizione:hover,
  .elemento-competizioni-widget.singola-competizione.competizione-attiva {
    background-color: #424242 !important;
  }
  body .elemento-competizioni-widget.singola-competizione {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .elemento-competizioni-widget.singola-competizione {
    background-color: var(--custom-brand-color-2-dark) !important;
    color: var(--custom-white-color) !important;
  }

  .tablesCompacted#primo-blocco-sport,
  .tablesCompacted#secondo-blocco-sport {
    background-color: var(--custom-brand-color-2) !important;
  }

  .tablesCompacted#primo-blocco-sport,
  .tablesCompacted#primo-blocco-sport .sport-live-suite .collapse.bg-bianco,
  .tablesCompacted#secondo-blocco-sport,
  .tablesExpanded#primo-blocco-sport,
  .tablesExpanded#secondo-blocco-sport {
    background-color: var(--custom-brand-color-2) !important;
  }

  .tablesExpanded#primo-blocco-sport .sport-live-suite .collapse.bg-bianco {
    background-color: var(--custom-brand-color-2-dark) !important;
    padding: 0.25rem 0;
  }

  .nav.nav-tabs > a.active,
  .nav.nav-tabs > a:hover {
    border-color: var(--custom-brand-color-1) !important;
    color: var(--custom-brand-color-1) !important;
  }

  .tasto-nav-quote-landing.padding-verticale {
    flex: 1 1;
    text-align: center;
    margin: 0px 1px;
    background: var(--custom-brand-color-4-dark);
  }

  .tasto-nav-quote-landing.padding-verticale.active {
    border-bottom: 0;
  }
  .elenco-macro.containerElementiDropdown > *,
  .elenco-macro ~ .dropdown-box .elemento-macro,
  .aggregate .elemento-macro-sub {
    background-color: var(--custom-brand-clickable-bg-1-dark) !important;
  }

  .aggregate.containerElementiDropdown > *,
  .aggregate ~ .dropdown-box .elemento-macro,
  .aggregate .elemento-macro-sub {
    background-color: var(--custom-brand-clickable-bg-1-light) !important;
    color: var(--custom-white-color) !important;
  }

  .dropdown-box {
    background-color: var(--custom-brand-clickable-bg-1-dark) !important;
  }

  .close-dropdown-box-btn {
    color: var(--custom-white-color) !important;
  }

  .elenco-macro > .elemento-macro.icona-selezionata,
  .elenco-macro > .elemento-macro:hover,
  .aggregate > .elemento-macro.icona-selezionata,
  .aggregate > .elemento-macro:hover,
  .aggregate > .elemento-macro-sub:hover,
  .aggregate
    > .elemento-macro-sub.icona-selezionata
    .dropdown-box-grid
    .elenco-macro
    > .elemento-macro.icona-selezionata,
  .dropdown-box-grid .elemento-macro:hover,
  .dropdown-box-grid .elemento-macro.icona-selezionata,
  .dropdown-box-grid .elemento-macro:hover,
  .dropdown-box-grid .elemento-macro-sub:hover,
  .dropdown-box-grid .elemento-macro-sub.icona-selezionata {
    background-color: var(--custom-brand-active-color-1) !important;
    color: var(--custom-black-color) !important;
  }

  .titolo-competizione-live.bg-grigio-scuro {
    background-color: (var(--custom-brand-color-4-dark)) !important;
    color: #fff !important;
    border-radius: 0;
    border-left: 2px solid var(--custom-brand-active-color-1);
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 10px;
  }
  .icons-container-no-wrap > .icona-selezionata figure.paese-icona-live:after,
  .icons-container-no-wrap figure.paese-icona-live:hover::after {
    transform: translateX(-50%) scale(0.9);
  }
  .icons-container-no-wrap > .icona-selezionata figure.paese-icona-live:after,
  .icons-container-no-wrap figure.paese-icona-live:hover::after {
    border-bottom: 10px solid var(--custom-brand-clickable-bg-1-dark) !important;
  }

  .tabellaQuoteIntestazione .tabellaQuoteAlias,
  .tabellaQuoteIntestazione .tabellaQuoteTempo,
  .tabellaQuoteIntestazione .tabellaQuoteCampetto,
  .tabellaQuoteIntestazione .tabellaQuoteSquadre,
  .tabellaQuoteIntestazione .tabellaQuoteStatistiche,
  .tabellaQuoteIntestazione .tabellaQuoteAltre,
  .tabellaQuoteIntestazione .tabellaQuoteIntestazione-GruppoQuote {
    color: #fff !important;
    background: #212121;
  }

  .tabellaQuoteIntestazione-GruppoQuote > p,
  .tabellaQuoteIntestazione .tabellaQuoteIntestazione-QuotaSingola > p {
    color: var(--color2) !important;
    font-size: 10px !important;
  }

  .la-soffiata-box.bg-bianco,
  .tablesCompacted .contenitore-table.bg-bianco {
    background-color: var(--custom-brand-color-2) !important;
  }

  .tablesExpanded .contenitore-table.bg-bianco {
    background-color: var(--custom-black-color);
    border-radius: 0;
    .tabellaQuoteContenitoreQuotazioni {
      .contenitoreSetQuotazioni {
        border-left: 1px solid var(--custom-brand-color-3-dark);
      }
    }
  }

  .tabellaQuoteIntestazione,
  .tablesExpanded .tabellaQuoteNew,
  .tablesExpanded .tabellaQuoteIntestazione.tabellaQuoteIntestazionePrematch {
    background-color: #323232 !important;
    border-radius: 0;
  }
  .contenitoreRiga:not(:last-child),
  .mb-2,
  .my-2 {
    margin-bottom: 0 !important;
  }
  .tabellaQuoteNew.text_s1.mb-2 {
    border-radius: 0;
    margin-top: 1px;
    padding: 0;
    background-color: var(--custom-brand-color-2-dark) !important;
    .tabellaQuoteCampetto {
      display: none;
    }
    .tabellaQuoteRisultatiParziali {
      grid-area: inherit;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      .tabellaQuoteRisultatiParziali-risultatoParziale {
        display: none;
      }
    }
  }

  .contenitore-table-grande {
    .tabellaQuoteIntestazione-GruppoQuote p {
      white-space: nowrap;
    }
  }

  .tabellaQuoteIntestazione .tabellaQuoteIntestazione-QuotaSingola,
  .tablesExpanded .tabellaQuoteNew,
  .tablesExpanded .tabellaQuoteIntestazione.tabellaQuoteIntestazionePrematch,
  .tabellaQuoteIntestazione button.dropdown-toggle span,
  .tablesExpanded .tabellaQuoteIntestazione-QuotaSingola .sortContainer i {
    color: #ffffff !important;
  }
  .sport-live-suite .img-flags.ico-cat {
    height: 20px;
    width: 20px;
    border-radius: 50px;
  }
  .stat-sel {
    color: var(--custom-white-color) !important;
  }

  .tabellaQuoteIntestazione.text_s1.mb-2 .dropdown-toggle::after {
    color: #ffd919;
  }

  .stat-sel:hover {
    color: var(--custom-brand-active-color-1) !important;
  }

  .tablesCompacted .tabellaQuoteNew .gridInterernaQuotazioni {
    background-color: transparent;
  }
  .tabellaQuoteNew.tabellaQuotePrematch {
    .contenitoreSingolaQuota {
      background: #323232 !important;
      &.selezionata {
        background: #fff !important;
      }
    }
  }
  .tablesCompacted .tabellaQuoteContenitoreQuotazioni {
    background-color: var(--custom-brand-color-2-dark) !important;
    border-radius: var(--custom-border-radius-2) !important;
  }

  .tablesCompacted {
    background-color: var(--custom-brand-color-2) !important;
  }

  .blocco-quote-espanse .scheda-giocata-sport,
  .tablesCompacted .tabellaQuoteNew {
    color: var(--custom-white-color) !important;
    font-weight: 700 !important;
  }
  .blocco-quote-espanse
    .scheda-giocata-sport
    .titolo-partita-top-match
    > .grigio {
    color: var(--custom-brand-active-color-1);
    font-weight: 600;
    text-transform: uppercase;
  }
  .blocco-quote-espanse {
    .titolo-partita-top-match.justify-content-center {
      justify-content: left !important;
      margin-bottom: 5px;
      margin-top: 3px;
      .titolo-partita-top-match-squadra {
        flex: initial;
        font-size: 12px;
        font-weight: 600;
      }
      .titolo-partita-top-match-separatore {
        color: var(--custom-white-color) !important;
      }
    }
  }
  .tabellaQuoteSquadreSeparatore,
  .titolo-partita-top-match-separatore {
    color: var(--custom-brand-color-1) !important;
    font-weight: 700 !important;
  }

  .totale-soffiata .sinistra span {
    color: var(--custom-white-color) !important;
  }

  .totale-soffiata > .sinistra > span > span {
    color: var(--custom-brand-color-3) !important;
  }

  .dropdown.fastbet-in-quote > .dropdown-menu {
    background-color: var(--custom-brand-color-2-dark) !important;
    color: var(--custom-white-color) !important;
  }

  .quote-extra-partita .tabella-quote-extra {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .tempo-live > .fraz-gioco.colore-1 {
    color: var(--custom-white-color) !important;
  }

  .tempo-live > .lampeggia.tempo-live {
    color: var(--custom-brand-active-color-1);
  }

  .contenitoreSingolaQuota,
  .quota-con-nome,
  .quota-widget-evento.quota {
    background-color: transparent !important;
    border: 0;
  }
  .risultatoEsattoGrid {
    .quota {
      padding: 2px;
    }
  }

  .gridInterernaQuotazioni button.dropdown-toggle {
    background-color: transparent !important;
    color: var(--custom-white-color) !important;
    outline: none !important;
  }

  .gridInterernaQuotazioni button.dropdown-toggle + .dropdown-menu {
    background-color: var(--custom-brand-color-2-dark) !important;
    color: var(--custom-white-color) !important;
  }

  .gridInterernaQuotazioni
    button.dropdown-toggle
    + .dropdown-menu
    > a.dropdown-item {
    color: var(--custom-white-color) !important;
  }

  .gridInterernaQuotazioni
    button.dropdown-toggle
    + .dropdown-menu
    > a.dropdown-item:hover {
    background-color: var(--custom-brand-color-2) !important;
    color: var(--custom-white-color) !important;
  }

  .contenitoreSingolaQuota:hover,
  .contenitoreSingolaQuota.selezionata,
  .contenitoreSingolaQuota:hover .tipoQuotazione_1,
  .contenitoreSingolaQuota.selezionata .tipoQuotazione_1,
  .contenitoreSingolaQuota:hover .titoloQuotazione,
  .contenitoreSingolaQuota.selezionata .titoloQuotazione,
  .quota-con-nome:hover,
  .quota-widget-evento.quota:hover,
  .quota-widget-evento.quota.selezionata {
    background-color: #fff !important;
  }
  .quota-con-nome.selezionata {
    background-color: var(--custom-brand-active-color-1) !important;
  }

  .titoloQuotazione,
  .tipologiaQuotazione_FormaCompatta,
  .quota-con-nome span:first-child,
  .quota-widget-evento.quota > *:first-child {
    color: var(--custom-white-color) !important;
  }

  .tipoQuotazione_1,
  .quota-con-nome span:last-child,
  .quota-widget-evento.quota > *:last-child {
    color: #fff;
  }

  .contenitoreSingolaQuota:hover,
  .contenitoreSingolaQuota.selezionata,
  .contenitoreSingolaQuota:hover .tipoQuotazione_1,
  .contenitoreSingolaQuota.selezionata .tipoQuotazione_1,
  .contenitoreSingolaQuota:hover .titoloQuotazione,
  .contenitoreSingolaQuota.selezionata .titoloQuotazione,
  .quota-con-nome:hover,
  .quota-con-nome.selezionata,
  .quota-con-nome:hover span:first-child,
  .quota-con-nome.selezionata span:first-child,
  .quota-con-nome:hover span:last-child,
  .quota-con-nome.selezionata span:last-child,
  .quota-widget-evento.quota:hover > span:first-child,
  .quota-widget-evento.quota.selezionata > span:first-child,
  .quota-widget-evento.quota:hover > span:last-child,
  .quota-widget-evento.quota.selezionata > span:last-child,
  .quota-widget-evento.quota:hover > *:last-child,
  .quota-widget-evento.quota.selezionata > *:last-child {
    color: #222 !important;
  }

  .blocco-quote-espanse .scheda-giocata-sport,
  .quote-extra,
  .quote-extra .tabella-quote-extra {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .titolo-giocate-extra {
    background-color: var(--custom-brand-color-2) !important;
  }

  .evento-attivo {
    border-left: 4px solid var(--custom-brand-color-1) !important;
  }

  .tabellaQuoteIntestazione button.dropdown-toggle span,
  .tablesExpanded .tabellaQuoteIntestazione-QuotaSingola > p,
  .quota,
  .contenitoreSingolaQuota,
  .tipoQuotazione_1,
  .scheda-giocata-sport > .titolo-partita-top-match ~ .titolo-partita-top-match,
  .gridInterernaQuotazioni button.dropdown-toggle {
    font-weight: bolder;
  }

  .fastbet.fbet-unariga {
    background-color: var(--custom-brand-color-2-dark) !important;
    color: #fff !important;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 10px;
    border-bottom: 0;
    .fastbet input.input-personalizzato {
      background: var(--custom-brand-color-4-dark) !important;
    }
  }

  .fastbet.fbet-unariga .fas.fa-question-circle {
    color: var(--custom-brand-clickable-bg-1-light) !important;
  }
  .titolo-widget-stampa {
    background-color: var(--custom-brand-active-color-1);
    color: var(--custom-brand-active-color-1-text);
    font-weight: 600;
    border-radius: 0;
  }
  .titolo-widget-stampa.bg-nero {
    background-color: var(--custom-brand-active-color-1);
    color: var(--custom-brand-active-color-1-text);
    font-weight: 600;
    border-radius: 0;
  }

  .scAggiuntive {
    border-bottom: 1px solid var(--custom-brand-active-color-1);
    padding: 0px 0;
    a.scAggiuntiva {
      padding: 10px 0;
      background: var(--custom-brand-color-4-dark);
      margin: 0px 1px;
    }
  }

  a.scAggiuntiva.active {
    color: var(--custom-brand-active-color-1) !important;
  }
  .widget-schedina-nav {
    background: var(--custom-brand-color-2-dark);
  }

  .numero-eventi-segni {
    background-color: var(--custom-brand-color-2-dark) !important;
    color: var(--custom-white-color) !important;
  }

  .numero-eventi-segni {
    background-color: var(--custom-brand-color-2-dark) !important;
    color: var(--custom-white-color) !important;
  }

  .tab-content.tabelleSchedineNumerate .tab-content.widget-schedina,
  .lista-eventi-schedina.carrello-desktop_container-elementi {
    background-color: var(--custom-brand-color-4-dark) !important;
  }

  .carrello-desktop_container-elementi > *,
  .inserimento-puntata,
  .disclaimerReservation,
  .reservationInputLabel {
    background-color: var(--custom-brand-color-2) !important;
    color: var(--custom-white-color) !important;
  }

  .grid-schedina-intestazione_contenitore-testo {
    color: var(--custom-white-color) !important;
    font-weight: 700;
  }

  .grid-schedina
    .grid-schedina-body
    .grid-schedina-body_quote
    .grid-schedina-body_quote-riga
    .grid-schedina-body_quote-riga_descrizione-quota {
    color: var(--custom-brand-active-color-1);
  }

  .widget-ultimi .contenuto-widget-ultime-v {
    border: none !important;
    height: calc(100vh - 590px);
    overflow: auto;
  }

  .widget-ultimi .cp-function-row,
  .contenuto-widget-ultime-v > .ultimi-ticket {
    color: var(--custom-white-color) !important;
  }

  .widget-ultimi .separationRow {
    display: none !important;
  }

  .widget-ultimi .control-panel-functions,
  .contenuto-widget-ultime-v > .ultimi-ticket {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .cp-function-row:hover,
  .contenuto-widget-ultime-v > .ultimi-ticket:not(.headerCol):hover {
    background-color: var(--custom-brand-color-2) !important;
    color: var(--custom-white-color);
  }

  .contenuto-widget-ultime-v > .ultimi-ticket.headerCol {
    color: var(--custom-brand-color-1) !important;
  }

  .carrello-fixed .box-vincita-potenziale .grassetto.verde {
    color: var(--custom-white-color) !important;
  }

  .grid-schedina
    .grid-schedina-body
    .grid-schedina-body_quote
    .grid-schedina-body_quote-riga
    .grid-schedina-body_quote-riga_descrizione-quota
    span:not(.variationDesc) {
    color: var(--custom-brand-active-color-1) !important;
  }

  .reservationRow,
  .reservationHeader {
    background-color: var(--custom-brand-color-2-dark);
    color: var(--custom-white-color);
    border: none;
    border-radius: var(--custom-border-radius-2);
  }

  .reloadReservationButton:hover {
    background-color: var(--custom-brand-color-1) !important;
  }

  .custom-switch-2 input:checked ~ .custom-switch-2-text {
    color: var(--custom-brand-color-3) !important;
  }

  .custom-switch-2 input:checked ~ .custom-slider-2 {
    background-color: var(--custom-brand-color-3) !important;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--custom-brand-color-3) !important;
    background-color: var(--custom-brand-color-3) !important;
  }

  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    border-color: var(--custom-brand-color-3) !important;
  }

  .lista-selezionabili
    .custom-control-input:checked
    ~ .custom-control-label::before {
    border-color: var(--custom-brand-color-1) !important;
    background-color: var(--custom-brand-color-1) !important;
  }

  .bouncing-cart-loader > div {
    background-color: var(--custom-brand-color-1) !important;
  }

  .loader-label {
    color: var(--custom-white-color) !important;
  }

  .grid-schedina .grid-schedina_bottone-generico:hover {
    color: var(--custom-brand-color-3) !important;
  }
  .grid-schedina .grid-schedina-intestazione_contenitore-testo {
    color: var(--color2) !important;
  }
  .grid-schedina
    .grid-schedina-body
    .grid-schedina-body_quote
    .grid-schedina-body_quote-riga:nth-child(even) {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .carrello-desktop_container-elementi .tabella-puntate-sistema {
    background-color: var(--custom-brand-color-2) !important;
  }

  .tabella-puntate-sistema .titolo-tps.bg-grigio-chiaro {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .tabella-puntate-sistema .campo-tps {
    border-right: none !important;
    border-bottom: 1px solid var(--custom-brand-color-2-dark) !important;
  }

  .carrello-fixed .vincita-potenziale {
    background-color: var(--custom-brand-color-2-dark) !important;
    color: var(--custom-white-color) !important;
  }

  .box-vincita-potenziale.bottoni-var-quote a.bottone,
  .box-vincita-potenziale.bottoni-var-quote a.bottone:hover {
    color: var(--custom-brand-color-1) !important;
  }

  .widget-ultimi.bg-bianco {
    background-color: transparent !important;
  }

  .contenuto-widget-ultime-v .d-grid.ultime-vincite {
    background-color: var(--custom-brand-color-2-dark);
    color: var(--custom-white-color) !important;
  }

  .contenuto-widget-ultime-v .d-grid.ultime-vincite:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  .contenuto-widget-ultime-v
    .d-grid.ultime-vincite
    > .info-schedina-ultime-v:nth-child(2),
  .contenuto-widget-ultime-v
    .d-grid.ultime-vincite
    > .info-schedina-ultime-v:last-child
    > p:first-child {
    color: var(--custom-brand-active-color-1) !important;
  }

  .icone-sport-centrale > .row {
    background: var(--custom-brand-color-2-dark);
    color: var(--custom-white-color) !important;
    padding: 8px 3px;
    text-transform: uppercase;
    a {
      color: var(--custom-brand-active-color-1) !important;
    }
    .grassetto.colore-1 {
      color: var(--custom-brand-active-color-1) !important;
    }
    .vincita-giorno {
      .fa-calendar-day,
      .fa-calendar-week {
        display: none;
      }
    }
    .day-win .trattino {
      width: 0 !important;
      font-size: 0;
    }
  }

  #primo-blocco-sport .slider-icone-sport {
    background-color: transparent !important;
  }

  #primo-blocco-sport .container-slider-icone {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  #primo-blocco-sport .titolo-blocco-sport,
  .live-in-prematch {
    background: var(--custom-brand-color-2-dark);
    color: var(--custom-white-color) !important;
  }
  .container-slider-icone-paese.has-icons-container-no-wrap {
    padding: 0 7px;
  }

  #primo-blocco-sport .titolo-blocco-sport span:first-child {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--custom-brand-active-color-1);
  }

  .live-in-prematch span::before {
    background-color: var(--custom-live-color) !important;
  }

  .icons-container-no-wrap:not(.icons-container-no-arrow)
    > .icona-selezionata
    figure.sport-icona-live:not(.sport-icona-live_template_2):after,
  .icons-container-no-wrap:not(.icons-container-no-arrow)
    figure.sport-icona-live:not(.sport-icona-live_template_2):hover::after {
    display: none;
  }

  .icona-slider-sport,
  .paese-icona-live {
    color: var(--custom-white-color) !important;
  }
  .icons-container .icona-slider-sport {
    border-right: 1px solid var(--custom-black-color);
  }

  .icona-selezionata figure.sport-icona-live,
  figure.sport-icona-live:hover,
  .icona-selezionata figure.paese-icona-live,
  figure.paese-icona-live:hover {
    color: var(--custom-brand-active-color-1) !important;
    border-bottom: 2px solid var(--custom-brand-active-color-1);
  }
  figure.paese-icona-live .ico-cat {
    height: 20px;
    width: 20px;
  }
  figure.paese-icona-live,
  figure.sport-icona-live {
    border-radius: 0;
  }

  .outrightsCont.bg-bianco,
  .outrightsCont .bg-bianco {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .outrightsCont > .collapse > a,
  .outrightsCont > .collapse > a::after {
    color: var(--custom-white-color) !important;
  }

  .competizione-sport {
    margin-bottom: 0.25rem;
  }

  .elenco-sport-box-dx img.attivo {
    border-bottom: 3px solid var(--custom-brand-active-color-1) !important;
    background-color: var(--custom-brand-active-color-1) !important;
  }

  .titolo-blocco-sport.bg-nero.bianco .nome-partita-sport,
  .ricerca-titolo-blocco-sport,
  .tool-multilive {
    text-transform: uppercase;
    font-weight: 700;
  }

  .scheda-top-match-nav {
    background-color: var(--custom-brand-color-2) !important;
  }

  .destra-top-match .titolo-blocco-sport {
    margin-top: 8px !important;
    background-color: var(--custom-brand-color-4-dark) !important;
    color: #fff !important;
    border-radius: 0;
    border-left: 2px solid var(--custom-brand-active-color-1);
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 10px;
  }

  .tempo-torneo-top-match {
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color2);
    font-weight: 600;
  }

  .blocco-interno-evento .info-evento-centrale {
    background-color: black;
    color: var(--custom-white-color) !important;
  }

  .blocco-interno-evento .toolbox-evento {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .selettore-colonne-evento a.selezionato-toolbox:after,
  .toolbox-evento .selettore-colonne-evento a:hover:after {
    background-color: var(--custom-brand-color-1) !important;
  }

  .competizione-interna.multibet-gruppo
    .sport-live-suite
    > *.bg-bianco:nth-child(3),
  .competizione-interna.multibet-gruppo
    .sport-live-suite
    .container-slider-box-partite
    .slider-box-partite,
  .box-slider-partite:last-child::after {
    background-color: transparent !important;
  }

  .competizione-interna.multibet-gruppo
    .sport-live-suite
    .container-slider-box-partite,
  .contenitore-multilive {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .sport-live-suite
    .container-slider-box-partite
    .slider-box-partite
    .box-slider-partite
    .titolo-box {
    background-color: var(--custom-brand-color-1) !important;
    color: #222;
  }

  .sport-live-suite
    .container-slider-box-partite
    .slider-box-partite
    .box-slider-partite
    .body-box-partite {
    background-color: var(--custom-brand-clickable-bg-1-dark) !important;
    border: 1px solid var(--custom-brand-clickable-bg-1-dark) !important;
    color: var(--custom-white-color) !important;
  }

  .contenitore-multilive
    .box-multilive
    .titolo-evento-multilive
    .info-evento-centrale {
    background-color: var(--custom-brand-color-2) !important;
    color: var(--custom-white-color) !important;
    margin-right: 0 !important;
  }

  .contenitore-multilive
    .box-multilive
    .titolo-evento-multilive
    .toolbox-multilive {
    background-color: var(--custom-brand-color-2) !important;
    color: var(--custom-white-color) !important;
  }

  .contenitore-multilive
    .box-multilive
    .titolo-evento-multilive
    .toolbox-multilive
    i {
    color: var(--custom-white-color) !important;
  }

  .blocco-filtro-calendario > * {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .filtro-giorni-cal.primo-filtro a {
    color: var(--custom-white-color) !important;
  }

  .filtro-giorni-cal.primo-filtro a:hover,
  .filtro-giorni-cal.primo-filtro a.active {
    border-bottom: 2px solid var(--custom-brand-color-1) !important;
  }

  .secondo-filtro a {
    color: var(--custom-white-color) !important;
  }

  a.filtro-attivo-cal-sport,
  .secondo-filtro a:hover {
    border-bottom: 3px solid var(--custom-brand-color-1) !important;
    color: var(--custom-brand-color-1) !important;
  }

  .container-tabella-calendario table,
  .container-tabella-calendario th,
  .container-tabella-calendario {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .container-tabella-calendario td {
    border-top: 1px solid #000 !important;
  }

  .container-tabella-calendario th,
  .container-tabella-calendario table {
    color: var(--custom-white-color) !important;
  }

  tbody tr:nth-of-type(odd) {
    background-color: var(--custom-brand-color-2-dark) !important;
    color: #fff;
  }

  tbody tr:nth-of-type(even) {
    background-color: var(--custom-brand-color-2) !important;
    color: #fff;
  }

  .finestra-stampa-ticket {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .finestra-stampa-ticket-intestazione {
    background-color: var(--custom-brand-color-1) !important;
    color: #222 !important;
  }
  .finestra-stampa-ticket-intestazione button {
    color: inherit !important;
  }
  .finestra-stampa-ticket-contenitore-ricerca-e-risultati {
    background-color: var(--custom-brand-color-2) !important;
    border: none !important;
  }

  .finestra-stampa-ticket-barra-ricerca input:last-child {
    background-color: var(--custom-brand-color-1) !important;
    color: var(--custom-white-color) !important;
    font-weight: 700;
    outline: none;
    border: none;
    padding: 0.25rem 1.5rem !important;
  }

  .finestra-stampa-ticket-risultati-ricerca thead tr,
  .finestra-stampa-ticket-risultati-ricerca thead tr th,
  .finestra-stampa-ticket-risultati-ricerca tbody tr,
  .finestra-stampa-ticket-risultati-ricerca tbody tr td {
    background-color: transparent !important;
  }

  .finestra-stampa-ticket-risultati-ricerca tr:hover {
    background-color: transparent !important;
  }

  .finestra-stampa-ticket-risultati-ricerca tbody tr:hover {
    background-color: var(--custom-brand-clickable-bg-1-dark) !important;
  }

  .finestra-stampa-ticket-risultati-ricerca tbody tr td,
  .finestra-stampa-ticket-bottone-stampa {
    color: var(--custom-white-color) !important;
  }

  #print-settings-dialog {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  #print-settings-dialog .finestra-stampa-ticket-contenitore-interno {
    background-color: var(--custom-brand-color-2) !important;
    color: var(--custom-white-color) !important;
  }

  .paddles-buttons-2 .left-paddle,
  .paddles-buttons-2 .right-paddle,
  .paddles-buttons-2 .down-paddle *,
  .left-paddle,
  .right-paddle,
  .left-paddle-paese,
  .right-paddle-paese,
  .dropdown.down-paddle,
  .down-paddle > button {
    background-color: var(--custom-brand-active-color-1) !important;
    color: var(--custom-brand-color-2-dark) !important;
  }

  .unaColonna .legenda {
    background-color: var(--custom-brand-color-2-dark) !important;
    color: var(--custom-white-color) !important;
  }

  .box-grande-sel .titolo-sport-sel,
  .box-grande-sel .box-paese > .nome-paese {
    background-color: var(--custom-brand-color-2-dark) !important;
  }

  .box-grande-sel .titolo-sport-stampa,
  .box-grande-sel .box-paese {
    background-color: var(--custom-brand-clickable-bg-1-dark) !important;
  }

  .box-grande-sel .titolo-sport-stampa,
  .box-grande-sel .titolo-sport-stampa > *,
  .box-grande-sel .box-paese,
  .box-grande-sel .titolo-sport-sel,
  .box-grande-sel .box-paese > .nome-paese,
  .box-grande-sel .lista-selezionabili {
    color: var(--custom-white-color) !important;
  }

  .xs-loader-container span:last-child {
    color: var(--custom-brand-color-1) !important;
  }

  .elementi-footer > .tasti-bottom {
    display: flex !important;
    position: absolute;
    background-color: transparent !important;
  }

  .elementi-footer.elementi-footer-chiuso footer {
    display: none !important;
  }

  .elementi-footer .tasti-bottom {
    transform: translateY(-100%);
  }

  .elementi-footer footer#nascondifooter {
    margin: 0 auto;
  }

  a.consulta-footer,
  a.consulta-chat {
    padding: 0.6rem 2rem !important;
    background-color: var(--custom-brand-color-1) !important;
  }

  .icone-controllo-sport-centrale img {
    width: 24px;
    height: 24px;
  }

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 0 solid #ffffff00;
    border-right: 0 solid #ffffff00;
    border-bottom: 0 solid #ffffff00;
  }

  #cg-profile-popup-container .dropdown-menu.bg-nero {
    background-color: var(--custom-brand-color-2-dark);
  }

  #cg-profile-popup-container .dropdown-menu.bg-nero .row.middle-account {
    background-color: var(--custom-brand-color-2);
  }

  #cg-session-expiration-modal .nero {
    color: #fff !important;
  }

  .xs-loader-container {
    background-color: var(--custom-brand-color-2);
  }

  .tablesExpanded .tabellaQuoteIntestazione .tabellaQuoteAlias:not(:empty),
  .tablesExpanded .tabellaQuoteIntestazione .tabellaQuoteTempo:not(:empty) {
    border-right: 1px solid #222;
  }
  .tablesExpanded .tabellaQuoteAlias:not(:empty),
  .tablesExpanded .tabellaQuoteTempo:not(:empty) {
    border-right: 0;
  }
}
:root {
  --moltiplicatore-font-size: 1.05;
}

@media screen and (min-width: 1024px) {
  body,
  html {
    font-size: 10px;
    font-size: calc(10px * var(--moltiplicatore-font-size));
  }

  .testo-piccolo {
    font-size: calc(0.9rem * var(--moltiplicatore-font-size));
  }

  .titolo_1 {
    font-size: calc(1.25rem * var(--moltiplicatore-font-size));
  }

  .icona-slider-sport,
  .icona-slider-paese {
    font-size: calc(1.2rem * var(--moltiplicatore-font-size));
  }

  .contenitore-multilive .info-evento-centrale {
    font-size: calc(1.25rem * var(--moltiplicatore-font-size));
  }

  body[data-available-table-space='1'] .tablesCompacted .text_s1 *,
  body[data-available-table-space='2'] .tablesCompacted .text_s1 * {
    font-size: calc(10px * var(--moltiplicatore-font-size));
  }

  body[data-available-table-space='3'] .tablesExpanded .text_s1 *,
  body[data-available-table-space='4'] .tablesExpanded .text_s1 * {
    font-size: calc(11px * var(--moltiplicatore-font-size));
  }

  .tablesExpanded .tabellaQuoteIntestazione-QuotaSingola .sortContainer i {
    font-size: calc(9px * var(--moltiplicatore-font-size));
  }

  .tabellaQuoteIntestazione button.dropdown-toggle span,
  .tablesExpanded .tabellaQuoteIntestazione-QuotaSingola > p {
    font-size: calc(8px * var(--moltiplicatore-font-size));
  }
}

@media screen and (min-width: 1200px) {
  body[data-available-table-space='1'] .tablesCompacted .text_s1 *,
  body[data-available-table-space='2'] .tablesCompacted .text_s1 * {
    font-size: calc(11px * var(--moltiplicatore-font-size));
  }

  body[data-available-table-space='3'] .tablesExpanded .text_s1 *,
  body[data-available-table-space='4'] .tablesExpanded .text_s1 * {
    font-size: calc(11px * var(--moltiplicatore-font-size));
  }
}

@media screen and (min-width: 1360px) {
  .contenitore-multilive .info-evento-centrale {
    font-size: calc(1.5rem * var(--moltiplicatore-font-size));
  }

  body[data-available-table-space='1'] .tablesExpanded .text_s1 *,
  body[data-available-table-space='2'] .tablesExpanded .text_s1 * {
    font-size: calc(10px * var(--moltiplicatore-font-size));
  }

  body[data-available-table-space='3'] .tablesExpanded .text_s1 *,
  body[data-available-table-space='4'] .tablesExpanded .text_s1 * {
    font-size: calc(11px * var(--moltiplicatore-font-size));
  }
}

@media screen and (min-width: 1440px) {
  body[data-available-table-space='1'] .tablesCompacted .text_s1 *,
  body[data-available-table-space='2'] .tablesCompacted .text_s1 * {
    font-size: calc(11px * var(--moltiplicatore-font-size));
  }

  body[data-available-table-space='3'] .tablesExpanded .text_s1 *,
  body[data-available-table-space='4'] .tablesExpanded .text_s1 * {
    font-size: calc(11px * var(--moltiplicatore-font-size));
  }
}

@media screen and (min-width: 1920px) {
  body,
  html {
    font-size: calc(12px * var(--moltiplicatore-font-size));
  }

  .testo-piccolo {
    font-size: calc(0.9rem * var(--moltiplicatore-font-size));
  }

  .titolo_1 {
    font-size: calc(1rem * var(--moltiplicatore-font-size));
  }

  .icona-slider-sport,
  .icona-slider-paese {
    font-size: calc(1rem * var(--moltiplicatore-font-size));
  }

  .contenitore-multilive .info-evento-centrale {
    font-size: calc(1.75rem * var(--moltiplicatore-font-size));
  }

  body[data-available-table-space='1'] .tablesExpanded .tabellaQuoteNew *,
  body[data-available-table-space='2'] .tablesExpanded .tabellaQuoteNew *,
  body[data-available-table-space='1']
    .tablesExpanded
    .tabellaQuoteIntestazione
    *,
  body[data-available-table-space='2']
    .tablesExpanded
    .tabellaQuoteIntestazione
    * {
    font-size: calc(12px * var(--moltiplicatore-font-size));
  }

  body[data-available-table-space='3'] .tablesExpanded .tabellaQuoteNew *,
  body[data-available-table-space='4'] .tablesExpanded .tabellaQuoteNew *,
  body[data-available-table-space='3']
    .tablesExpanded
    .tabellaQuoteIntestazione
    *,
  body[data-available-table-space='4']
    .tablesExpanded
    .tabellaQuoteIntestazione
    * {
    font-size: calc(12px * var(--moltiplicatore-font-size));
  }

  body[data-available-table-space='1'] .tablesExpanded .text_s1 *,
  body[data-available-table-space='2'] .tablesExpanded .text_s1 * {
    font-size: calc(12px * var(--moltiplicatore-font-size));
  }

  body[data-available-table-space='3'] .tablesExpanded .text_s1 *,
  body[data-available-table-space='4'] .tablesExpanded .text_s1 * {
    font-size: calc(12px * var(--moltiplicatore-font-size));
  }
}

@media screen and (min-width: 2560px) {
  body[data-available-table-space='1'] .tablesExpanded .text_s1 *,
  body[data-available-table-space='2'] .tablesExpanded .text_s1 *,
  body[data-available-table-space='3'] .tablesExpanded .text_s1 *,
  body[data-available-table-space='4'] .tablesExpanded .text_s1 * {
    font-size: calc(12px * var(--moltiplicatore-font-size));
  }

  .tablesExpanded .tabellaQuoteIntestazione-QuotaSingola .sortContainer i {
    font-size: calc(10px * var(--moltiplicatore-font-size));
  }

  .tabellaQuoteIntestazione button.dropdown-toggle span,
  .tablesExpanded .tabellaQuoteIntestazione-QuotaSingola > p {
    font-size: calc(9px * var(--moltiplicatore-font-size));
  }
}

@media screen and (min-width: 3840px) {
  body,
  html {
    font-size: calc(14px * var(--moltiplicatore-font-size));
  }

  .testo-piccolo {
    font-size: calc(0.9rem * var(--moltiplicatore-font-size));
  }

  .icona-slider-sport,
  .icona-slider-paese {
    font-size: calc(1rem * var(--moltiplicatore-font-size));
  }

  body[data-available-table-space='1'] .tablesExpanded .text_s1 *,
  body[data-available-table-space='2'] .tablesExpanded .text_s1 *,
  body[data-available-table-space='3'] .tablesExpanded .text_s1 *,
  body[data-available-table-space='4'] .tablesExpanded .text_s1 * {
    font-size: calc(14px * var(--moltiplicatore-font-size));
  }

  .tablesExpanded .tabellaQuoteIntestazione-QuotaSingola .sortContainer i {
    font-size: calc(10px * var(--moltiplicatore-font-size));
  }

  .tabellaQuoteIntestazione button.dropdown-toggle span,
  .tablesExpanded .tabellaQuoteIntestazione-QuotaSingola > p {
    font-size: calc(10px * var(--moltiplicatore-font-size));
  }
}

@media screen and (min-width: 1024px) {
  .tabellaQuoteIntestazione button.dropdown-toggle span,
  .tablesExpanded .tabellaQuoteIntestazione-QuotaSingola > p {
    font-size: calc(8px * var(--moltiplicatore-font-size)) !important;
  }
}

@media screen and (min-width: 2560px) {
  .tabellaQuoteIntestazione button.dropdown-toggle span,
  .tablesExpanded .tabellaQuoteIntestazione-QuotaSingola > p {
    font-size: calc(9px * var(--moltiplicatore-font-size)) !important;
  }
}

@media screen and (min-width: 3840px) {
  .tabellaQuoteIntestazione button.dropdown-toggle span,
  .tablesExpanded .tabellaQuoteIntestazione-QuotaSingola > p {
    font-size: calc(10px * var(--moltiplicatore-font-size)) !important;
  }
}

html {
  .autocomplete-search-results-popup-title {
    font-size: calc(18px * var(--moltiplicatore-font-size)) !important;
  }

  .autocomplete-search-results-popup-title-2 {
    font-size: calc(15px * var(--moltiplicatore-font-size)) !important;
  }

  .autocomplete-search-results-popup-title-3 {
    font-size: calc(12px * var(--moltiplicatore-font-size)) !important;
  }

  #secondo-blocco-sport .icone-torneo-top-match {
    display: none;
    &.img-fluid.altre-top-match.img-flags.ico-cat {
      display: flex;
    }
  }

  #secondo-blocco-sport .icona-sport,
  #secondo-blocco-sport .img-flags.ico-cat {
    height: 1.5rem;
    width: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    background-position: center;
    background-size: 1.5rem 1.5rem;
  }

  .bg-grigio-chiaro {
    background: var(--custom-brand-color-4-dark) !important;
  }
  .tasto-abilita-carrello-scrollable[data-carrello-scrollable-abilitato='true'] {
    color: inherit !important;
  }

  body .toggle-nascondi {
    min-width: auto;
    white-space: nowrap;
  }
  @media screen and (min-width: 1024px) {
    body div#sidebar-sx {
      max-width: 250px;
    }
  }

  .sr-bb .srt-neutral-10,
  .sr-bb .srt-neutral-8,
  .sr-bb .srt-neutral-9 {
    color: #fff;
  }
  span#reservation-number {
    color: #fff !important;
  }
  .up-arrow-on-overflow > * {
    background-color: #222;
  }

  .titolo-blocco-sport {
    min-height: 25px;
  }

  .tabellaQuoteIntestazione button.dropdown-toggle .uo-selezionato {
    color: #ffd919 !important;
  }

  ::-webkit-scrollbar-thumb {
    background: #d8b711 !important;
  }

  span.voce-riduci.bianco {
    font-weight: 100 !important;
  }

  .box-vincita-potenziale.testo-piccolo.bottoni-var-quote {
    width: 90%;
  }
  .tabellaQuoteTempo p {
    display: flex !important;
  }

  .tabellaQuoteTempo p::before {
    margin-right: 5px;
    margin-top: -2px;
    display: none;
    width: 15px;
    display: block;
    height: 15px;
    background-size: contain;
    background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/live2jz.svg);
  }

  .ricerca-titolo-blocco-sport input {
    height: 20px;
  }

  .ricerca-titolo-blocco-sport::before {
    content: '';
    display: block;
    background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/search-logo.svg);
    height: 15px;
    width: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    filter: invert(1);
  }
  .contenitore-table {
    // .tabellaQuoteNew {
    //   position: relative;
    // }
    .tabellaQuoteSquadre.pointer {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
    }
    .tabellaQuoteSquadreSeparatore {
      display: flex !important;
      font-size: 0 !important;
      &::before {
        content: ' - ';
        font-size: 14px !important;
      }
    }
    // .tabellaQuoteRisultatiParziali {
    //   position: absolute;
    //   left: 70%;
    //   top: -20px;
    // }
  }
}
[page='ingame'] {
  .tablesExpanded .tabellaQuoteRisultatiParziali {
    height: 20px;
  }
  .tablesExpanded .tabellaQuoteNew,
  .tablesExpanded .tabellaQuoteIntestazione {
    grid-template-columns: 104px 25px 1fr max-content 15px 45px;
  }
  .tablesExpanded .contenitoreSetQuotazioni {
    align-items: stretch;
  }
  .gridInterernaQuotazioni {
    border-left: 1px solid #505050;
    box-shadow: -1px 0px #000;
  }
  .tabellaQuoteNew.text_s1.mb-2 {
    padding-bottom: 0;
  }
  .tempo-live.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
}
// [page="ingame"] {
//   .tablesExpanded .tabellaQuoteNew,
//   .tablesExpanded .tabellaQuoteIntestazione {
//     grid-template-columns: 69px 29px 1fr max-content 19px 54px;
//     margin-bottom: 0 !important;
//   }
//   .tabellaQuoteNew.text_s1.mb-2 {
//     display: flex;
//     flex-flow: row;
//     margin-bottom: 0 !important;
//     padding-bottom: 0 !important;
//     box-shadow: 0px -1px #000;
//     border-top: solid 1px #505050;

//     > * {
//       order: 10;
//     }
//     .tabellaQuoteTempo {
//       width: auto;
//       order: 1;
//       .tempo-live.text-center {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         white-space: nowrap;
//       }
//       .risultato-live.grassetto {
//         display: none;
//       }
//     }
//     .tabellaQuoteCampetto {
//       width: 30px;
//       flex-shrink: 0;
//       order: 2;
//       img {
//         margin: 0 !important;
//       }
//     }

//     .tabellaQuoteContenitoreQuotazioni {
//       margin-left: auto;
//       width: auto;
//       order: 6;
//       flex-flow: row nowrap;
//       flex-shrink: 0;
//       .gridInterernaQuotazioni {
//         display: flex;
//         flex-flow: row nowrap;
//       }
//     }
//     .tabellaQuoteSquadre {
//       order: 4;
//       width: auto;
//       flex-grow: 0;
//       flex-shrink: 0;
//       max-width: 162px;
//     }
//     .tabellaQuoteRisultatiParziali {
//       order: 5;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       transform: none;
//       flex-grow: 1;
//       width: auto;
//       justify-content: flex-start;
//     }
//     .tabellaQuoteStatistiche {
//       flex-shrink: 0;
//       width: 35px;
//     }
//   }
//   body[data-available-table-space="2"]
//     .tablesExpanded
//     .gridInterernaQuotazioni
//     button.dropdown-toggle,
//   body[data-available-table-space="2"] .tablesExpanded .contenitoreSingolaQuota,
//   body[data-available-table-space="2"]
//     .tablesExpanded
//     .tabellaQuoteIntestazione-QuotaSingola {
//     min-width: 40px;
//     max-width: 40px;
//     flex-shrink: 0;
//   }
// }
html {
  .competizione-sport {
    .icons-container.force-grid-view {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
    .icons-container.force-grid-view > .elementoDropdown {
      min-width: 69px !important;
    }
  }

  .elemento-competizioni-widget {
    padding: 3px 5px;
  }
  .altezza-max-html {
    a.consulta-footer,
    a.consulta-chat {
      padding: 6px !important;
      white-space: nowrap;
    }
  }

  .elemento-competizioni-widget {
    padding: 3px 5px;
  }
  .altezza-max-html {
    a.consulta-footer,
    a.consulta-chat {
      padding: 6px !important;
      white-space: nowrap;
    }
  }
}
@import 'widget';
html {
  .widget-filtro-side div#collassaWidgetCompetition {
    border: 0;
  }
  .quote-extra .quota-con-nome span:last-child,
  .quota-widget-evento span:last-child {
    color: #ffda21;
  }

  .customPopup__content__body {
    color: black;
  }

  #cg-header {
    border-bottom: none;
  }

  .sottomenu-nav .active::after,
  .sottomenu-nav a:hover::after {
    display: none;
  }

  .container-fluid.fissato-alto #nascondimenu .row.barra-intermedia {
    width: 100%;
    padding: 0 15px;
  }

  .login-header .blocco-header .bottone-registrazione {
    border-radius: 4px;
    margin-left: 10px;
    border: 1px solid var(--accent);
    background: transparent;
    color: var(--col1) !important;
  }

  // left menu
  .widget-ricerca-side {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid var(--custom-border-color);
    border-top: 1px solid var(--custom-border-color);
    input {
      background: var(--custom-brand-color-2);
    }
  }
  .live-badge {
    background-color: var(--custom-brand-active-color-1);
    color: var(--custom-brand-active-color-1-text);
  }
}
