@font-face {
  font-family: metropolis-regular;
  src: url("https://#{$skinHost}/external_css/#{$skinName}/fonts/metropolis/Metropolis-Regular.eot"),
    url(https://#{$skinHost}/external_css/#{$skinName}/fonts/metropolis/Metropolis-Regular.woff) format("woff"),
    url(https://#{$skinHost}/external_css/#{$skinName}/fonts/metropolis/Metropolis-Regular.woff2) format("woff2");
}

@font-face {
  font-family: metropolis-bold;
  src: url(https://#{$skinHost}/external_css/#{$skinName}/fonts/metropolis/Metropolis-Bold.eot),
    url(https://#{$skinHost}/external_css/#{$skinName}/fonts/metropolis/Metropolis-Bold.woff) format("woff"),
    url(https://#{$skinHost}/external_css/#{$skinName}/fonts/metropolis/Metropolis-Bold.woff2) format("woff2");
}

:root {
  --cg-loader-color: #ffd800 !important;
  --bouncing-cart-loader-bg: #ffd800 !important;
}
html {
  body {
    font-family: metropolis-regular, sans-serif !important;
  }

  div#cg-landing-body {
    background: #e8e9eb;
    padding: 6px 2px;
    height: unset;
  }

  .cg-landing-section-container {
    background: 0 0;
  }

  .cg-landing-section-title {
    text-transform: capitalize !important;
  }

  div#cg-sport-live-container {
    background: #292929;
    color: #fff;
    border-radius: 4px 4px 0 0;
    height: unset;
  }

  .cg-live-item {
    border-radius: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  .cg-live-odds-container {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    order: 4;
  }

  .cg-live-period {
    padding-left: 15px;
  }

  .cg-odd-live,
  .esito,
  .esiti-container .esito {
    background: #2f2f2f !important;
    font-size: 1.15rem;
    border: unset !important;
    border-radius: 2px !important;
  }

  .cg-odd-live > .cg-bottom,
  .cg-live-item > .cg-info {
    border-top: unset;
    order: 1;
  }

  .cg-info {
    padding-top: 4px;
  }

  .cg-live-num-avvenimenti-sport {
    display: none;
  }

  .cg-live-sport-item {
    height: unset;
    padding-top: 10px;
    padding-bottom: 8px;
    order: 2;
  }

  .cg-info-tournament {
    justify-content: space-between;
    padding: 4px 15px;
  }

  .cg-match {
    order: 3;
  }

  .cg-match > div {
    font-size: 16px !important;
  }

  .cg-live-item:last-child {
    border-radius: 0 0 4px 4px !important;
  }

  input#input-search-events {
    padding: 0.5rem !important;
    border-radius: 4px;
  }

  nav#nav-temporal-filter {
    padding: 0 0.5rem;
    margin: 0;
    box-shadow: unset;
  }

  nav#nav-temporal-filter .nav-slider-item {
    text-transform: uppercase;
    color: #ccc !important;
  }

  div#menu-container {
    padding: 0.75rem;
  }

  #cg-pagina-sport div#menu-container {
    padding: 0;
  }

  .list-heading.inEvidenceHeadingElement,
  .list-heading.sportHeadingElement {
    display: block;
    height: auto;
    padding: 20px 1rem 10px;
    line-height: inherit;
    text-transform: uppercase;
    font-size: 13px;
  }

  .menu-container a.list-element.striped:last-child {
    border-bottom: none;
  }

  .nav-item-container.selected,
  .nav-slider-item-container.selected {
    border-bottom: 3px solid !important;
  }

  nav#nav-live-sports {
    border: 0;
  }

  nav#nav-live-sports .nav-item-container.selected,
  nav#nav-live-sports .nav-slider-item-container.selected {
    border-bottom: 3px solid #ffd800 !important;
    min-height: unset;
    margin: 0;
  }

  #nav-live-sports .sport-img-slider {
    min-width: 100px;
    height: unset;
    min-height: unset;
    background: #3e3e3e;
    margin: 0;
    border-bottom: 3px solid transparent;
  }

  #nav-live-sports .sport-img-container {
    align-items: center;
  }

  #nav-live-sports .sport-img {
    width: 20px;
    height: 20px;
  }

  #nav-bet-type,
  #nav-gruppi-scommessa {
    height: 50px;
  }

  #nav-bet-type .bet-type-selector,
  #nav-gruppi-scommessa .bet-type-selector {
    margin: 8px;
    border: none;
  }

  #nav-bet-type .nav-section-title.expandable:after {
    top: -2px;
    right: 2px;
  }

  .menu-container .list-element {
    font-size: 13px;
  }

  a.list-element.striped {
    padding: 0.75rem;
    background: #4b4b4b !important;
    color: #fff;
    min-height: unset !important;
    height: unset !important;
  }

  .nav-go-back .arrow-container {
    width: 50px;
  }

  .nav-go-back .av-section-title {
    font-size: 14px;
  }

  #nav-go-back .arrow-container:first-child {
    border-right: none;
  }

  .nav-item .arrow,
  .nav-go-back .arrow,
  .nav-breadcrumb {
    color: #111 !important;
  }

  .heading {
    background: 0 0 !important;
    border: unset !important;
    justify-content: flex-start !important;
    text-transform: uppercase;
    color: #111 !important;
  }

  .avvenimento {
    border-radius: 5px;
    padding: 10px 6px !important;
  }

  #cg-pagina-sport span.heading.text-medium {
    min-height: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: capitalize;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #main-container > .heading {
    margin-top: 10px;
    color: #fff !important;
  }

  .nome-avvenimento span {
    font-size: 16px;
    line-height: 1.25;
  }

  .esito hr {
    border-color: #00000040;
  }

  .esito .nome-esito {
    font-size: 9px;
    color: #fff;
  }

  .esito .quota-esito {
    font-size: 14px;
    color: #ffd800 !important;
  }

  .quota-esito {
    font-weight: 450;
    align-self: center;
  }

  .cg-odd-live.bet-selected,
  .esito.bet-selected {
    background: #ffd800 !important;
    color: #101010 !important;
  }

  .cg-odd-live.bet-selected span,
  .esito.bet-selected span {
    color: #101010 !important;
  }

  div#main-wrapper > #main-container > .avvenimento .info-score.push-right span {
    font-size: 16px;
  }

  div#main-wrapper > #main-container > .avvenimento .info-base {
    position: relative;
    padding-top: 0.25rem;
    align-items: center;
  }

  div#main-wrapper > #main-container > .avvenimento .arrow-container.arrow-container-small {
    position: absolute;
    right: 0;
  }

  .info-score {
    margin-right: 1.5rem !important;
    background: 0 0 !important;
  }

  .info-score > .text-small {
    font-size: 15px;
  }

  .esiti-container {
    background: #f7f8fa;
    color: #222;
    border-radius: 0 0 4px 4px;
  }

  #avvenimenti .esiti-container {
    padding: 0;
    background: 0 0;
    border-radius: 0 0 4px 4px;
  }

  li.list-element-quota {
    margin-bottom: 1rem;
  }

  span.current-period.text-small.push-right {
    color: #999 !important;
  }

  .main-content ul#oddslist {
    padding: 15px;
  }

  .main-content ul#oddslist li.list-element-quota.show {
    margin-bottom: 1rem;
  }

  .main-content ul#oddslist .list-element {
    background: #f7f8fa !important;
    border: 0;
    border-radius: 4px 4px 0 0;
    padding: 0.4rem !important;
    height: auto;
    font-size: 13px;
  }

  .main-content ul#oddslist .esiti-container {
    padding: 0.5rem !important;
    border-radius: 0 0 4px 4px !important;
  }

  .main-content ul#oddslist .esiti-container .esito {
    margin-right: 0.25rem !important;
  }

  .main-content ul#oddslist .esiti-container .esito:last-child {
    margin-right: 0 !important;
  }

  .cg-menuTabMobile .cg-selection-border {
    display: none;
  }

  .cg-buttons-row {
    box-shadow: unset;
    border-top: unset;
  }

  .cg-menuTabMobile {
    box-shadow: none !important;
  }

  .cg-odd-live > .cg-top {
    line-height: 1;
  }

  .cg-odd-live .cg-valore-quota.cg-bottom {
    line-height: 1;
  }

  .cg-live-odds-container .cg-odd-live {
    display: flex !important;
    align-items: center;
    flex-direction: column;
  }

  :root {
    --nav-selection-color: #ffd800;
    --popup-selection-color: #ffd800;
    --arrow-color: #ffd800;
    --quota-color: #ffd800;
    --notification-circle-color: #ffd800;
    --cg-loader-color: #ffd800 !important;
  }

  .topMenuElement {
    background: #3e3e3e;
  }

  nav#nav-live-sports {
    background: #101010;
    color: #fff;
    height: unset;
    min-height: unset !important;
    padding: 0;
  }

  .nav-slider-item-container.sport-img-slider .nav-slider-item {
    color: #fff !important;
    font-weight: 600;
  }

  .selected .nav-slider-item {
    color: var(--nav-selection-color) !important;
  }

  nav.nav-buttons-container {
    background: #272727;
    padding: 4px 0 !important;
    height: auto;
  }

  .nav-slider-container {
    background: #3e3e3e !important;
    padding-right: 40px;
    box-shadow: unset;
    position: sticky;
    // z-index: 99;
    min-height: unset;
    top: 60px;
    height: unset;
  }

  nav.nav-buttons-container {
    position: relative;
    z-index: 999;
  }

  span.arrow.arrow-right {
    color: #ffd800 !important;
  }

  .menu-container {
    margin-bottom: 0;
    border-bottom: 2px solid transparent;
  }

  .list-element.sport-collapse {
    background: #272727 !important;
    color: #f5f5f5;
    padding: 0.85rem 0.75rem;
    height: unset !important;
    min-height: unset !important;
    border-bottom: 1px solid rgba(255, 255, 255, 15%);
  }

  .nav-slider-button {
    box-shadow: -5px 0 4px rgba(0, 0, 0, 35%);
  }

  .betslip-bottom-bar {
    background: #272727;
    color: #fff;
    padding-left: 38px;
    justify-content: space-around !important;
  }

  a.info-avvenimento {
    background: #272727;
    color: #fff;
    max-width: calc(100% - 8px);
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    margin-top: 8px;
  }

  #avvenimenti .esiti-container {
    background: #272727;
    color: #fff;
    padding-bottom: 4px;
    max-width: calc(100% - 8px);
    margin: 0 auto;
    border-radius: 0;
    padding-left: 4px;
    padding-right: 4px;
  }

  .nome-avvenimento {
    text-align: left;
  }

  nav.nav-filters-wrapper {
    padding: 4px;
    height: auto;
    background: #272727;
    color: #fff;
  }

  .small-navbar-item.selected {
    border-color: #ffd800;
  }

  .label-desc-scom-vista-estesa {
    background: 0 0;
    width: 100%;
    max-width: calc(100% - 8px);
    margin: 0 auto;
    text-align: left;
    padding-left: 8px;
  }

  span.heading.text-medium {
    margin-top: 12px;
    padding-left: 12px;
    text-align: center !important;
    color: #fff !important;
    justify-content: center !important;
  }

  .main-content ul#oddslist {
    padding: 8px;
  }

  .cg-odd-live,
  .esito,
  .esiti-container .esito {
    border-radius: 0px !important;
    color: #ffd800 !important;
  }

  div#main-wrapper > #main-container > .avvenimento .info-avvenimento-live,
  .esiti-container {
    background: #272727;
    color: #fff;
  }

  .info-score {
    background: #fff !important;
    color: #222;
  }

  #cg-pagina-sport span.heading.text-medium {
    text-align: left;
    min-height: unset !important;
    height: unset;
    padding: 0.5rem;
  }

  .bg-colore-1 {
    background: #ffd800 !important;
  }

  .colore-1,
  .custom-switch-2 input:checked ~ .custom-switch-2-text {
    color: #ffd800 !important;
  }

  a.tasto-nav-quote-landing.active {
    border-color: #ffd800 !important;
  }

  .widget-schedina-giocate {
    background: #272727;
    color: #fff;
  }

  .custom-switch-2 input:checked ~ .custom-slider-2 {
    background-color: #ffd800;
  }

  .bg-grigio-chiaro {
    background: #3c3c3c;
  }

  button.bottone.bg-arancio.bianco.maiuscolo {
    background: #ffd800 !important;
    color: #323232 !important;
  }

  .carrello-fixed {
    //box-shadow: 0 -2px 4px rgba(0, 0, 0, 50%);
    background: #272727;
    padding: 6px;
  }

  .main-content ul#oddslist .list-element {
    background: #272727 !important;
    color: #fff;
    min-height: unset;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  body#cg-pagina-sport {
    background: #191919 !important;
    color: #fff;
  }

  nav#nav-temporal-filter {
    background: #272727 !important;
    color: #fff;
    position: sticky;
    top: calc(60px + 51px);
    z-index: 99;
  }

  nav#nav-temporal-filter .selected .nav-slider-item {
    color: inherit !important;
  }

  nav#nav-temporal-filter .selected {
    border-color: #ffd800 !important;
  }

  .nav-filters.expanded {
    background: #3e3e3e !important;
    color: #fff;
  }

  .xs-loader:after {
    border: 6px solid #ffd800;
    border-color: #ffd800 transparent #ffd800 transparent !important;
  }

  .info-avvenimento-live {
    padding-bottom: 0 !important;
    padding-top: 2px !important;
  }

  .esiti-container {
    padding-top: 0px;
  }

  .nav-filter-item.selected {
    background: linear-gradient(#e6c200 0%, #ffd800 25.12%, #e4c100 100%) !important;
    color: #222;
  }

  .nav-filters {
    height: auto !important;
  }

  .nav-filters .nav-filter-item.categoryLiveContainer.selected {
    background: linear-gradient(#e6c200 0%, #ffd800 25.12%, #e4c100 100%) !important;
    color: #222;
    border-radius: 4px;
  }

  .iconCategoryLive {
    margin: 0 5px;
  }

  body#cg-pagina-live {
    background: #101010;
    color: #fff;
  }

  .label-desc-scom-vista-estesa {
    color: #ccc;
    text-align: right;
    padding-right: 8px;
    font-style: italic;
    font-size: 8px !important;
    background: #272727;
    font-weight: 900;
  }

  nav#nav-go-back {
    background: #272727 !important;
    color: #fff;
    min-height: unset;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .nav-section-title.expandable::after,
  .nav-breadcrumb:after {
    color: inherit !important;
  }

  div#main-container > span.list-heading,
  div#avvenimenti > span.list-heading,
  div#last-minute-events > span.list-heading {
    width: 100%;
    background: #16291c !important;
    display: inline-block;
    height: unset !important;
    color: #fff !important;
    margin-bottom: -8px !important;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    padding: 6px;
  }

  nav#nav-vista-estesa {
    background: #3c3c3c;
    color: #ffd800;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: uppercase;
  }

  .topMenuElement.search-button {
    background: #ffd800;
    color: #222;
    height: 30px;
    min-width: 40px;
  }

  .nav-slider-button {
    background: #cacaca;
    height: 47px;
    top: 2px;
    width: 100%;
    max-width: 40px;
    box-shadow: -4px 0 9px rgba(0, 0, 0, 20%);
    border: 0;
    color: #222 !important;
  }

  .nav-slider-button i {
    font-size: 20px;
    margin-bottom: 2px;
  }

  .nav-slider-item-container.sport-img-slider {
    padding-top: 2px;
  }

  .nav-slider-item-container.topMenuElement {
    height: unset !important;
  }

  .nav-filter-item {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #f5f5f5;
  }

  .expanded .nav-filter-item {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 4px;
    min-height: unset;
    height: unset;
    background: #272727;
    color: #fff;
  }

  .expanded .nav-filter-item.selected {
    background: #ffd800 !important;
    color: #222 !important;
  }

  .nav-filters-close-button {
    right: 3px !important;
  }

  .nav-filters-close-button i.fa-times-circle {
    color: #ffffff73 !important;
    font-size: 15px;
    line-height: 1;
  }

  .nav-filters.expanded {
    background: #101010;
    color: #fff;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 25%);
  }

  span.ora-avvenimento.text-small.push-right {
    color: #ccc;
  }

  span.ora-avvenimento.text-small {
    color: #ccc;
  }

  nav#nav-go-back {
    border-bottom: 1px solid #33333314;
  }

  span.refresh-ico {
    filter: brightness(0) invert(1);
  }

  .nome-avvenimento span {
    font-size: 14px;
    line-height: 1.25;
    color: #fff;
    font-weight: 600;
  }

  .iconCategoryLive {
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    border: 0 !important;
  }

  .betslip-bottom-bar .details {
    min-width: unset;
  }

  .no-scroll,
  #panel,
  .custom-calc-pad-placeholder {
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .nav-slider-button i.fa-calendar-alt:before {
    content: "";
    height: 20px;
    width: 20px;
    background: url(https://www.betaland.it/external_css/BETALAND_ONLINE/img/calendario.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .nav-slider-item-container.topMenuElement .sport-img-container .sport-img {
    background-size: contain !important;
    width: 20px;
    height: 20px;
  }

  .sport-img-container {
    align-items: center;
    margin-right: 4px;
  }

  .betslip-bottom-bar .ticket {
    background: #3e3e3e;
  }

  .betslip-bottom-bar .triangle {
    border-color: transparent transparent transparent #3e3e3e;
  }

  span.details.push-right {
    margin: 0;
  }

  span.details.push-left {
    margin: 0;
  }

  .betslip-bottom-bar .ticket {
    background: #3c3c3c;
  }

  .betslip-bottom-bar .triangle {
    border-color: transparent transparent transparent #3c3c3c;
  }

  span.details.push-right {
    margin: 0;
  }

  span.details.push-left {
    margin: 0;
  }

  .container-carrello-mobile
    .container-carrello-mobile_intestazione
    .container-carrello-mobile_intestazione_inner-container_numero-ticket
    .counter_circle {
    background-color: #ffd800;
    color: #222;
  }

  .container-carrello-mobile .container-carrello-mobile_intestazione .button_custom_notification {
    background-color: #ffd800;
    color: #222;
  }

  .custom-radio-1 input:checked ~ .custom-radio-1_checkmark {
    background-color: #ffd800 !important;
    color: #222;
  }

  .container-carrello-mobile .container-carrello-mobile_intestazione button.selected i {
    color: #ffd800 !important;
  }

  div#custom-calc-pad-keys {
    background: #333;
    color: #fff;
  }

  .container-carrello-mobile .container-carrello-mobile_intestazione {
    background: #333;
    padding: 8px;
    line-height: 1.5;
  }

  div#custom-calc-numpad-payments {
    height: 100%;
    padding: 15px;
  }

  #custom-calc-pad-ok button span {
    background-color: #ffd800 !important;
    color: #000 !important;
  }

  div#custom-calc-pad-close span {
    background: #ffd800;
    color: #222;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #ffd800;
    background-color: #ffd800;
    color: #222;
  }

  div#custom-calc-pad-keys {
    background: #333;
    z-index: 99999999999999999999 !important;
  }

  .sticky {
    top: 60px;
  }

  #cg-search-event-button {
    display: none;
  }

  .main-content,
  div#cg-tabContainer {
    background: #222222 !important;
  }

  .nav-item .arrow,
  .nav-breadcrumb {
    color: #ccc !important;
  }

  .nav-go-back .arrow {
    color: #ffd800 !important;
  }

  nav.small-navbar {
    background: #272727;
  }

  span.arrow.arrow-collapse {
    color: #ffd800;
  }

  span.set-info.text-small.push-right {
    color: #fff !important;
  }

  .container-carrello-mobile
    .tabelleSchedineNumerate
    > *.tab-pane.active
    .tab-content
    .tab-pane.active
    .widget-schedina-giocate
    > * {
    background: #272727;
    color: #ccc;
  }

  .grid-schedina .grid-schedina-body .grid-schedina-body_quote .grid-schedina-body_quote-riga:nth-child(even) {
    background: #3c3c3c;
  }

  .container-carrello-mobile .tabella-puntate-sistema {
    background: #272727;
  }

  .campo-tps {
    border-color: #3c3c3c;
  }

  span.list-element-text {
    margin: 0 5px;
    font-size: 13px;
    text-transform: unset;
  }

  .input-container {
    margin-left: 2px;
    color: #101010 !important;
  }

  .input-container > #input-search-events {
    color: #101010 !important;
  }

  i.fas.fa-chevron-right {
    color: #ffd800 !important;
  }

  #xsport-container #main-wrapper #main-container .avvenimento .info-avvenimento-live i.fa.fa-star {
    color: rgba(255, 255, 255, 60%);
  }

  .event-desc:not(:last-child),
  .popup-content {
    border-color: #ffffff38 !important;
  }

  .nav-dropdown {
    background: #3c3c3c;
    border-color: #101010;
    width: auto;
    max-width: 55vw !important;
    min-width: 50vw !important;
  }

  .nav-dropdown > .selected {
    border-color: #fc0 !important;
    border-bottom-color: #ffffff47 !important;
  }

  .betslip-bottom-bar .details-name {
    color: #ffd800;
  }

  div#top-button {
    bottom: 100px !important;
    right: 5px !important;
  }

  span.push-left.push-right {
    color: #fff !important;
  }

  #xsport-container #main-wrapper #main-container .avvenimento .info-avvenimento-live i.fa.fa-star.giallo {
    color: #fc0;
  }

  .esito.bet-selected hr {
    border-color: rgba(0, 0, 0, 15%) !important;
  }

  .nav-slider-fav-icon {
    font-size: 20px;
  }

  .container-carrello-mobile .tabelleSchedineNumerate > *.tab-pane.active {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }

  .container-carrello-mobile
    .tabelleSchedineNumerate
    > *.tab-pane.active
    .tab-content
    .tab-pane.active
    .widget-schedina-giocate {
    width: 100%;
    max-width: 100%;
  }

  .container-carrello-mobile .tabelleSchedineNumerate > *.tab-pane.active .tab-content .tab-pane.active {
    padding: 0;
  }

  .container-carrello-mobile .carrello-fixed .vincita-potenziale {
    background: 0 0;
    color: #fff;
  }

  #panel.carrello-mobile {
    background-color: #333 !important;
  }

  div#tab-prenotazioni {
    background: #272727;
    color: #ffff;
  }

  div#last-minute-events .esiti-container {
    max-width: calc(100% - 8px);
    margin: 0 auto;
  }

  .cg-buttonMenuMobile.cg-acceso {
    background: #191919;
  }

  .heading .prematch-sport-img,
  .heading .sport-img,
  .iconCategoryLive {
    height: 18px;
    width: 18px;
  }

  .main-content {
    padding-bottom: calc(58px + 40px + 60px);
    min-height: calc(100vh - 158px);
  }

  .calendar-row {
    background: #3c3c3c;
    color: #ccc;
    font-size: 10px !important;
    line-height: 1;
  }

  .nav-slider-button.opacity-03 {
    opacity: 1;
  }

  .calendar-row,
  .calendar-row > div {
    border-color: #272727 !important;
  }

  div#stats-button {
    color: #ccc;
  }

  nav#nav-vista-estesa {
    margin-bottom: 4px;
  }

  .manif-heading {
    border-color: #ffffff0d !important;
  }

  .grid-schedina
    .grid-schedina-body
    .grid-schedina-body_quote
    .grid-schedina-body_quote-riga
    .grid-schedina-body_quote-riga_descrizione-quota
    span {
    color: #ffd800 !important;
    font-weight: 600;
  }

  .event-desc.selected {
    border-left-color: #ffd800 !important;
  }

  .container-risultati-parziali-mobile_risultato-singolo_descrizione {
    color: #ffd800;
  }

  .container-risultati-parziali-mobile_risultato-singolo:not(:last-child) {
    border-color: #fff;
  }

  .grid-schedina .grid-schedina_bottone-generico:active {
    color: #ffd800;
  }
  a.scAggiuntiva {
    color: rgb(58, 58, 58);
  }
  a.scAggiuntiva.active {
    color: #000;
    font-weight: 400;
  }
}

html .sr-bb {
  background: #272727 !important;
}

.betslip-bottom-bar {
  bottom: 57px !important;
}
