:root {
  --main-background: #ffcc00;
  --gray-color: #333333;
  --dark-background: #404040;
  --light-dark-background: #2d2d2d;
  --orange: #ffcc00;
}

.totocalcio__rigaQuote__titolo {
  background: var(--main-background) !important;
}

.totocalcio__titoloFormula {
  background: var(--dark-background) !important;
}

.totocalcio__casellaFormula.totocalcio__casellaFormula-selezionata .totocalcio__titoloFormula,
.totocalcio__casellaFormula.totocalcio__casellaFormula:hover .totocalcio__titoloFormula {
  background: var(--main-background) !important;
}

.totocalcio__rigaQuote__bloccoQuota__sx__competizione {
  color: var(--orange) !important;
}

.span.totocalcio__quota.totocalcio__quota-selezionata,
span.totocalcio__quota:hover {
  background: var(--orange) !important ;
}

span.totocalcio__quota.totocalcio__quota-selezionata,
span.totocalcio__quota:hover {
  background: var(--orange) !important;
}

.icona__chiudi {
  cursor: pointer;
}

body {
  background: var(--gray-color) !important;
  color: #fff !important;
}

.totocalcio__contenitoreDettagli,
.totocalcio__casellaFormula,
.d-flex.totocalcio__contenitoreCarrello {
  background-color: var(--dark-background) !important;
  color: #fff;
}

.totocalcio__titoloFormula {
  background: var(--light-dark-background) !important;
}

.totocalcio__rigaQuote {
  background: var(--dark-background) !important;
}

.totocalcio__rigaQuote__bloccoQuota__sx__match {
  color: #fff !important;
}
