//XSport

.cg-mybet-section {
  background: #333 !important;
}

.cg-mybet-section .light-grey-bg {
  background-color: #333 !important;
  color: white;
}

.cg-mybet-section .mybet-container {
  background: #333 !important;
  color: white !important;
}

.cg-mybet-section nav {
  background: #333 !important;
}

.cg-mybet-section .nav-slider-item {
  color: #fff !important;
}

.cg-mybet-section .nav-item-container.selected,
.nav-slider-item-container.selected {
  border-bottom: 3px solid #ffc600 !important;
}

.cg-mybet-section .circle {
  background: #ffc600 !important;

  color: #000 !important;
  font-weight: 600 !important;
}

.cg-mybet-section .grey {
  color: #c2c2c2 !important;
}

.cg-mybet-section .grey-box {
  background: #333 !important;
}

.winnings-box.justify-content-center.d-flex.flex-column.text-small.lost {
  width: 140px !important;
  max-width: 170px !important;
  text-align: center !important;
}

.winnings-box.justify-content-center.d-flex.flex-column.text-small.won {
  width: 140px !important;
  max-width: 170px !important;
  text-align: center !important;
}

#checkbet-logo-container {
  background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/sirplay_logo.svg) !important;
  background-repeat: no-repeat !important;
  z-index: 999999 !important;
  height: 60px !important;
  width: auto !important;
  margin-top: 10px !important;
  margin-left: 10px !important;
}

#checkbet-logo-container > img {
  display: none;
}
