@import "vars";

:root {
  --cg-ticket-background: #ffffff;
  --nav-text-color: #222 !important;
  --nav-item-color: #222 !important;

  --cg-altezza-header: 60px !important;
}
#cg-info-select-showed-container {
  background: #fff;
  color: #222;
}
.maiuscolo {
  text-transform: uppercase !important;
}

.oia-hide {
  display: none !important;
}

.cg-step-selector,
.cg-balance-selection.selected,
#cg-message-header .cg-info-go-back {
  background: 0 0 !important;
}

.cg-step-selector,
#pad-ok button span,
.cg-recover-separator,
.cg-signup-button-border > div,
div#cg-recover-button-fase1 > div,
.container-bet-bet-refill > .btn > div {
  text-shadow: none !important;
}

.quota-esito,
.list-element-info,
.cart-desc-draw-odd,
.nav-breadcrumb:after,
.cg-odd-live > .cg-bottom,
div#cg-pvr-fido-saldo-field,
span#cg-voucher-serial-search,
.nav-section-title.expandable::after {
  color: #fff !important;
}

#cg-slide-footer,
#cg-casino-button,
#gioco-responsabile-button,
div#cg-slide-foote,
#cg-footer-arrow-container,
#cg-betslip-button .cg-icon,
#cg-prematch-button .cg-icon,
.cg-buttons-row.secondary-button-row,
.prematch-sport-img #cg-live-button .cg-icon {
  display: none;
}

.btn-delete,
div#cancelbutton,
#pad-close > button > span {
  background-color: #f44336 !important;
}

body,
.striped,
#cg-pvr-body,
#nav-bet-type,
.message-box,
.cg-live-item,
.wrapper-cart,
.list-element,
.overlay-content,
.cg-recover-body,
.esiti-container,
.cg-tabLayerMobile,
.cart-fixed-content,
#nav-classe-scommessa,
.striped:nth-of-type(2n),
.cg-wrapper-login-section,
#nav-classe-scommessa span,
.cg-landing-section-container,
#popup-bet-type .popup-content,
.list-element-quota .esiti-container,
#popup-tipo-scommessa .popup-content,
#popup-category-filter .popup-content,
#popup-classe-scommessa .popup-content,
#popup-gruppo-scommessa .popup-content,
#cg-pvr-confirm-popup .cg-header-popup-title,
.bet-type-selector.expandable.nav-section-title {
  background-color: #272727 !important;
}

.tab-pane,
.cg-odd-live,
.cg-nav-go-back,
#betting_section,
.cg-field-wrapper,
.cg-function-field,
.effectiveCartContainer,
.cg-step-selector.disabled,
.sport-heading.text-medium,
#nav-search-events .input-container {
  background-color: #1a1a1a !important;
}

.btn-play,
.info-score,
div#top-button,
.border-bottom,
.manif-heading,
.cg-loginButto,
.cg-loginButton,
.vincita-totale,
.reservationRow,
.cg-buttons-row,
nav.cg-top-navbar,
.cart-sign-counters,
#pad-ok button span,
div#cg-left-side-menu,
div#cg-slide-menu-top,
.cg-signup-top-navbar,
.cg-recover-top-navbar,
.cg-signup-button-border,
.cg-signup-section-header,
.reservationAreaContainer,
.sistemi-result-ncomb-title,
.sistemi-result-import-title,
.cg-step-selector.cg-selected,
.headerPrenotazioniEffettuate,
.cg-live-num-avvenimenti-sport,
.cg-balance-selection.selected,
#cg-date-to-container-activity,
.ui-state-default.ui-state-active,
.reservationRow:nth-child(2n + 0),
.cg-radio-button.cg-radio-clicked > div,
.system-master.system_live_entry:before,
.system-master > .result-letter-box.oven,
.coupon-result-text-box.multiple_live_entry:before,
.cg-live-sport.cg-acceso > .cg-live-sport-underline,
.cg-field-container.cg-function-field.cg-lastFieldContainer {
  background-color: #272727 !important;
}

.toast,
.btn-reserve,
.single_number,
.multiple_number,
div#prenotabutton,
.warningEntryCart,
.questionEntryCart,
.esito.bet-selected,
.cg-odd.cg-selected,
.cg-notification-circle,
.cg-header-popup-button,
.cg-odd-live.cg-selected,
#cg-slide-preleva-button,
div#cg-slide-login-button,
.cg-recover-button-border,
.cg-signup-error-container,
.cg-odd-antepost.cg-selected,
div#cg-logged-section-logout,
#cg-message-header .cg-info-go-back,
.cg-iconContainer .cg-selection-border,
.reservationRow > .reloadReservationButton,
.formReloadReservation > .reloadReservationButton,
#cg-pvr-confirm-popup .cg-signup-popup-button .formReloadReservation > .reloadReservationButton {
  background-color: #ffcc00 !important;
  color: black !important;
}

#cg-sport-live-container,
.cg-no-ticket.cg-function-field,
#cg-unloggedMask > .cg-inputContainer > input {
  background-color: #272727 !important;
}

.heading,
.nav-go-back,
.main-content,
.popup-content,
#cg-landing-body,
#nav-temporal-filter,
#nav-gruppi-scommessa,
.cg-recover-separator,
.sr-widget .sr-header-1,
#nav-go-back .popup-content,
.sr-widget .sr-lmts.sr-lmts-pitch-crowd .sr-scoreboard-head {
  background-color: #101010 !important;
}

input[type="checkbox"].bigcheckbox:checked + label::after,
input[type="checkbox"].systemCheckbox + label::after {
  color: #ffd800 !important;
}

.single_number,
.multiple_number,
#cg-message-header .cg-cross,
div#cg-logged-section-logout,
#cg-message-header .cg-info-go-back,
.formReloadReservation > .reloadReservationButton {
  color: #000 !important;
}

.cg-odds-color,
.cg-notification-circle,
#cg-slide-preleva-button,
div#cg-slide-login-button,
.esito.bet-selected .nome-esito,
.esito.bet-selected .quota-esito,
div#cg-recover-button-fase1 > div,
.cg-odd-live.cg-selected > .cg-top,
.cg-odd.cg-selected > .cg-odd-right,
.cg-odd-live.cg-selected > .cg-bottom,
.cg-odd-antepost.cg-selected > .cg-top .cg-odd-antepost.cg-selected > .cg-bottom {
  color: #101010 !important;
  font-weight: 600;
}

.arrow,
.heading,
.mainText,
.btn-play,
.event-desc,
.btn-delete,
.nome-esito,
.avvenimento,
.cg-odd-live,
.list-heading,
.cg-live-item,
.combinations,
.cg-loginLabel,
.manif-heading,
.errorEntryCart,
.vincita-totale,
.cart-desc-scom,
.overlay-content,
#cg-signup-title,
.cg-from-to-title,
.cart-total-price,
.cg-field-wrapper,
.split-stake-label,
.list-element-text,
.cg-step-selector,
#pad-ok button span,
.cg-live-text-sport,
.ui-datepicker-title,
.coupon-result-title,
div#cg-slide-footer2,
#input-search-events,
.cg-slide-cross-color,
.cg-recover-separator,
.cg-loginButton > div,
#nav-classe-scommessa,
.cg-signup-input-label,
.cg-slide-title > span,
.cg-odd-live > .cg-top,
.cg-slide-button-label,
.cg-recover-input-label,
.cg-arrow.cg-arrow-left,
.cg-registerButton > div,
.cg-signup-section-title,
div#cg-recover-text-alert,
.tab-coupon-final-divider,
.sistemi-result-check-box,
div#cg-slide-section-title,
.cg-signup-input-container,
.restorePasswordLink > span,
div#cg-message-section-option,
#cg-live-button .cg-labelMenu,
.headerPrenotazioniEffettuate,
#cg-contoButton .cg-labelMenu,
#cg-date-to-container-activity,
.cg-no-ticket.cg-function-field,
#cg-date-from-container-activity,
#cg-betslip-button .cg-labelMenu,
#cg-activity-button-search > div,
#cg-mybet-button .cg-labelMenu,
#cg-prematch-button .cg-labelMenu,
.cg-icoUserContainerLoggedSection,
div#cg-date-from-container-voucher,
#cg-message-header .cg-message-title,
.cg-field-container .cg-filled-label,
.modifiche_quote_section > div > label,
input#input-search-events::placeholder,
#cg-pvr-go-back .cg-arrow.cg-arrow-left,
#cg-pvr-crea-conto-button .cg-labelMenu,
.cg-signup-button-border.cg-detail > div,
#cg-pvr-conto-scratch-button .cg-labelMenu,
#cg-pvr-conto-ricarica-button .cg-labelMenu,
#cg-pvr-confirm-popup .cg-header-popup-title,
#cg-unloggedMask > .cg-inputContainer > input,
.cg-signup-button-border.cg-detail-input > div,
.bet-type-selector.expandable.nav-section-title,
input[type="checkbox"].bigcheckbox + label::before,
input[type="checkbox"].systemCheckbox + label::before,
.cg-field-container.cg-function-field.cg-lastFieldContainer,
.cg-field-container span.cg-arrow.cg-arrow-right.cg-function-arrow {
  color: #fff !important;
}

.toast,
.message-box,
.errorEntryCart,
.vincita-totale,
.cg-signup-input,
.cg-slide-buttons,
.cg-field-wrapper,
.cg-step-selector,
.sistemi-input-result,
.cg-header-popup-title,
.cg-signup-popup-button,
.cg-signup-button-border,
.reservationAreaContainer,
.cg-signup-error-container,
.cg-slide-alternative-button,
.coupon-multiple-amount-input,
.container-bet-bet-refill > .btn,
#cg-unloggedMask > .cg-inputContainer > input,
.formReloadReservation > .reloadReservationButton {
  border: none !important;
}

.heading,
.tab-pane,
.cg-nav-go-back,
.cg-info-go-back,
.cg-recover-separator,
.effectiveCartContainer,
.cg-recover-button-border,
.cg-no-ticket.cg-function-field,
.ui-state-default.ui-state-active,
#nav-search-events .input-container,
#popup-category-filter .popup-content,
#popup-classe-scommessa .popup-content,
#popup-gruppo-scommessa .popup-content,
#nav-go-back .popup-content #popup-bet-type .popup-content,
#cg-message-header .cg-info-go-back #popup-tipo-scommessa .popup-content {
  border: none !important;
}

.heading,
.mainText,
.nome-esito,
.avvenimento,
.quota-esito,
.combinations,
.nav-breadcrumb,
.cart-desc-scom,
.vincita-totale,
.cart-total-price,
.nav-section-title,
.split-stake-label,
.list-element-text,
.list-element-info,
.nav-pills > li > a,
.cart-desc-draw-odd,
.coupon-result-title,
#nav-classe-scommessa,
#cg-slide-preleva-button,
div#cg-slide-login-button,
.sistemi-result-check-box,
div#cg-logged-section-logout,
#cg-live-button .cg-labelMenu,
#cg-contoButton .cg-labelMenu,
#cg-mybet-button .cg-labelMenu,
#cg-betslip-button .cg-labelMenu,
.container-bet-bet-refill > .btn,
#cg-prematch-button .cg-labelMenu,
div#cg-recover-button-fase1 > div,
#nav-temporal-filter .nav-slider-item,
#cg-pvr-crea-conto-button .cg-labelMenu,
.reservationRow > .reloadReservationButton,
#cg-pvr-conto-scratch-button .cg-labelMenu,
#cg-pvr-conto-ricarica-button .cg-labelMenu,
.formReloadReservation > .reloadReservationButton,
.cg-notification-circle {
  font-weight: 600 !important;
  font-family: lato, sans-serif;
}

#cg-landing-body,
#nav-search-events {
  top: 60px;
}

.cg-signup-popup-logo,
.cg-nav-logo,
.cg-signup-logo,
.cg-recover-logo {
  background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/newlogo_sirplay.svg) !important;
}
.cg-nav-logo {
  width: 100%;
  max-width: 170px;
}
.cg-signup-popup-logo {
  margin: 10px 0;
}

#cg-contoButton i.cg-icon.cg-ico-user-logged,
.cg-wrapper-login-section .cg-ico-user,
.cg-icoUserContainerLoggedSection .cg-ico-user {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/user-logged.svg) !important;
}

.cg-homeMenuIcoLite {
  background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/menu%20logo.svg) !important;
}

#cg-slide-home-button .cg-slide-icon.cg-slide-ico-home {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/home.svg) !important;
}

#cg-slide-prematch-button .cg-slide-icon.cg-slide-ico-prematch,
#cg-slide-prematch-button .cg-slide-icon.cg-ico-prematch {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/prematch-slide-menu.svg) !important;
}

#cg-slide-live-button .cg-slide-icon.cg-ico-prematch {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/prematch.svg) !important;
}

#cg-slide-casino-button .cg-slide-icon.cg-ico-casino {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/casino.svg) !important;
}

#cg-betaland-casino-button .cg-ico-cg-betaland-casino-button {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/casino.svg) !important;
}

#cg-slide-poker-button .cg-slide-icon.cg-slide-ico-poker {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/poker-slide-menu.svg) !important;
}

#cg-betaland-poker-button .cg-ico-cg-betaland-poker-button {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/poker-slide-menu.svg) !important;
}

#cg-slide-lotterie-button .cg-slide-icon.cg-slide-ico-lotterie {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/bingo-slide-menu.svg) !important;
}

#cg-betaland-bingo-button .cg-ico-cg-betaland-bingo-button,
.cg-slide-ico-bingo {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/bingo-slide-menu.svg) !important;
}

#sh-lotterie-mobile .cg-slide-icon.cg-ico-sh-lotterie-mobile {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/lotterie-slide-menu.svg) !important;
}

#cg-betaland-lotterie-button .cg-ico-cg-betaland-lotterie-button {
  background-image: url(https://stag-resource.betaland.it/images/betaland/svg/lotterie-slide-menu.svg) !important;
}

#cg-slide-carte-button .cg-slide-icon.cg-slide-ico-carte {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/carte-slide-menu.svg) !important;
}
.cg-slide-ico-virtual,
.cg-slide-ico-ippica,
.cg-slide-ico-gv {
  filter: invert(1);
}
#cg-betaland-skill-button .cg-ico-cg-betaland-skill-button {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/carte-slide-menu.svg) !important;
}

#cg-slide-promo-button .cg-slide-icon.cg-slide-ico-promo {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/promo.svg) !important;
}

#cg-search-event-button .cg-searchIcoLite {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/search-icon.svg) !important;
}

.cg-signup-userdata-icon {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/user.svg) !important;
}

.cg-signup-document-icon {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/id-card.svg) !important;
}

.cg-signup-home-icon {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/home.svg) !important;
}

.cg-signup-mobile-icon {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/phone-call.svg) !important;
}

.cg-signup-account-icon {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/locked.svg) !important;
}

.cg-signup-deposit-icon {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/wallet.svg) !important;
}

.cg-signup-check-icon {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/check-mark.svg) !important;
}

.cg-ico-pvr-scratch-card {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/scratch-card.svg) !important;
}

.cg-ico-pvr-ricarica-conto {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/ricarica-conto.svg) !important;
}

.cg-ico-pvr-crea-conto {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/crea-conto.svg) !important;
}

.cg-ico-sh-casino-classic {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/casino-classic.svg) !important;
}

.cg-ico-sh-casino-live,
.cg-slide-ico-casino-live {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/casino-live.svg) !important;
}

#cg-betaland-livecasino-button .cg-ico-cg-betaland-livecasino-button {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/casino-live.svg) !important;
}

.top-arrow {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/top.svg) !important;
}

.cg-ico-pvr-refresh-arrows {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/refresh-arrows.svg) !important;
  background-size: 100%;
}

#cg-slide-app-buttons .cg-slide-scroll-buttons-row {
  margin-bottom: 0;
}

#cg-slide-app-buttons .cg-slide-scroll-buttons-row .cg-slide-scroll-button.cg-app {
  display: contents;
}

#cg-slide-app-buttons .cg-slide-scroll-buttons-row .cg-slide-scroll-button.cg-app .cg-slide-icon-container {
  flex-direction: row;
  border: 2px solid #ffcc00;
  border-radius: 10px;
  width: 90%;
  background-color: transparent;
  padding: 13px;
}

#cg-slide-app-buttons
  .cg-slide-scroll-buttons-row
  .cg-slide-scroll-button.cg-app
  .cg-slide-icon-container
  .cg-slide-icon.cg-app {
  height: 30px;
  display: none;
}

#cg-slide-app-buttons
  .cg-slide-scroll-buttons-row
  .cg-slide-scroll-button.cg-app
  .cg-slide-icon-container
  .cg-slide-button-label {
  font-weight: 700;
  font-size: 1rem !important;
  line-height: 15px;
  color: white !important;
  display: flex;
  align-items: center;
}

.overlay-content {
  height: calc(100% - 60px) !important;
  padding-top: 8px;
}

#cg-search-event-button {
  width: 40px;
}

.cg-banner-container {
  ///margin: 20px;
  margin: 0px;
}

nav.cg-top-navbar {
  height: 60px;
}

nav.cg-top-navbar > div:first-child {
  justify-content: flex-start !important;
}

nav.cg-top-navbar .cg-navbar-item.cg-nav-buttons-container #cg-extenal-chat a {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.cg-navbar-item.cg-nav-buttons-container {
  justify-content: flex-end;
  padding: 0 !important;
}

.cg-liteButton {
  width: 60px;
  height: 60px;
}

#cg-menu-button.cg-liteButton {
  border-right: 2px solid #2e7e46;
}

span.cg-deposit-button.cg-text-medium {
  margin-right: 16px;
  font-size: 12px !important;
  display: none;
}

div#cg-slide-signup-button,
#cg-slide-deposita-button {
  background-color: transparent;
  border: 0px solid #fff !important;
}

div#cg-slide-menu-top {
  padding-bottom: 16px;
  height: auto;
}

div#cg-slide-top-container {
  padding: 8px;
}

.cg-slide-button-label {
  font-size: 0.7rem !important;
}

#nav-container {
  padding-top: 60px !important;
}

.cg-tabLayerMobile {
  top: 60px !important;
  height: calc(100% - 118px) !important;
}

div#cg-loggedMask {
  padding: 8px !important;
  margin: 0 !important;
}

.cg-field-wrapper {
  width: 100% !important;
  margin: 0;
  margin-top: 16px;
  padding: 0 !important;
}

.cg-function-field {
  border-radius: 0 !important;
}

.cg-field-container.cg-function-field.cg-lastFieldContainer {
  border-radius: 0 !important;
}

.cg-field-container .cg-filled-label {
  text-align: left;
  padding-left: 16px;
}

.cg-field-container .cg-filled-field {
  text-align: right;
  padding-right: 16px;
  font-size: 14px !important;
}

#cg-unloggedMask > .cg-inputContainer > input {
  text-align: left;
  padding-left: 16px;
}

#cg-unloggedMask > .cg-inputContainer > input::placeholder {
  color: #b5b5b5;
}

.cg-loginButton {
  border-radius: 0;
}

.cg-registerButton {
  border: 2px solid #fff;
  border-radius: 0;
}

#nav-temporal-filter,
.nav-go-back {
  height: 50px;
}

#nav-temporal-filter .nav-slider-item,
.nav-section-title,
.nav-breadcrumb {
  font-size: 13px;
}

#nav-classe-scommessa span {
  border-right: 1px solid #707070;
}

.nav-item-container.selected,
.nav-slider-item-container.selected {
  border-bottom-color: #ffd800 !important;
}

#nav-temporal-filter .nav-slider-item-container {
  width: 25%;
}

.event-desc.selected {
  border-left-color: #ffd800 !important;
}

#nav-gruppi-scommessa {
  height: 50px;
  padding: 6px;
}

.bet-type-selector.expandable.nav-section-title {
  border: 0;
  margin: 0;
}

#classe-scommessa-selector {
  border-right: 1px solid #707070;
}

#nav-bet-type {
  height: 50px;
  border-radius: 0;
  padding: 6px;
}

#category-filter {
  font-size: 16px;
  text-transform: uppercase;
  border-right: 1px solid #707070;
}

.nav-pills {
  height: 50px;
}

.cart-tab-content {
  padding-top: 120px !important;
}

.coupon-button-box {
  padding-top: 60px !important;
}

.nav-pills > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 14px;
  line-height: unset;
}

#nav-classe-scommessa {
  height: 100%;
  min-height: 50px;
  padding: 8px;
  border-bottom: 1px solid #101010;
}

#nav-live-sports {
  min-height: 75px;
  padding-top: 5px;
  height: 100%;
}

.sport-img-slider {
  min-width: 75px;
  min-height: 75px;
}

.sport-img-container {
  height: 100%;
}

.sport-img {
  margin: 10px auto;
}

.nav-slider-item {
  font-size: 12px;
  font-weight: 400;
}

.toast {
  top: 63px !important;
}

.list-element {
  height: 100%;
  min-height: 50px;
  padding: 8px;
}

.list-element-quota {
  border-bottom: 1px solid #101010;
}

.list-element-text {
  font-size: 16px;
  text-transform: uppercase;
}

.list-element-info {
  font-size: 14px;
}

.heading {
  margin: 0 !important;
  min-height: 50px !important;
  font-size: 16px !important;
}

.avvenimento {
  margin: 0;
  background: #3e3e3e !important;
  padding: 4px 8px;
}

.esito {
  background: #3c3c3c !important;
  min-height: 46px !important;
}

.ora-avvenimento {
  color: #b3b3b3 !important;
}

.nome-esito,
.quota-esito {
  font-size: 12px !important;
}

.esito.bet-selected hr {
  border-color: #101010 !important;
}

#top-button {
  z-index: 1;
}

.wrapper-cart {
  min-height: 100vh;
}

.shopping-cart-accept-mod-quote {
  font-weight: 600;
}

#betting_section {
  margin: 0 1.5%;
  width: 97%;
}

.coupon-result-text-box {
  height: 100%;
}

.coupon-result-title,
.cart-desc-scom {
  margin: 6px 0;
}

.coupon-result-title {
  font-size: 16px;
}

.cart-desc-scom {
  font-size: 14px;
}

.cart-desc-draw-odd {
  font-size: 16px;
  margin: 6px 0;
}

.tab-coupon-final-divider {
  font-weight: 600;
}

.coupon-multiple-amount-input,
.sistemi-input-result {
  background-color: #fff;
}

.vincita-totale {
  box-shadow: none !important;
  padding: 8px 0;
  font-size: 14px !important;
}

.vincita-totale .potential-win-multiple {
  font-weight: 800;
  font-size: 16px;
}

.modifiche_quote_section > div > label {
  font-family: lato, sans-serif;
}

input[type="checkbox"].bigcheckbox + label::before,
input[type="checkbox"].systemCheckbox + label::before {
  border-radius: 0;
}

input[type="checkbox"].bigcheckbox:checked + label::after {
  top: -17px;
}

input[type="checkbox"].systemCheckbox + label::after {
  top: -12px;
}

.wave {
  background-image: none !important;
}

.container-bet-bet-refill {
  padding: 16px 5%;
  min-height: unset;
  display: flex;
  justify-content: space-between;
}

.container-bet-bet-refill > .btn {
  box-shadow: none !important;
  width: 31%;
  font-size: 16px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-bet-bet-refill > .btn-play,
.container-bet-bet-refill > .btn > div {
  padding: 0;
  padding-top: 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.container-bet-bet-refill > .btn-play {
  text-transform: uppercase;
}

.errorEntryCart {
  background-color: red !important;
  font-family: lato, sans-serif;
  font-size: 16px;
  box-shadow: none;
}

.warningEntryCart,
.questionEntryCart {
  font-family: lato, sans-serif;
  font-size: 16px;
  border-radius: 0;
}

.sistemi-result-ncomb-title {
  width: 75%;
  border-radius: 0 !important;
  font-weight: 600;
}

.sistemi-result-import-title {
  width: 20%;
  border-radius: 0 !important;
}

.sistemi-result-check-box,
.split-stake-label {
  width: 73% !important;
}

.sistemi-result-check-box,
.combinations,
.split-stake-label,
.cart-total-price {
  font-size: 14px;
}

.cart-total-price-system,
.cart-bonus-min-system,
.cart-bonus-max-system {
  font-weight: 600;
}

.cart-total-price > .left {
  margin-left: 0;
}

.tab-pane {
  padding: 16px 8px;
}

.mainText {
  width: 100%;
  margin: 0;
  font-size: 14px;
}

.reservationAreaContainer .mainText {
  padding: 16px 8px 0;
}

.formReloadReservation {
  width: 100%;
  margin: 0;
  padding: 16px 8px;
}

.reservationAreaContainer {
  box-shadow: none;
}

.formReloadReservation > .inputReservationContainer {
  width: 100% !important;
  margin: 0;
}

.inputReservation {
  border: 0 !important;
  border-radius: 0 !important;
}

.formReloadReservation > .reloadReservationButton {
  width: 35% !important;
  font-size: 16px;
  margin-left: 0 !important;
  top: 0;
  position: relative;
}

.reloadReservationButtonLabel {
  padding: 11px 0;
  text-transform: uppercase;
}

.headerPrenotazioniEffettuate {
  border-radius: 0 !important;
  padding: 8px 0;
  height: 100% !important;
}

.headerPrenotazioniEffettuate > .mainText {
  padding-top: 0 !important;
}

.reservationRow {
  padding: 16px 0;
  border-bottom: 1px solid #101010;
}

.reservationRow > .inputReservationContainer {
  height: auto;
  margin: 0 0 16px;
  width: 100%;
}

.reservationRow > .reloadReservationButton {
  margin: 0;
  border-radius: 0;
  border: 0;
  font-size: 15px;
  width: 25%;
}

#cg-prematch-button {
  width: 100%;
}

#cg-prematch-button,
#cg-live-button,
#cg-betslip-button {
  border-right: 2px solid #414141;
}

#cg-prematch-button .cg-icon,
#cg-live-button .cg-icon,
#cg-betslip-button .cg-icon,
#cg-contoButton .cg-icon,
#cg-mybet-button .cg-icon {
  height: 10px;
  width: 10px;
  margin-right: 0px;
  margin-top: 1px;
  filter: invert(1);
}

#cg-contoButton i.cg-icon.cg-ico-user-logged {
  display: block;
  background-size: 11px;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 1px;
  filter: inherit;
}

#cg-prematch-button .cg-labelMenu,
#cg-live-button .cg-labelMenu,
#cg-betslip-button .cg-labelMenu,
#cg-contoButton .cg-labelMenu,
#cg-pvr-crea-conto-button .cg-labelMenu,
#cg-pvr-conto-ricarica-button .cg-labelMenu,
#cg-pvr-conto-scratch-button .cg-labelMenu,
#cg-mybet-button .cg-labelMenu {
  font-size: 13px;
  text-transform: uppercase;
}

#cg-pvr-crea-conto-button .cg-labelMenu,
#cg-pvr-conto-ricarica-button .cg-labelMenu,
#cg-pvr-conto-scratch-button .cg-labelMenu {
  width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
  text-align: center;
  font-size: 11px;
}

.cg-iconContainer .cg-selection-border {
  position: absolute;
  bottom: 0;
}

.cg-notification-circle {
  font-size: 11px;
}

#cg-live-button .cg-notification-circle {
  top: 8px;
  right: 15px;
}

#cg-betslip-button .cg-notification-circle {
  top: 5px;
  right: 2px;
}

.cg-landing-section-container {
  margin: 0;
  border-radius: 0;
  padding: 2px 0;
  height: auto;
}

#cg-sport-live-container {
  margin: 0;
  border-radius: 0 !important;
}

.cg-live-item {
  margin: 0;
  border-radius: 0;
  padding: 8px;
}

.cg-live-text-sport {
  font-size: 1rem;
  padding: 0 2px;
  font-family: "Roboto";
}

.cg-info-tournament {
  font-size: 1rem;
}

.cg-odd-live {
  border-radius: 0;
  border: 0;
  min-height: 0;
  padding: 0 8px;
}

.cg-odd-live > .cg-top {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 0;
  font-family: "Roboto";
}

.cg-odd-live > .cg-bottom {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 0;
  border-color: #272727;
  font-family: "Roboto";
}

.cg-odd.cg-selected > .cg-odd-right,
.cg-odd-live.cg-selected > .cg-bottom,
.cg-odd-antepost.cg-selected > .cg-bottom {
  border-color: #101010;
}

div#top-button {
  bottom: 70px !important;
}

.current-period {
  color: #949494 !important;
  font-size: 13px !important;
}

#cg-pvr-body {
  top: 60px;
  padding-bottom: 119px;
}

#cg-pvr-confirm-popup .cg-signup-popup-logo {
  background-size: 120px;
}

.cg-signup-section-container {
  border-top: 2px solid #3c3c3c !important;
}

.cg-step-selector {
  background-color: rgba(46, 139, 75, 0.6) !important;
}

.cg-recover-separator {
  background: 0 0;
  height: 50px;
  line-height: 50px;
}

div#cg-recover-text-alert {
  font-size: 14px;
  line-height: 19px !important;
}

div#cg-recover-button-fase1 > div {
  line-height: 26px;
}

div#cg-message-option-button-container > div:nth-child(2) {
  background: 0 0 !important;
  background-color: #ffd800 !important;
  border-radius: 0;
  font-size: 14px;
  width: 120px;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: center;
}

div#cg-message-refresh {
  background: 0 0 !important;
  background-color: #ffd800 !important;
  border-radius: 0;
  border: none;
  color: #000 !important;
  font-size: 14px;
  display: flex;
  border-radius: 6px;
  width: 120px;
  justify-content: space-around;
}

.cg-header-popup-title {
  color: #fff !important;
  background-color: #272727 !important;
}

.cg-header-popup-label a {
  color: #ffd800;
  text-decoration: none;
  font-weight: 700;
}

.cg-filled-label {
  font-size: 14px;
}

.cg-signup-popup-button > div {
  color: #fff !important;
}

#cg-user-profile-residence-container input,
#cg-user-profile-residence-container select,
#cg-user-profile-contact-container input {
  pointer-events: none;
}

#cg-user-profile-contact-container .cg-signup-input-border,
#cg-user-profile-residence-container .cg-signup-input-border {
  background: linear-gradient(var(--cg-signup-field-gradient), var(--cg-signup-disabled));
  color: #000;
}

#cg-user-profile-document-container #cg-document-type,
#cg-user-profile-document-container #cg-document-id,
#cg-user-profile-document-container #cg-document-release,
#cg-user-profile-document-container #cg-document-expire,
#cg-user-profile-document-container #cg-document-release-place,
#cg-user-profile-document-container #cg-document-release-day,
#cg-user-profile-document-container #cg-document-release-month,
#cg-user-profile-document-container #cg-document-release-year,
#cg-user-profile-document-container #cg-document-expire-day,
#cg-user-profile-document-container #cg-document-expire-month,
#cg-user-profile-document-container #cg-document-expire-year {
  pointer-events: none;
}

.cg-cookies-popup-container {
  display: none;
}

#shopping-cart-tab-coupon .cart-tab-content {
  padding-top: 150px !important;
}

.loader-label {
  color: #fff !important;
}

.loader-cart-success .checkmark__circle {
  stroke: #ffd800 !important;
  fill: #ffd800 !important;
}

#acceptance-cart-loader .bouncing-cart-loader > div {
  background-color: #ffd800 !important;
}

#lite-ticket-search-button,
#lite-ticket-info-account {
  background-color: #ffd800 !important;
  color: #fff !important;
}

.function-field > .filled-label,
.lite-select-range-field {
  color: #fff !important;
}

#sp2-oia-gate,
#sp5-oia-gate,
#sp8-oia-gate,
#sp11-oia-gate {
  display: none;
}

.cg-pvr-contratti-item a:last-child {
  display: none;
}

#cg-user-profile-contratto-container .cg-field-wrapper div:last-child {
  display: none;
}

.cg-message-preview-text > div:first-child {
  height: 50% !important;
  display: flex;
  align-items: center;
}

.cg-message-preview-text > div:last-child {
  height: 30% !important;
  display: flex;
  align-items: center;
}

#cg-message-container .cg-message-preview {
  background-color: #ededed !important;
  color: #000;
}

#cg-message-header .cg-arrow.cg-arrow-left {
  color: black !important;
}

#cg-loggedMask .cg-ico-message,
.cg-iconContainer .cg-ico-message {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/msg.svg) !important;
}

.cg-showedIco {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/showed-eye.svg) !important;
  background-size: 100%;
}

.cg-notShowedIco {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/hidden-eye.svg) !important;
  background-size: 100%;
}

#cg-message-section-text-container .cg-message-text {
  background-color: #ededed !important;
  color: black;
}

#cg-loggedMask .cg-ico-message > .cg-message-info-box {
  background-color: #ffd800 !important;
}

.cg-casino-game-opacity {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.cg-casino-game-title,
#cg-pvr-search-result {
  color: #fff !important;
}

.cg-casino-buttons-container .cg-casino-game-button {
  border: none !important;
  background-color: #ffd800 !important;
}

.cg-bouncing-loader > div,
.bouncing-loader > div,
.cg-signup-popup-button {
  background: #ffd800 !important;
}

.cg-loader-container {
  background-color: #272727 !important;
}

.cg-arrow {
  color: #ffd800 !important;
}

.black ul.slick-dots li.slick-active {
  background: #ffd800 !important;
}

.cg-errorLoginField {
  color: #f44336;
  font-size: 1rem;
  font-weight: 600;
}

// .cg-favicon {
//   background-image: url(https://resources2.betaland.it/images/betaland/beta.ico) !important;
// }

.info-avvenimento {
  color: #fff !important;
}

.nome-avvenimento {
  color: #fff;
}

.list-heading {
  color: #fff !important;
}

.live-tv-icon {
  background-image: url(https://resources2.betaland.it/images/betaland/svg/tv.svg) !important;
}

#betbutton.play {
  padding-top: 0 !important;
}

#cg-mybet-button .cg-tabLayerMobile > div {
  background-color: #272727 !important;
}

#cg-tabContainer {
  background-color: #272727 !important;
}

.cg-mybet-section .nav-slider {
  white-space: nowrap;
  background-color: #3c3c3c;
  overflow-x: auto;
  overflow-y: hidden;
  will-change: overflow-y;
  box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #fff !important;
}

.nav-slider-item {
  color: #fff !important;
}

.cg-mybet-section .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  border-radius: 50%;
  margin-left: 0.2rem;
  height: 20px;
  width: 20px;
  font-size: 13px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
  background-color: #ffdb00 !important;
  color: #000 !important;
}

.cg-mybet-section {
  background-color: #272727 !important;
}

.cg-mybet-section .mybet-container {
  margin: 1rem;
  margin-bottom: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
  background-color: #3c3c3c !important;
  color: #fff !important;
}

.light-grey-bg {
  background: 0 0 !important;
}

.light-grey-bg {
  background: 0 0 !important;
}

.grey-box {
  background-color: transparent !important;
}

.grey {
  color: #fff !important;
}

.cg-mybet-section .margin-top-10pc {
  color: #fff;
}

#my-bets-container
  .mybet-container
  .d-flex.flex-column
  .d-flex.flex-column.margine-su-giu
  .d-flex.align-items-center
  .d-flex.flex-column.justify-content-center
  .d-flex.align-items-center.margine-su-giu.pointer
  img {
  background-color: #fff;
}

#my-bets-container
  .mybet-container
  .d-flex.flex-column.margine-su-giu
  .d-flex.align-items-center
  .d-flex.flex-column.justify-content-center
  .d-flex.align-items-center.margine-su-giu.pointer
  img {
  background-color: #fff;
}

#my-bets-navbar .selected {
  border-bottom-color: #ffd800;
}
.xp-field-wrapper {
  color: #fff;
}
.xp-balance-selection {
  color: #fff;
}
.cg-iconContainer {
  color: #fff;
}

.cg-ico-search,
.cg-ico-sport,
.cg-ico-mybet {
  filter: invert(1);
}

.cg-promo-bonus-icon {
  filter: invert(1);
}

.cg-promo-football-icon {
  filter: invert(1);
}

.cg-promo-slot-icon {
  filter: invert(1);
}

.cg-step-selector.cg-filter-promo.cg-default.cg-selected {
  border-radius: 5px !important;
}

div#cg-promo-preview-container {
  display: flex;
  flex-flow: row wrap;
}

.cg-container-border {
  margin: 10px;
  border: solid 0px;
  width: calc(100% / 2 - 20px);
}

.cg-step-selector.cg-filter-promo.cg-default.cg-selected {
  border-radius: 5px !important;
}

.cg-promo-template-01 .cg-step-selector.cg-filter-promo {
  min-width: 75px;
  border-radius: 5px !important;
}

.cg-container-image-section {
  height: 156px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cg-promo-item-img {
  height: 300px;
  width: 90%;
  background-size: contain !important;
}

.cg-info-go-back {
  background: #272727 !important;
  margin-top: 10px !important;
  margin-right: 0px !important;
}
//////////////
.cg-navbar-item div#cg-contoButton {
  max-width: 75px;
  height: 32px;
  border: 1px solid #ffcc00;
  border-radius: 6px;
  margin-right: 10px;
}

#cg-contoButton > .cg-iconContainer {
  flex-direction: column;
}

div#cg-logo-button {
  flex: 0 40%;
}

// .cg-banner {
//   border-radius: 0 !important;
//   background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/mobile%2060000.png) !important;
// }

div#cg-landing-body {
  padding: 0 0 !important;
}

#cg-carousel-banner .draggable,
.cg-banner-height {
  height: 40vh !important;
  max-height: 225px !important;
}

ul.slick-dots li {
  background: #707070;
}

.cg-casino-games {
  padding: 7px 0px;
}

.cg-landing-section-margin {
  margin: 0px !important;
}

.cg-casino-games > div {
  border-radius: 0px;
}

.cg-prematch-item > div {
  border-radius: 0px !important;
  background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/Footbal_Stadium_Lawn_541321_1280x763.png) !important;
}

.cg-prematch-item {
  padding: 0px !important;
}

.cg-prematch-item .cg-prematch-tournament {
  color: #ffcc00;
}

.cg-odd {
  width: 115px;
}
.cg-prematch-odds {
  padding: 5px 0px;
}

.cg-prematch-teams .cg-versus {
  text-align: inherit;
}
.cg-prematch-teams .cg-team {
  font-size: 14px;
  margin: 0px 15px;
  width: auto;
}

.cg-prematch-teams {
  display: flex;
  justify-content: center;
  padding: 3px;
  text-transform: uppercase;
  font-family: system-ui;
}

.cg-prematch-odds .cg-odd-left {
  color: black !important;
}

.cg-odd-right {
  border-left: 0px !important;
}

.cg-odd {
  background-color: #2f2f2f !important;
}

.cg-odd.cg-selected > .cg-odd-right,
.cg-odd-live.cg-selected > .cg-bottom,
.cg-odd-antepost.cg-selected > .cg-bottom {
  color: black !important;
}

.cg-odds-color {
  color: white !important;
}

.cg-prematch-odds .cg-odd-left {
  color: white !important;
}

.cg-selected > .cg-odd-left {
  color: black !important;
}

i.cg-icon.cg-ico-prematch {
  display: block !important;
}

i.cg-icon.cg-ico-cart {
  display: block !important;
}

////4

i.cg-icon.cg-ico-prematch {
  height: 28px !important;
  width: 28px !important;
}

i.cg-icon.cg-ico-live {
  height: 28px !important;
  width: 28px !important;
}

i.cg-icon.cg-ico-cart {
  height: 28px !important;
  width: 28px !important;
}
i.cg-icon.cg-ico-mybet {
  height: 28px !important;
  width: 28px !important;
}

.cg-menuTabMobile > .cg-buttons-row .cg-labelMenu {
  font-size: 9px !important;
  margin-top: 5px !important;
  font-family: "Roboto" !important;
}

i.cg-icon.cg-ico-user {
  margin-right: 5px !important;
}

.cg-buttons-row .cg-icon {
  opacity: 0.9;
}

.cg-buttons-row .cg-labelMenu {
  opacity: 0.5;
}

html .cg-landing-section-title {
  font-family: "Roboto";
}

.cg-live-teams > div:nth-child(1) > div:after {
  content: "vs";
  margin-left: 9px;
  font-weight: bold !important;
  font-family: "Roboto";
}

html .cg-match > div {
  display: flex;
}

html .cg-match > div {
  font-size: 14px !important;
  font-family: "Roboto";
}
.cg-score-away:before {
  content: "-";
  margin: 0px 3px;
  font-weight: bold;
  font-family: "Roboto";
}

.cg-live-teams > div > div {
  margin: auto 5px;
  line-height: 24.5px;
  font-weight: bold;
  font-size: 14px;
}

.cg-live-score > div > div {
  font-weight: bold;
  font-size: 17px;
}

.cg-live-tournament {
  font-weight: bold;
  font-size: 14px !important;
  color: #ffcc00 !important;
}

html .cg-info {
  padding-top: 2px;
  padding-bottom: 5px;
}

.cg-period-timer {
  opacity: 0.6;
}

html .cg-live-item {
  background: #262626 !important;
  width: 90%;
  margin-top: 8px !important;
  margin: auto;
}

html .cg-live-odds-container .cg-odd-live {
  flex-direction: row !important;
}

html .cg-odd-live,
html .esito,
html .esiti-container .esito {
  border-radius: 0px !important;
}

.cg-odd-live {
  border-radius: 0 !important;
  padding: 4px 3px;
}

.cg-live-tournament {
  text-align: inherit;
}

.nav-filters-expand-button {
  background: none #cacaca !important;
  border-radius: 15px;
}

.cg-slide-buttons > div {
  font-size: 13px !important;
  text-align: center;
  font-weight: 500 !important;
  line-height: 40px;
  font-family: "Roboto";
  text-transform: uppercase;
}

.cg-slide-buttons > div {
  font-size: 13px !important;
  text-align: center;
  font-weight: 500 !important;
  line-height: 40px;
  font-family: "Roboto";
  text-transform: uppercase;
  background: #272727;
  color: white;
  border: 1px solid #ffcc00;
  border-radius: 5px;
}

.cg-slide-alternative-button {
  background-color: #272727;
  color: white;
}

.cg-slide-alternative-button > div {
  font-size: 13px !important;
  font-weight: 600 !important;
  font-family: "Roboto";
}

.cg-slide-icon-container {
  margin: 9px 0;
}

.cg-slide-scroll-button {
  border: 1px solid #ffffff21;
  border-radius: 6px;
  margin: 0px 4px;
}

.container-carrello-mobile_intestazione_settings-dropdown {
  background-color: #000 !important;
}

.cg-slide-function-field {
  background-color: #272727 !important;
  color: #fff !important;
}

.cg-slide-lastFieldContainer {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.cg-slide-firstFieldContainer {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.cg-slide-field-wrapper {
  width: 100% !important;
  border-radius: 0 !important;
  border-width: 0px !important;
}

#cg-slide-paragrafo-107 .cg-slide-title {
  display: none;
}

#cg-slide-paragrafo-104 .cg-slide-title {
  display: none;
}

.cg-slide-menu-separator {
  display: none;
}

#cg-slide-paragrafo-110 .cg-slide-title {
  display: none;
}

#cg-slide-app-buttons .cg-slide-scroll-buttons-row {
  margin-bottom: 20px !important;
}

#cg-faq-contogioco .cg-slide-filled-label:before {
  content: "FAQ - ";
}

#cg-faq-regole-sport .cg-slide-filled-label:before {
  content: "FAQ - ";
}

.cg-slide-function-field > .cg-slide-filled-label {
  font-weight: 500 !important;
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 12px;
}

.cg-slide-field-wrapper {
  margin: 0px auto;
}

.cg-slide-footer-title {
  color: #393939;
  display: flex;
  justify-content: flex-start;
  font-size: 11px;
  font-family: "Roboto";
}

.cg-slide-image-container > .cg-slide-image {
  filter: grayscale(1);
  height: 25px;
  position: inherit;
  width: 25px;
}

.cg-slide-image-container {
  border-bottom: 2px solid #ffffff21;
  margin-bottom: 12px;
}

.cg-slide-image-container {
  justify-content: flex-start !important;
}

#cg-slide-footer2 > div:last-child:after {
  content: "";
  height: 19px;
  display: flex;
  background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/poweredbylabs.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
}

.cg-deposit-button {
  background: #ffcc00;
  color: #000;
  font-weight: 600;
  font-family: "Roboto";
}

.xp-field-container {
  background: #1a1a1a !important;
  height: 75px !important;
}

.cg-header-popup-title .cg-signup-popup-button > div {
  color: black !important;
}

.esiti-container > .esito {
  margin: 0 !important;
}

.container-carrello-mobile .input-puntata_bottone {
  background-color: transparent !important;
  border: 0px !important;
}

@media only screen and (max-height: 650px) {
  #cg-pagina-ippica-isibet #cg-iframe-container iframe {
    height: calc(100% + 150px);
  }
}

#cg-pvr-body .cg-autocomplete {
  color: #383838 !important;
}

@import "new_sport_mobile";
@import "widget";

@keyframes heartbit {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #ffcc00;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 8px #ffcc0049;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #ffcc0044;
  }
}

body:not([page="promo"]) {
  .cg-homeMenuIcoLite:after {
    content: "10";
    position: absolute;
    top: -10px;
    left: 20px;
    right: 0;
    background: var(--accent-bg);
    color: var(--accent-txt);
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    font-size: 11px;
    animation: heartbit 1s ease-out infinite;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  }
  #cg-slide-promo-button > .cg-slide-icon-container:after {
    content: "10";
    position: absolute;
    top: 5px;
    right: 5px;
    background: var(--accent-bg);
    color: var(--accent-txt);
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    font-size: 11px;
    animation: heartbit 1s ease-out infinite;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  }
}

.cg-tabTitleCotainer h2#cg-title {
  color: white;
}

#cg-tabContainer h6.filtro-title {
  color: white;
}

.cg-tabTitleCotainer i.cg-icon.ion-md-close {
  filter: invert(1);
}

.cg-slide-field-container {
  border-bottom-color: #ffffff33 !important;
}

.cg-signup-popup-logo {
  background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/sirplay_logo.svg) !important;
}

html .sr-bb .srt-neutral-9 {
  background-color: #ffffff24 !important;
  font-size: 14px !important;
  border: 0 !important;
  color: white !important;
  opacity: 1 !important;
  border-radius: 6px !important;
  padding: 8px !important;
  border-color: rgba(255, 255, 255, 0.12) !important;
}

body[id="cg-pagina-home"] {
  #cg-landing-body .cg-banner {
    border-radius: 0;
  }
}

body[id="cg-pagina-sport"] {
  .temporal-filters-sidebar span.temporal-filter-tab {
    background: #3e3e3e;
  }

  .temporal-filter-tab.selected {
    background-color: #272727 !important;
  }

  nav.temporal-filters-sidebar {
    height: auto !important;
  }
}

i.fa.fa-star.giallo.nav-slider-fav-icon.align-self-center.push-left.push-right {
  width: auto;
}

#avvenimenti .heading span.text-medium {
  color: white;
}

span.temporal-filter-tab.tab-heading.uppercase {
  color: var(--active-color);
}

.small div#gruppo-scommessa-selector {
  border-radius: 0;
}

#cg-slide-paragrafo-105 .cg-slide-title {
  display: none;
}

.cg-recover-body .cg-recover-separator {
  background: #3c3c3c !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 10px;
}

.cg-signup-checkbox-container .cg-signup-input-label a {
  text-decoration: none;
  color: var(--accent);
}

.cg-checkbox-error,
.cg-signup-alert {
  background: #ff000078 !important;
}

#cg-unloggedMask .cg-loginButton {
  /* color: black !important; */
  border: none;
  background: #ffcc00 !important;
}

#cg-unloggedMask .cg-loginButton div {
  color: black !important;
}

/// new promotion layout  (start)
.cg-container-text {
  display: none;
}

.cg-promo-scopri {
  display: none;
}

.cg-container-title {
  font-size: 12px !important;
  padding: 5px 0 0 0 !important;
}

.cg-promo-body {
  background: #141414 !important;
  color: white !important;
}

.cg-promo-cards-icon {
  filter: invert(1);
}
@media screen and (min-width: 1000px) {
  .cg-promo-body[data-template="template-01"] .cg-promo-preview > :last-child,
  .cg-skillgame-preview > :last-child {
    width: unset !important;
  }
}
.cg-promo-body[data-template="template-01"] .cg-promo-preview,
.cg-skillgame-preview {
  display: unset !important;
}

.cg-promo-body[data-template="template-01"] .cg-promo-preview > :first-child,
.cg-skillgame-preview > :first-child {
  width: unset !important;
}
/// new promotion layout  (end)

#cg-slide-app-buttons
  .cg-slide-scroll-buttons-row
  .cg-slide-scroll-button.cg-app
  .cg-slide-icon-container
  .cg-slide-button-label:before {
  width: 30px;
  content: "";
  background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/faviconScaledUp.png);
  display: block;
  height: 30px;
  z-index: 9999;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

#cg-left-side-menu {
  left: -81% !important;
}

.cg-tabLayerMobile {
  background: #222222 !important;
  color: #ffffff;
  font-weight: bold;
}

#cg-slide-paragrafo-106 .cg-slide-title {
  display: none;
}

.cg-slide-ico-ldt {
  filter: invert(1);
}
