@import "vars";

/*HEADER e MENU*/

.logo img {
  height: 60% !important;
}

#nascondimenu .logo {
  height: 60px !important;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  bottom: 5px;
  left: 30px;
  pointer-events: none;
}
.cg-error-container {
  background-color: #ff0000;
  color: #fff;
}
.toggleReservationBox.shown {
  color: var(--accent) !important;
}
.blocco-header.login-form-header.margine-su-1x {
  margin-top: 0;
  padding: 5px 5px 5px 0px;
}
button.btn.bottone-largo.bg-colore-1.bianco.margin-bottom.mb-3.flex-item.pointer.bold {
  color: #fff !important;
}
html .customPopup__content__header {
  background-color: #292929;
  color: white;
}
.cg-text-muted.persoPass {
  position: relative;
  font-size: 0;
  display: inline-block;

  &:after {
    content: "?";
    position: absolute;
    font-size: 18px;
    background-color: #525252;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    text-align: center;
    padding: 2px;
    top: -2px;
  }
  &[onclick="cg_recoverPassword(true)"]:after {
    top: -18px;
  }
}
.login-header {
  padding-right: 0;
  padding-left: 0;
  flex: 1 1;
  max-width: 100%;
  input:-internal-autofill-selected,
  input:-webkit-autofill,
  input:focus,
  input:-webkit-autofill:focus {
    background: var(--header-input-bg-color) !important;
    color: var(--header-input-text-color) !important;
  }
  .blocco-header {
    justify-content: flex-start;
    flex: initial;
    padding: 5px 18px;
    line-height: normal;
    padding-right: 0;
    input {
      padding: 5px;
    }
    &.selettore-lingua {
      display: none;
    }
    .bottone-registrazione {
      border-radius: 32px;
      padding: 0 18px;
      // position: absolute;
      // bottom: -52px;
      // right: 0;
      &:before {
        content: "\f234";
        font-family: "Font Awesome 5 Pro";
        padding-right: 5px;
      }
    }
  }
}
.bottone.bottone-login[onclick="cg_login()"] {
  font-size: 0;
  flex: 0;
  margin-right: 7px;
  padding: 0px 10px;
  border-radius: 20px;
}
.bottone.bottone-login[onclick="cg_login()"]:before {
  content: "\f2f6";
  font-family: "Font Awesome 5 Pro";
  font-size: 16px;
}

p.testo-disclaimer {
  max-width: 100% !important;
  font-size: 10px !important;
}

.barra-superiore .blocco-header {
  #cg-time {
    display: none;
  }
  #cg-date {
    display: none;
  }
}
.barra-superiore .blocco-header.flex-container.cg-contatti {
  a span {
    font-size: 0 !important;
  }
}
.barra-superiore .blocco-header.flex-container.cg-contatti {
  .fab.fa-whatsapp:after {
    content: "Whatsapp 3511909851";
    position: relative;
    left: 5px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
  }
  .fab.fa-whatsapp {
    font-size: 13px;
  }
}

.container-fluid.fissato-alto {
  .row.barra-superiore {
    height: 30px;
    padding: 0 15px;
    .info-utili {
      font-size: 14px;
      height: 30px;
      padding-left: 0;
      .cg-contatti span {
        font-size: 13px;
      }
    }
    .disclaimer {
      justify-content: flex-end;
      padding-right: 0;
      .cg-header-logo {
        width: 56px;
        height: 26px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
      }
    }
  }
  #nascondimenu.show {
    background: var(--intermediate-bar-bg-color);
    display: flex;
    justify-content: space-between;
    flex-flow: column-reverse;
    .cg-checkbet-container {
      height: 50px;
    }
    .row.barra-intermedia {
      width: auto !important;
      padding: 0 15px;
      order: 2;
      margin-right: 0;
      margin-left: auto;
    }
    .row.bg-bianco {
      background: transparent;
      order: 1;
      width: auto;
      .menu-principale-barra.w-100 {
        // max-width: 1240px;
        margin: 0 auto;
      }
    }
  }
}

.menu-principale-barra ul.menu-principale {
  background: transparent;
  justify-content: center;
}
.login-header .blocco-header input {
  background: var(--custom-brand-color-6-dark);
}
input.elemento-input {
  max-width: 12rem;
}
/*FINE HEADER e MENU*/

body[page="sport"] {
  background-size: 1760px;
  background-position: center 37px;
  background-repeat: no-repeat;
  // background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/bannerS.jpg);
  .main-content {
    background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/bannerS.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-position: top center;
    background-repeat: no-repeat;
  }
}
#sport-frame {
  margin-top: 0 !important;
}
body,
html {
  background: var(--mainBg);
  color: var(--mainBgCol);
}

//smile casino

@keyframes pulse {
  0% {
    transform: scale(0.98);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.98);
  }
}
.bg-filtri-casino {
  .style-filtri {
    z-index: 1;
  }
}

body[page="xcasinolive"] {
  .casino.cg-bg-live {
    background: url(https://gradm-api.pcluster.info/api/skin/48/image/a8b17a54a5fe1e1c66d7e95f45785911.jpeg) top center
      no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
  }
  .casino #contentGames:before {
    content: "";
    background: none !important;
  }
}
body[page="xcasino"] {
  .modal-body {
    background-color: var(--bg1);
    color: var(--col1);
  }
  .casino.cg-bg-live {
    // background: url(https://#{$skinHost}/external_css/#{$skinName}/img/casinobg2.jpg) top center no-repeat !important;
    background: url(https://www.sirplay.it/external_css/SIRPLAY/img/slot-red.jpg) top center no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
  }

  // .casino #contentGames:before {
  //   background: url(https://#{$skinHost}/external_css/#{$skinName}/img/fireToad.png) center center no-repeat !important;
  //   top: 14px;
  //   background-size: contain !important;
  //   height: 160px !important;
  // }
  .casino #contentGames:before {
    background: url(https://www.sirplay.it/external_css/SIRPLAY/img/Super_X.png) center center no-repeat !important;
    top: -41px;
    background-size: contain !important;
    height: 216px !important;
  }
}
.casino {
  .aviator {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/aviator.png);
    background-repeat: no-repeat;
    margin-top: 5px;
  }

  .mega {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/megaways.png);
    background-repeat: no-repeat;
  }

  .drops {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/drops&wins.png);
    background-repeat: no-repeat;
  }

  .fireblaze {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/fireblaze.png);
    background-repeat: no-repeat;
  }

  .exa_ico_home {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/slot-machine.svg);
    background-repeat: no-repeat;
  }
  .halloween {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/halloween.png);
    background-repeat: no-repeat;
  }
  .exa_ico_novita {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/new.svg);
    background-repeat: no-repeat;
  }
  .torneo {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/torneo-icon.png);
    background-repeat: no-repeat;
  }
  .exa_ico_chip {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/baccarat.png);
    background-repeat: no-repeat;
  }
  .exa_ico_slot {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/slot.svg);
    background-repeat: no-repeat;
  }
  .exa_ico_jackpot {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/jackpot.svg);
    background-repeat: no-repeat;
  }
  .exa_ico_suggeriti {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/dealer.svg);
    background-repeat: no-repeat;
  }

  .exa_ico_dice {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/tableG.svg);
    background-repeat: no-repeat;
  }
  .exa_ico_carte {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/cards.svg);
    background-repeat: no-repeat;
  }

  .grid-message {
    color: var(--mainBgCol);
  }
  #casino-principale {
    margin-top: 0px;
    max-width: 100%;
    .bg-filtri-casino {
      background: transparent;
      display: flex;
      flex-direction: row;
      flex: 1 1;
      justify-content: space-between;
      margin: 0 auto;
      align-items: center;
    }
    &:before {
      content: "";
      background: #000;
      width: 100%;
      height: 40px;
      position: absolute;
      left: 0;
    }
  }

  &.cg-bg-live {
    background: url(https://www.sirplay.it/external_css/SIRPLAY/img/WildPistoleroMegaFireBlaze.jpg) top center no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
  }
  .riga-titoli-casino {
    background: transparent;
    .voce-casino {
      color: #fff !important;
    }
    a.voce-casino:hover,
    a.voce-casino.selezionato {
      transition: all 200ms ease-in-out;
      border-bottom: none;
      color: var(--active-color) !important;
      span {
        filter: none;
        height: 20px;
        width: 20px;
        background-size: contain;
        margin-right: 5px;
      }
    }
  }
  .exa_ico_home,
  .exa_ico_novita,
  .torneo,
  .exa_ico_chip,
  .exa_ico_slot,
  .exa_ico_jackpot,
  .aviator,
  .halloween,
  .mega,
  .drops,
  .fireblaze,
  .exa_ico_suggeriti,
  .exa_ico_dice,
  .exa_ico_sport,
  .exa_ico_carte,
  .exa_ico_live {
    filter: none;
    height: 20px;
    width: 20px;
    background-size: contain;
    margin-right: 5px;
  }

  .descIconGameFooter {
    background-image: linear-gradient(180deg, #363636 0%, #202020 82.3%, #313131 100%);
    color: #fff;
    border-top: 0;
    font-weight: 500;
    font-size: 13px;
    padding-top: 10px !important;
    height: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  a.blocco-mosaico {
    border-radius: 8px;
    background-color: var(--mainBg);
  }

  .bottone-selettore div {
    width: 3px;
    margin: 0 1px;
  }
  #menuContainer {
    width: auto !important;
  }
  .row.selettore.allinea-sinistra div.col-md-12 {
    padding: 6px 10px;
    width: auto;
    flex: auto;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0;
    padding-left: 0;
  }

  .style-filtri {
    padding-left: 0;
    border: 1px solid var(--tableBorders);
    border-radius: 4px;
    padding: 0 5px;
    height: 26px;
  }
  input.cerca {
    border: 1px solid var(--tableBorders);
    background: transparent;
    color: #fff;
    border-radius: 4px;
    height: 26px;
  }
  .tipoPaginaLancio {
    &#tpl_1 {
      margin-right: 0;
    }

    &.active {
      background: transparent;
      i {
        color: var(--active-color);
      }
    }
  }

  .bottone-selettore {
    margin-right: 5px;
    &:first-child {
      margin-left: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  #contentGames {
    animation-name: fadeInTop;
    animation-duration: 500ms;
    position: relative;
    padding-top: 300px;
    max-width: 1240px;
    margin: 0 auto;
    .overlay-mosaico {
      background: transparent;
    }
    .blocco-mosaico.game {
      &:first-child {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        .img-fluid {
          height: calc(100% - 40px);
          transition: filter 0.3s;
        }
      }
      &:hover {
        .img-fluid {
          -webkit-filter: blur(20px);
          filter: blur(20px);
        }
      }
    }
    &:before {
      content: "";
      // background: url("https://www.sirplay.it/external_css/SIRPLAY/img/sheildsOfRome.png") center center no-repeat !important;
      // background: url(https://www.sirplay.it/external_css/SIRPLAY/img/epicApeSlot.png) center center no-repeat !important;
      // background: url(https://www.sirplay.it/external_css/SIRPLAY/img/epic-ape_logo.png) center center no-repeat !important;
      background: url(https://www.sirplay.it/external_css/SIRPLAY/img/pistoleroTema.png) center center no-repeat !important;
      position: absolute;
      width: 100%;
      margin-top: 94px;
      height: 155px;
      left: 0;
      background-size: contain !important;
      transform: scale(1);
      animation: pulse 2s ease 0s infinite;
    }
  }

  a.blocco-mosaico .overlay-mosaico {
    animation-name: none;
    animation-duration: 0;
  }
  a.blocco-mosaico:hover .overlay-mosaico {
    opacity: 1;
    animation-name: fadeInTop;
    animation-duration: 500ms;
  }
}

// #casino-principale::after {
//   content: "";
//   background-image: url(https://nextra.pcluster.info/masterbet/images/casinonew.jpg);
//   width: 100px;
//   height: 100px;
//   position: absolute;
//   left: 0;
//   top: 0;
//   background-position: center;
//   background-size: contain;
//   -webkit-transform: rotate(-90deg);
//   transform: rotate(-90deg);
//   left: -93px;
//   top: 50px;
// }

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fadeInTop {
  -webkit-animation-name: fadeInTop;
  animation-name: fadeInTop;
}

//header icons
.menu-principale-barra ul.menu-principale li {
  margin: 5px 10px 0px 10px;
  text-align: center;
  a {
    position: relative;
    font-weight: 500;
    padding: 1rem 0;
    &.active,
    &:hover {
      color: var(--active-color) !important;
      border: none;
    }
  }
}

.menu-principale-barra .sottomenu-principale ul a {
  &.active,
  &:hover {
    color: var(--active-color) !important;
    border: none;
  }
}

#cg-header {
  border-bottom: 3px solid var(--active-color);
  background: gray;
}

.menu-principale-barra ul.menu-principale a {
  &::before {
    width: 26px;
    height: 26px;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    margin: 0 auto;
    bottom: 5px;
    filter: grayscale(1);
  }
  &.active {
    &::before {
      filter: none;
    }
  }
}
.menu-principale-barra ul.menu-principale a[data-ref="home"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/home.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="sport"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/sport.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="ingame"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/live.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="xcasino"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/roulette.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="xcasinopt"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/casino.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="xcasinolive"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/casinoL.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="poker"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/poker.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="xbingo"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/bingo.svg);
}

.menu-principale-barra ul.menu-principale a[data-ref="xcards"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/cardsicon1.png);
}

.menu-principale-barra ul.menu-principale a[data-ref="virtuali"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/virual.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="ippica-isibet"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/ippica.svg);
}

.menu-principale-barra ul.menu-principale a[data-ref="lotterie"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/lotto2.png);
}
.menu-principale-barra ul.menu-principale a[data-ref="altri-giochi"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/totocalcioYellow.png);
}

.menu-principale-barra ul.menu-principale a[data-ref="promo"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/promotions.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="cg-mobile-mode"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/sport.svg);
}

.menu-principale-barra ul.menu-principale a[data-ref="contidigioco"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/contiGioco.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="ricerche"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/richerche.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="movimentazioni"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/movimentazioni.svg);
}

.menu-principale-barra ul.menu-principale a[data-ref="mieipunti"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/points.svg);
}

.menu-principale-barra ul.menu-principale a[data-ref="gestionepunto"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/pointM.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="saldocassa"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/saldoCassa.svg);
}

.menu-principale-barra ul.menu-principale a[data-ref="fatture"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/contabilita.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="cambiopassword"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/changePass.svg);
}
.menu-principale-barra ul.menu-principale a[data-ref="external-chat"]:before {
  content: "";
  background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/chat.svg);
}

body[subpage="sport"] {
  &:not(.altezza-max) .sottomenu-main {
    display: none;
  }
  .logo {
    bottom: 11px;
    padding-left: 0;
  }
}
body[subpage="home"],
body[subpage="xcasinopt"],
body[subpage="xcasino"],
body[subpage="xcasinolive"],
body[subpage="poker"],
body[subpage="xbingo"],
body[subpage="virtuali"],
body[subpage="ippica"] {
  .logo {
    bottom: 11px;
    padding-left: 0;
  }
}

body[page="promo"],
body[subpage="promo"] {
  .container-fluid.fissato-alto #nascondimenu .row.bg-bianco .menu-principale-barra.w-100 {
    min-height: 120px;
  }
  .logo {
    bottom: 50px;
    padding-left: 0;
  }
}

body[subpage="live"] {
  .logo {
    bottom: 10px;
  }
}

a.consulta-footer,
a.consulta-chat {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 7px 10px;
}
//START POKER
body[subpage="poker"] {
  .cg-poker-banner-container {
    width: 1240px;
  }
  .blocco-principale-poker {
    background: var(--mainBg);
    color: var(--mainBgCol);
  }
  .schede-poker .col-md-8 {
    align-items: flex-start;
  }
  .cg-poker-banner-container {
    display: none;
  }
  .blocco-principale-poker {
    margin: 0 auto;
    max-width: 1240px;
    padding: 90px !important;
    background: #0d0a09b0;
    margin-top: 45vh;
    padding-top: 0 !important;

    > .row {
      padding-bottom: 40px;
    }
  }
  .poker-landing::before {
    // background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/pokerbg.jpeg") !important;
    background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/pokerbg.jpeg) !important;
    background-position: top center;
    background-attachment: fixed;
  }
  .barra-titolo-sezione-poker {
    display: none;
  }
  .azione-poker.cg-download-client,
  .azione-poker.cg-gioca-ora {
    min-height: 60px;
    background-image: none !important;
    color: #fff;
    flex-direction: row;
    background: var(--secondary-bg);
    margin-top: -31px;
    margin-left: 50px;
    margin-right: 50px;
    // i {
    //   display: none;
    // }
    .margine-giu {
      color: #fff;
    }
  }
  .azione-poker {
    padding: 10px;
    border-radius: 0;
    border: 1px solid var(--tableBorders);
  }
  a.btn.bg-colore-1.bianco.maiuscolo.pointer {
    border-radius: 0;
    background: var(--accent);
    color: #000 !important;
    font-weight: 700;
  }
  .card {
    background: #000000a3;
    color: #fff15cbd;
    border: 1px solid var(--accent);
    border-radius: 0;
    margin: 0px;
    margin-top: 12px;
    width: calc(40% - 5px);
    min-width: auto;
    height: 250px;
    overflow: hidden;
  }
  .schede-poker {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .card .row {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0;
      .col-md-4 {
        height: 230px;
        flex: auto;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        img {
          object-fit: cover;
          object-position: center;
        }
      }
      .col-md-8 {
        height: 230px;
        flex: auto;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
    .card:hover {
      .col-md-8 {
        display: flex;
        opacity: 1;
        pointer-events: all;
        backdrop-filter: blur(7px);
        background-color: #000000ab;
      }
    }
  }
}
//END POKER

body[subpage="live"] {
  .container-fluid.fissato-alto .row.barra-superiore {
    width: 100%;
  }
  .container-fluid.fissato-alto #nascondimenu .row.barra-intermedia {
    width: 100%;
  }
}

//conto
#cg-mybet-body.cg-mybet-section {
  background: var(--mainBg);
  color: var(--mainBgCol);
  .nav-slider {
    background: var(--teableSubHeadersBg);
    color: var(--teableSubHeadersCol);
  }
  .nav-slider-item {
    color: var(--teableSubHeadersCol);
  }
}

#supportointerna {
  .card-body {
    table {
      #cg-vincite-list-header {
        th {
          color: var(--col1);
          border: 1px solid var(--tableBorders);
        }
      }
      #cg-vincite-list-body {
        td {
          color: var(--col1);
          border: 1px solid var(--tableBorders);
        }
      }
    }
  }
}
body .modal-account {
  background: var(--mainBg);
  color: var(--mainBgCol);
  border: 1px solid var(--tableBorders);

  .tabella_giocate > tbody > tr {
    background: var(--bg1);
    color: var(--col1);
  }
  .table-hover tbody tr:hover {
    background: var(--mainBg);
    color: var(--mainBgCol);
  }
  #dashboard-link .colonna-profilo:hover {
    background: var(--bg1);
  }
  .info-account {
    background: var(--mainBg);
    color: var(--mainBgCol);
    border: 1px solid var(--tableBorders);
  }
  #cg_main_menu {
    .nav-link {
      color: var(--mainBgCol);
    }
  }
  .sottomenu-main {
    .sottomenu-nav a {
      color: var(--mainBgCol);
    }
  }
  #cg-vipclub-container {
    .vip-box-converti {
      background: var(--bg1);
      color: var(--col1);
    }
    .vip-level-desc {
      color: var(--col1);
    }
  }
  .perso-password {
    background: var(--mainBg);
    color: var(--mainBgCol);
    padding-top: 0;
    padding-bottom: 0;
    .riga-divisore {
      display: none;
    }
  }
}
body .contenuto-modal-account {
  background: var(--teableSubHeadersBg);
  color: var(--teableSubHeadersCol);
  border: 1px solid var(--tableBorders);

  .bg-bianco {
    background: var(--teableSubHeadersBg);
    color: var(--teableSubHeadersCol);
  }

  .tabella_giocate thead th {
    color: var(--mainBgCol);
  }
  .grassetto,
  li.grassetto,
  a.grassetto {
    color: var(--mainBgCol);
  }
}

.cg-main-supporto {
  .grigio-supporto {
    background: var(--bg1);
    color: var(--col1);
  }
  .menu-laterale-supporto {
    background: var(--teableHeadersBg);
    color: var(--teableHeadersCol);
    a {
      color: var(--col1);
    }
  }
  .card {
    background: var(--bg1);
    color: var(--col1);
    border: 1px solid var(--tableBorders);
    .card-header {
      border-bottom: 1px solid var(--tableBorders);
      a {
        color: var(--col1);
      }
    }
    .card-body {
      a {
        color: var(--col1);
      }
    }
  }
}

.colore-1,
.colore-1 a,
a.colore-1,
a .colore-1 {
  color: var(--green);
}

.cg-function-arrow {
  color: var(--accent);
}
.elemento-promozioni-modale {
  background-color: var(--bg1);
}
// .promozioni-sfondo {
//   width: 1240px;
//   margin: 0 auto;
//   .card {
//     background: var(--secondary-bg);
//     border: none;

//     .card-img-top,
//     .card-text {
//       display: none;
//     }

//     .card-body {
//       height: 300px;
//       display: flex;
//       justify-content: flex-end;
//       flex-direction: column;
//       align-items: center;
//       color: var(--accent);
//     }

//     .d-flex.justify-content-center.align-items-center.margine-giu.margine-su {
//       display: none !important;
//     }

//     &[data-target="#cg-promo-3"]:after {
//       content: "";
//       background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/mulribonus.png);
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       background-repeat: no-repeat;
//       background-size: 100%;
//     }
//     &[data-target="#cg-promo-4"] {
//       display: none;
//     }
//     &[data-target="#cg-promo-5"]:after {
//       content: "";
//       background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/benvenutocasino.png);
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       background-repeat: no-repeat;
//       background-size: 100%;
//       top: 5%;
//     }
//     &[data-target="#cg-promo-6"]:after {
//       content: "";
//       background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/bonusC.png);
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       background-repeat: no-repeat;
//       background-size: 70%;
//       left: 12%;
//       top: 5%;
//     }
//     &[data-target="#cg-promo-7"]:after {
//       content: "";
//       background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/benvbingo.png);
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       background-repeat: no-repeat;
//       background-size: 100%;
//       top: 5%;
//     }
//   }
// }

.modal-registrazione {
  .nero,
  .nero a {
    color: var(--col1);
  }
}

body {
  .btn-login {
    background: var(--accent-bg);
    color: var(--accent-txt);
    text-shadow: none !important;
    background-image: none;
  }
  .btn-login-ico {
    background-color: var(--accent-bg);
  }
  .spacer-cart-fields {
    border-top: 1px solid var(--tableBorders);
  }
}

#bottom-button-section .btn-login-ico {
  background-color: #ffffff;
}

.cg-pvr-page {
  .container.contenitore-landing-2 {
    .landing-live-now {
      .titolo-widget-quote {
        background: var(--bg1);
      }
    }
    .tabellaQuote {
      .tabellaQuoteCella {
        background: var(--bg1);
      }
    }
  }
}

.cg-pvr-page {
  #nascondimenu .logo {
    position: relative;
    bottom: 0px;
  }
}

.barra-intermedia-footer {
  .row.cg-footer-sections {
    justify-content: flex-start;
    position: relative;
    &::after {
      content: "powered by";
      background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/altechLabs.svg);
      position: absolute;
      width: 210px;
      height: 100%;
      background-repeat: no-repeat;
      right: 0;
      top: 4px;
      background-size: 120px;
      background-position-x: right;
      text-transform: uppercase;
    }
  }
}

.cg-mybet-section {
  .mybet-container {
    background: #fff;
    color: #000;
  }
  .grey-box {
    background: #eee;
    color: #000;
  }
}

.cg-message-text {
  color: #222;
}
.iframe-main {
  border: 0;
}
.controlli-sliderP {
  background-color: #0000006b !important;
}
.controlli-sliderP {
  max-width: 260px;
  width: 100% !important;
}
.cg-footer-logo {
  background-size: contain;
}
html .scopri-promo {
  background: var(--accent-bg);
  color: var(--accent-txt) !important;
  padding: 4px 8px;
  border: 1px solid var(--accent);
  opacity: 0.9;
  width: 120px;
  cursor: pointer;
  text-align: center;
  height: 25px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  border-radius: 10px;
  right: 90px !important;
  i {
    //display: none;
    margin-left: 10px;
  }
  &:hover {
    transform: unset !important;
    transition: unset !important;
  }
}

.altezza-max-html {
  #nascondimenu .logo {
    position: absolute;
    left: 0;
    margin-left: 10px !important;
    //
  }
}

.controlli-sliderP ul.slick-dots li.slick-active {
  background: white !important;
}

body[page="ingame"]:not(.altezza-max) .logo a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 40px;
  left: 20px;
}
body[subpage="live-match"],
body[subpage="calendar"] {
  &:not(.altezza-max) .logo a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -50px;
    left: 20px;
  }
}

// div#slick-slide04 {
//   display: none !important;
// }

[page="promo"] {
  .modal-content {
    max-width: 440px;
    margin: auto;
    border-radius: 14px;
  }
  .cg-promo-signup-btn {
    color: var(--promo-signup-button-text-color) !important;
  }
}
///////

a#consultaFooter:hover {
  color: #ffc400 !important;
}

a#nascondiFooter:hover {
  color: #ffc400 !important;
}

.card-body > .grassetto,
li.grassetto,
a.grassetto {
  color: #ffe01a;
}

html body[page="promo"] {
  background-color: #0d0d0d;
}

html body[page="promo"] .card {
  background-color: #262626;
}

html body[page="promo"] .content-wrapper {
  background-color: #0d0d0d;
}

html body[page="promo"] #panel {
  background-color: #202020;
}

button.bottone.cg-promo-info-btn.margine-dx {
  font-weight: 600;
}

.ui-menu {
  color: black;
  background: white;
}
///////

.lista-selezionabili {
  padding: 0 !important;
}

.box-paese > .nome-paese.d-flex.align-items-center.margine-giu.pointer {
  padding: 4px 5px;
}

html {
  //pvr fixes
  .bootstrap-datetimepicker-widget table td,
  .bootstrap-datetimepicker-widget table th {
    border-radius: 0 !important;
  }
  .dx-texteditor-input {
    border-radius: 0 !important;
  }
  .dx-calendar-cell.dx-state-hover {
    color: #222 !important;
  }
  .dx-calendar-cell {
    border-radius: 0 !important;
    color: inherit !important;
  }
  tr.dx-row.dx-data-row.dx-column-lines:nth-of-type(odd) {
    background-color: #f7f7f7 !important;

    color: #000;
  }
  tr.dx-row.dx-data-row.dx-column-lines:nth-of-type(even) {
    background-color: #cecece !important;
    color: #000;
  }
  .dx-datagrid-content .dx-datagrid-table .dx-row > td:first-child,
  .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td:first-child {
    color: inherit !important;
  }
  .dx-datagrid-table
    .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row):not(.dx-row-focused)
    > td:not(.dx-focused) {
    color: inherit;
  }
  .dx-datagrid-summary-item {
    color: inherit;
  }
  .dx-treelist-container {
    background: #525252;
    color: #fff;
  }
  .bootstrap-datetimepicker-widget table td.day:hover,
  .bootstrap-datetimepicker-widget table td.hour:hover,
  .bootstrap-datetimepicker-widget table td.minute:hover,
  .bootstrap-datetimepicker-widget table td.second:hover {
    background: #ffeb3b;
    color: #222;
  }
  .dx-datagrid .dx-row-alt > td {
    background-color: transparent;
    color: inherit;
    &.cg-pvr-color-green {
      color: #008000;
    }
    &.cg-pvr-color-red {
      color: #ff0000;
    }
  }
  .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    background: #222;
    color: #fff;
    border: 0;
  }
  .cg-pvr-link {
    color: inherit !important;
  }
  //gestiono punto
  .dx-treelist-borders > .dx-treelist-rowsview,
  .dx-treelist-borders > .dx-treelist-total-footer {
    background: #222;
    color: white;
    border: 0;
  }
  .dx-datagrid-nodata {
    color: inherit;
  }

  .dx-editor-cell .dx-texteditor .dx-texteditor-input {
    background: #525252;
    color: #fff;
    border: 0;
  }
  .dx-treelist-headers .dx-treelist-table .dx-row > td,
  .dx-treelist-borders > .dx-treelist-headers,
  .dx-treelist-borders > .dx-treelist-rowsview,
  .dx-treelist-borders > .dx-treelist-total-footer,
  .dx-treelist .dx-column-lines > td {
    border-color: #000 !important;
  }
  .dx-treelist-filter-row .dx-editor-cell .dx-editor-with-menu .dx-texteditor-input {
    border-radius: 0;
  }
}

html .widget-ultimi .contenuto-widget-ultime-v {
  color: white !important;
}

html .widget-ricerca-side input {
  color: white;
}

.tabellaQuoteRisultatiParziali {
  height: 20px;
}

.contenitore-table {
  padding: 0px !important;
}

div#sidebar-dx {
  overflow-y: scroll !important;
  max-height: 96%;
}

html .widget-ultimi .contenuto-widget-ultime-v {
  overflow: inherit !important;
}

.carrello-scrollable.overflow-y-scroll {
  max-height: 100% !important;
  overflow-y: visible !important;
}

.fastbet i {
  margin-right: 10px !important;
}

#secondo-blocco-sport .contenitore-table .contenitoreSingolaQuota.bordo-tondo.mx-1 {
  border: 1px solid #0000ff00;
  background: #555555 !important ;
}

.bg-grigio-chiaro.bordo-tondo.quota.quota-con-nome {
  border: 1px solid #0000ff00;
  ///background: #2f2f2f !important;
  background: #555555 !important;
}

.toolbox-submenu > div {
  padding: 10px 6px 10px 10px;
}

.tablesExpanded .tabellaQuoteNew[data-numero-quote="12"] .contenitoreSingolaQuota,
.tablesExpanded .tabellaQuoteNew[data-numero-quote="12"] button.dropdown-toggle {
  max-height: 30px;
}

@media screen and (max-width: 1300px) {
  .login-header .blocco-header input {
    max-width: 10rem;
  }
}

html [page="promo"] {
  .sottomenu-nav,
  .sottomenu-nav > .nav {
    padding-right: 0px !important;
    position: absolute !important;
    width: 100% !important;
    justify-content: center !important;
  }
}

.modal-content {
  color: black !important;
}

//PVR and user login header fixes (start)

.cg-pvr-page #nascondimenu .logo {
  position: absolute !important;
  top: auto !important;
  bottom: 5px;
}

html .sottomenu-nav .active::after,
.sottomenu-nav a:hover::after {
  display: none !important;
}

body .modal-account {
  margin-top: 35px;
}

@media (min-width: 1920px) {
  body .modal-account {
    margin-top: 47px !important;
  }
}

.sottomenu-main {
  position: absolute !important;
  width: 100% !important;
}

.row.no-gutters.sport-griglia {
  margin-top: 28px;
}

body:not(.cg-pvr-page) .container-fluid.fissato-alto #nascondimenu .row.barra-intermedia {
  max-height: 40px;
}

.blocco-header.login-form-header.margine-su-1x {
  min-width: 300px;
}

@media (min-width: 1920px) {
  .blocco-header.login-form-header.margine-su-1x {
    min-width: 360px !important;
  }
}

.cg-pvr-page .blocco-header.cg-buttons-container {
  display: flex;
  max-height: 200px;
  justify-content: flex-end;
  width: auto;
  align-items: stretch;
  height: 55px;
}

.cg-pvr-page .blocco-header button.btn.btn-success.pointer {
  margin-top: 5px;
}

//PVR and user login header fixes (end)

#cg-header {
  border-bottom: 0px !important;
}

.up-arrow-on-overflow > * {
  background-color: #222 !important;
}

[page="promo"] {
  .container-fluid.fissato-alto #nascondimenu .row.barra-intermedia {
    max-height: 90px;
  }
}

html [page="promo"] .sottomenu-nav,
html [page="promo"] .sottomenu-nav > .nav {
  top: 7px;
}

@media (min-width: 1920px) {
  html body[page="promo"] .content-wrapper {
    background-color: #0d0d0d;
    margin-top: 9px;
  }
  html [page="promo"] .sottomenu-nav,
  html [page="promo"] .sottomenu-nav > .nav {
    top: 5px;
  }
}
.cg-aams-loghi-container {
  max-width: 40% !important;
}

body[page="promo"] #nascondimenu .logo {
  bottom: 50px;
}

.tablesExpanded .tabellaQuoteIntestazione {
  border-radius: 0 !important;
}

.controlli-sliderP > i.fas {
  margin-right: 0px;
}

.container-slider-icone-paese .fas {
  margin-right: 0;
}

.controlli-sliderP {
  justify-content: space-between !important;
}

.contenuto-modal-account {
  padding-top: 40px;
}
body:not([page="promo"]) {
  .menu-principale-barra ul.menu-principale a[data-ref="promo"]:after {
    content: "12";
    animation: blink;
    display: block;
    position: absolute;
    right: 0;
    top: -6px;
    background: var(--accent-bg);
    color: var(--accent-txt);
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
    animation: heartbit 1s ease-out infinite;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  }
  @-moz-document url-prefix() {
    .menu-principale-barra ul.menu-principale a[data-ref="promo"]:after {
      right: -30px;
      top: 14px;
    }
  }
}

@keyframes heartbit {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #ffcc00;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 8px #ffcc0049;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #ffcc0044;
  }
}

.cg-spinner-container.flex-container {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 9999999999999;
  width: 100%;
  /* display: block; */
  left: 0;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column-reverse;
  &::after {
    content: "";
    height: 70px;
    width: 290px;
    background-image: url("https://www.sirplay.it/external_css/SIRPLAY/img/sirplay_logo.svg");
    background-repeat: no-repeat;
  }
}

.cg-donut-spinner {
  border: 4px solid rgba(255, 255, 255, 0.185) !important;
  border-left-color: #ffffff !important;
}

html .bg-grigio-chiaro {
  background: var(--custom-brand-color-4-dark) !important;
}

.blocco-quote-espanse .selezionata,
.quota:hover {
  background: transparent !important;
  border: 1px solid var(--custom-brand-active-color-1) !important;
  color: var(--landing-quota-hover-text-color) !important;
}

/* Second loading on scommesse

html .xs-loader-container {
  background-color: var(--custom-brand-color-2);
  background: black;
  height: 100vh;
  z-index: 9999999999;
  position: fixed;
  top: 0;
}

html .xs-loader-container:before {
  content: "";
  position: absolute;
  top: 240px;

  background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/sirplay_logo.svg);
  background-repeat: no-repeat;
  height: 120px;
  width: 500px;
}
*/

.blocco-header.bottoni-login {
  max-width: 180px !important;
  max-height: 42px !important;
}

//IMPORT SPORTPAGE ON XCONTOGIOCO +++++++++++++++++++++++++++++++++
@import "new_sport_desktop";
//IMPORT SPORTPAGE ON XCONTOGIOCO +++++++++++++++++++++++++++++++++

/////////////test
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: perspective(900px);
    transform: perspective(900px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
/* 

////optional animation for loading logo scommesse and live/////


@keyframes jackInTheBox {
  0% {
      opacity: 0;
      -webkit-transform: scale(.1) rotate(30deg);
      transform: scale(.1) rotate(30deg);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom
  }

  50% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg)
  }

  70% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg)
  }

  to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1)
  }
}
*/
.cg-spinner-container.flex-container::after {
  animation: 0.3s flipInX;
}

.cg-donut-spinner {
  display: none;
}

.tasti-bottom {
  justify-content: center !important;
}
///////// chat live position
/*
.zopim {
  left: 210px !important;
  z-index: 9999999999 !important;
  top: 0;
}

.fissato-alto {
  z-index: 99999999 !important;
}

.meshim_widget_components_chatButton_Button .button_bar {
  color: #715900;
  background: blue !important;
}

.meshim_widget_components_ChatButton.br .button_bar {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

*/

.zopim {
  right: 20px !important;
}

ul.slick-dots li {
  width: 7px !important;
  height: 7px !important;
  background: #ffffff3d !important;
}

.controlli-sliderP {
  bottom: -30px !important;
  background: transparent !important;
}
.margine-giu {
  margin-bottom: 10px;
}

.promo-landing .row.margine-giu {
  margin-bottom: 40px;
}

.controlli-sliderP .fa-chevron-left:before {
  display: none;
}
.controlli-sliderP .fa-chevron-right:before {
  display: none;
}

//Header changes on xxxres and up (start)

body:not(.cg-pvr-page) {
  @media (min-width: 1920px) {
    .menu-principale-barra ul.menu-principale {
      width: 95%;
    }

    .container-fluid.fissato-alto #nascondimenu {
      height: 80px !important;
    }
  }

  @media (max-width: 1479px) and (min-width: 1100px) {
    .menu-principale-barra ul.menu-principale {
      justify-content: space-around !important;
      width: 70% !important;
      margin-left: 15% !important;
    }
  }

  @media (min-width: 1480px) {
    .container-fluid.fissato-alto #nascondimenu {
      height: 72px;
    }

    .login-header {
      top: 53px;
      position: relative;
    }
    @-moz-document url-prefix() {
      .login-header {
        width: 100px;
      }
    }
    .menu-principale-barra ul.menu-principale {
      width: 79%;
    }

    &[page="promo"] {
      .container-fluid.fissato-alto #nascondimenu {
        height: 120px !important;
      }
    }
    .container-fluid.fissato-alto #nascondimenu .row.barra-intermedia {
      background: transparent;
    }
  }
  @media screen and (max-width: 1610px) {
    .menu-principale-barra ul.menu-principale li {
      margin: 5px 5px 0px 5px;
    }
  }

  @media screen and (max-width: 1420px) {
    .menu-principale-barra ul.menu-principale li {
      margin: 5px 3px 0px 3px;
    }

    #nascondimenu .logo {
      left: 5px !important;
    }

    @media screen and (min-width: 1350px) {
      .menu-principale-barra ul.menu-principale {
        width: 74%;
      }
    }
  }
}

// body:not(.cg-pvr-page) {
//   @media (min-width: 1920px) {
//     .menu-principale-barra ul.menu-principale {
//       width: 100%;
//     }

//     .container-fluid.fissato-alto #nascondimenu {
//       height: 80px !important;
//     }
//   }

//   @media (min-width: 1250px) {
//     .container-fluid.fissato-alto #nascondimenu {
//       height: 72px;
//     }

//     .login-header {
//       top: 53px;
//       position: relative;
//     }
//     .menu-principale-barra ul.menu-principale {
//       width: 84%;
//     }

//     &[page="promo"] {
//       .container-fluid.fissato-alto #nascondimenu {
//         height: 120px !important;
//       }
//     }
//     .container-fluid.fissato-alto #nascondimenu .row.barra-intermedia {
//       background: #3c3c3c;
//     }
//   }

//   .blocco-header.login-form-header.margine-su-1x {
//     display: none;
//   }

//   .login-header .blocco-header .bottone-registrazione {
//     border-radius: 32px !important;
//     padding: 0 18px !important;
//     margin-left: 10px !important;
//     background: #ffd919 !important;
//     color: #000 !important;
//   }

//   .login-header .blocco-header {
//     padding: 0px 2px !important;
//   }
// }

////Header changes xxxxres res and up(end)

a.bg-colore-1.bianco.margine-giu {
  background: #0d961d;
}

.border.img-fluid.ico-cat.icoCategory1--12 {
  background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/amichevoliicon.png);
}

.border.img-fluid.ico-cat.icoCategory1--327 {
  background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/europei2021icon.jpg);
}

.casino .exa_ico_sport {
  background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/sport-502.png) !important;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1025px) {
  body,
  html body {
    font-size: 11px;
  }
}

@media screen and (max-width: 1359px) {
  html {
    .gridInterernaQuotazioni .contenitoreSingolaQuota.bordo-tondo.mx-1 {
      background: var(--custom-brand-color-4-dark) !important;
    }
    .gridInterernaQuotazioni button.dropdown-toggle {
      background: var(--custom-brand-color-4-dark) !important;
      opacity: 0.5;
    }
  }
}

//// cards styling (start)

body[page="xcards"] {
  .casino #contentGames:before {
    display: none;
  }

  .casino #contentGames {
    padding-top: 70px !important;
  }

  a.blocco-mosaico {
    max-height: 250px !important;
  }

  .casino #menuContainer {
    margin-top: 15px !important;
  }

  .bg-grigio-chiaro {
    height: 40px !important;
    color: white !important;
  }

  .casino #contentGames .blocco-mosaico.game:first-child {
    grid-row-start: 1 !important;
    grid-row-end: 1 !important;
    grid-column-start: 1 !important;
    grid-column-end: 1 !important;
  }

  .casino #contentGames .blocco-mosaico.game:first-child .img-fluid {
    height: unset !important;
  }

  .casino #contentGames {
    max-width: unset !important;
  }

  .casino #casino-principale .bg-filtri-casino {
    background: #2f2f2f !important;
    border-bottom: 1px solid #ffd919;

    margin-top: 15px !important;
  }

  .casino #casino-principale {
    background: #2f2f2f;
  }

  .row.titolo-slot-3.allinea-sinistra {
    border-left: 0 !important;
  }

  .elementi-footer #consultaUltimev {
    bottom: 0px !important;
    background: #2f2f2f !important;
  }

  .margine-giu {
    margin-bottom: 5px !important;
  }

  #cg-top-button {
    z-index: 2 !important;
  }

  .casino #casino-principale:before {
    display: none;
  }
}

//// cards styling (end)

.bg-bianco a.bottone.bg-colore-1.bianco {
  background: #ffcc00 !important;
}

div#sidebar-sx {
  max-width: 240px !important;
}

span.uo-selezionato.tinytext {
  padding: 2px 6px 2px 6px;
  background: #ffd919;
  color: black;
}

.container-fluid.fissato-alto #nascondimenu.show .row.bg-bianco .menu-principale-barra.w-100 {
  border-bottom: 1px solid #ffd919;
}

.carousel-indicators {
  bottom: -27px !important;
  justify-content: center !important;
  left: unset !important;
  right: 30% !important;
  top: auto !important;
}

html .box-vincita-potenziale.bottoni-var-quote a.bottone,
html .box-vincita-potenziale.bottoni-var-quote a.bottone:hover {
  text-transform: uppercase;
  font-weight: 500;
}
body:not(.cg-pvr-page) {
  .btn-success:not(:disabled):not(.disabled).active,
  .btn-success:not(:disabled):not(.disabled):active,
  .show > .btn-success.dropdown-toggle {
    color: #fff !important;
    font-size: 18px !important;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #1e7e34;
    border-color: #1c7430;
  }
}

.xp-met-attivo,
.xp-metodo:hover {
  color: #ffcc00 !important;
}

.form-row button#cg_VoucherSearch {
  background: #ffcc00 !important;
  color: black !important;
  font-size: 12px;
  letter-spacing: 0px;
}

.form-row button.btn.cg-btn-big.bg-colore-1.bianco.transaction-button {
  background: #ffcc00 !important;
  color: black !important;
  font-size: 12px;
  letter-spacing: 0px;
}

.col-6-md-4 button#cg_editLimitsButton {
  background: #333;
}

#secondo-blocco-sport .quote-extra .quota-con-nome span:last-child {
  color: #fff;
}

.sr-lmt-plus-scb__wrapper .sr-lmt-plus-scb__status.srt-text-secondary.srt-neutral-9 {
  font-size: 14px !important;
  background: transparent;
  border: 0;
  color: #ffffff;
  opacity: 1;
}

.bottoni-calc a.apri-calc.bg-nero.bianco.bordo-tondo.pointer {
  background: #1e1e1e;
  padding-left: 8px;
}

.user .dropdown-menu.show {
  border: 3px solid #545454 !important;
}

.input-widget a.bottone.bg-colore-1.bianco {
  background: #0d961d;
}

.contenuto-widget p.reservationInputLabel {
  background: #333 !important;
}

.contenuto-widget p.disclaimerReservation {
  background: #333 !important;
}

.reservationInputLabel {
  margin-bottom: 5%;
}

.casino #casino-principale:before {
  background: #272727 !important;
}

.maiuscolo span#reservation-number {
  background: #0d961d;
  border: 0 !important;
  font-size: 9px;
}

@media screen and (max-width: 1500px) {
  .row div#sidebar-sx {
    max-width: 200px !important;
  }
}

div#carosello-sport-1 {
  margin-bottom: 10px;
}

#carosello-sport-1 .carousel-indicators li {
  width: 8px !important;
  height: 8px !important;
}

i.fas.fa-chevron-up.fa-2x {
  margin-right: 0 !important;
}

body[data-available-table-space="1"] .tablesExpanded .text_s1 *,
body[data-available-table-space="2"] .tablesExpanded .text_s1 * {
  font-size: 11px !important;
}

html .quote-extra .quota-con-nome span:last-child,
html .quota-widget-evento span:last-child {
  color: #ffda21;
}
html {
  .quota-con-nome:hover span:last-child,
  .quota-con-nome.selezionata span:last-child,
  .quota-widget-evento:hover span:last-child,
  .quota-widget-evento.selezionata span:last-child {
    color: #ffda21 !important;
  }
}
@media screen and (max-width: 1430px) {
  .dueColonne.dueColonne_Template_1 {
    grid-template-columns: auto 230px;
  }
}

.scheda-top-match-nav a.padding-verticale {
  border-bottom: 3px solid transparent;
}

.modal-header {
  color: #000;
}
.modal-body {
  color: black;
}
///////////////////////////////////test.sirplay (start)
@media (min-width: 1920px) {
  iframe#myIFrame {
    margin-top: 43px !important;
  }
}

iframe#myIFrame {
  margin-top: 36px;
}
///////////////////////////////////test.sirplay  (end)

///////////////////////////

a#mostraHeader {
  display: none;
}

#nascondiHeader {
  display: none;
}

///////////////////////////

html body[page="home"] {
  background-color: #333 !important;
}

//////////////////////////////////////////// (new promozioni page start)
body[page="promo"] {
  .elenco-promo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    grid-gap: 2rem 1rem !important;
    margin-top: 20px;
  }

  .card-text:last-child {
    display: none;
  }

  .elemento-promozioni-modale .card-body {
    height: auto !important;
  }

  .card-body > .grassetto,
  li.grassetto,
  a.grassetto {
    color: white !important;
    font-size: 14px;
    font-weight: 500;
  }

  .card .margine-giu {
    display: none !important;
  }

  .card {
    background-color: transparent !important;
  }

  .card-title {
    margin-bottom: 0 !important;
  }

  .card-body {
    padding: 1.25rem 0 !important;
  }

  .promo-landing.container {
    max-width: 100% !important;
  }

  // .carosello-promo {
  //   max-width: 76%;
  // }

  .card-img,
  .card-img-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    max-height: 210px;
    max-width: 300px;
  }
  .promozioni-new {
    padding-bottom: 0 !important;
  }
  .card.elemento-promozioni-modale:hover {
    box-shadow: none !important;
  }

  .immagine-slider div {
    display: none;
  }

  .container-fluid.fissato-alto #nascondimenu.show .row.bg-bianco .menu-principale-barra.w-100 {
    border-bottom: 0 !important;
  }

  .card {
    border: 0 !important;
  }

  .panel {
    background: #141414;
  }

  .promo-landing.container {
    background: #141414;
  }
}

//////////////////////////////////////////// (new promozioni page end)

// .menu-principale-barra ul.menu-principale a[data-ref="lotterie"]:after {
//   content: "";
//   display: block;
//   position: absolute;
//   right: -14px;
//   top: -10px;
//   background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/newpng.png);
//   width: 38px;
//   height: 44px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-size: contain;
//   background-repeat: no-repeat;
// }

body[page="xcasinolive"] {
  .exa_ico_live {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/live-50.png) !important;
    background-size: contain !important;
    filter: inherit !important;
    height: 23px !important;
    width: 23px !important;
    margin-right: 5px !important;
  }

  .exa_ico_jack {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/jack-50.png) !important;
    background-size: contain !important;
    filter: inherit !important;
    height: 23px !important;
    width: 23px !important;
    margin-right: 5px !important;
  }

  .exa_ico_roulette {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/roulette-50.png) !important;
    background-size: contain !important;
    filter: inherit !important;
    height: 23px !important;
    width: 23px !important;
    margin-right: 5px !important;
  }

  .exa_ico_chip {
    background: url(https://#{$skinHost}/external_css/#{$skinName}/img/chip-50.png) !important;
    background-size: contain !important;
    filter: inherit !important;
    height: 23px !important;
    width: 23px !important;
    margin-right: 5px !important;
  }
}

img {
  pointer-events: none;
}

.gridInterernaQuotazioni .contenitoreSingolaQuota > p.tipoQuotazione_1 {
  font-size: 13px !important;
}

.elementi-footer #consultaUltimev {
  bottom: 0px;
}

////casino filter problem
span.popup-desc.align-self-center.margine-sinistra {
  filter: none !important;
}

.activeFilterBar .popup-desc {
  filter: none !important;
  height: unset !important;
}

span.popup-desc.align-self-center.margine-sinistra {
  height: unset !important;
}
///////

html [page="xcards"] {
  .casino .exa_ico_home {
    height: 22px !important;
    width: 22px !important;
    margin-left: 54px;
    background-size: contain !important;
    background-image: url(https://#{$skinHost}/external_css/#{$skinName}/img/iconAll.png);
    background-repeat: no-repeat;
  }

  span.premiomatto {
    height: 22px !important;
    width: 22px !important;
    margin-left: 54px;
    background-repeat: no-repeat;
    filter: none;
    background-size: contain;
    background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/icon11.png) !important;
  }
  span.torneo {
    height: 22px !important;
    width: 22px !important;
    margin-left: 54px;
    background-repeat: no-repeat;
    filter: none;
    background-size: contain;
    background-image: url(https://www.sirplay.it/external_css/SIRPLAY/img/icon22.png) !important;
  }
}

///// Align in scommesse (start)

@media screen and (mix-width: 1920px) {
  .tabellaQuoteIntestazione-GruppoQuote.text-uppercase.d-flex.justify-content-center.align-items-center {
    margin-left: 45px !important;
  }
}
.tabellaQuoteIntestazione-GruppoQuote.text-uppercase.d-flex.justify-content-center.align-items-center {
  margin-left: 35px;
}

///// Align in scommesse (end)

a#idMostraAltriButton {
  border-radius: 10px;
  margin-bottom: 80px;
  background: var(--active-color);
  color: black !important;
  font-size: 12px;
}

body[page="xcasino"] {
  main#idContentMain {
    height: 100vh;
  }
}
body[page="xcasinopt"] {
  main#idContentMain {
    height: 100vh;
  }
}
body[page="xcasinolive"] {
  main#idContentMain {
    height: 100vh;
  }
}
body[page="xcasino"] {
  @media (max-width: 1820px) {
    .col-md-12.riga-titoli-casino > a > span {
      display: none;
    }
  }
  @media (max-width: 1500px) {
    .casino #casino-principale:before {
      height: 70px !important;
    }
  }
}

.col-md-12.riga-titoli-casino > a:nth-child(13) {
  display: none;
}
