$url: "test.sirplay.it";
@import url("https://#{$url}/external_css/SIRPLAY/fontAwesome/css/all.min.css");
/*HEADER e MENU*/

html:root {
  --border-color-1: #ffe01a;
  --bg-color-1: #000000;
  --cg-top-button-background: #ffe01a;
  --topbar-bg-color: #3c3c3c;
  --topbar-text-color: #ffffff;
  --intermediate-bar-bg-color: #000000;
  --intermediate-bar-text-color: #ffffff;
  --intermediate-bar-muted-text-color: #ffffff;
  --header-input-bg-color: #cccccc;
  --header-input-text-color: #000000;
  --user-img-border-color: #ffe01a;
  --menu-bar-background-color: #212121;
  --menu-bar-text-color: #fff;
  --submenu-bar-background-color: #212121;
  --submenu-bar-text-color: #fff;
  --login-btn-bg-color: #ffffff;
  --login-btn-text-color: #000000;
  --signup-btn-bg-color: #ffd919;
  --signup-btn-text-color: #222;
  --tickets-button-bg-color: #ffd919;
  --tickets-button-text-color: #073862;
  --tickets-button-border-color: #425468;
  --deposit-button-bg-color: #ffd919;
  --deposit-button-text-color: #222;
  --deposit-button-border-color: #425468;
  --footer-btn-bg-color: #ffe01a;
  --footer-btn-text-color: #073862;
  --topbar-footer-bg-color: #000000;
  --topbar-footer-text-color: #ffffff;
  --topbar-footer-border-color: #ffe01a;
  --intermediatebar-footer-bg-color: #ffffff;
  --bottombar-footer-bg-color: #3c3c3c;
  --bottombar-footer-text-color: #ffffff;
  --footer-links-text-color: #ffffff;
  --promo-page-title: #ffe01a;
  --promo-title: #ffe01a;
  --promo-info-button-bg-color: #ffe01a;
  --promo-info-button-text-color: #000000;
  --promo-signup-button-bg-color: #ffe01a;
  --promo-signup-button-text-color: #000000;
  --promo-active-type-bg-color: #ffe01a;
  --promo-active-type-text-color: #000000;
  --promo-active-type-hover-bg-color: #ffe01a;
  --promo-active-type-hover-text-color: #000000;
  --landing-quota-hover-bg-color: #fdca00;
  --landing-quota-hover-text-color: #fff;
  --landing-casino-game-hover-bg-color: #6b6b6bb3;
  --landing-casino-game-play-btn-bg-color: #fdca00;
  --landing-casino-game-play-btn-text-color: #fff;
  --landing-casino-game-try-btn-bg-color: #425468;
  --landing-casino-game-try-btn-text-color: #fff;
}

.logo img {
  height: 70% !important;
}

.logo {
  height: 60px !important;
  padding-top: 0;
  padding-bottom: 0;
}

p.testo-disclaimer {
  max-width: 100% !important;
  font-size: 10px !important;
}

.barra-superiore .blocco-header {
  font-size: 12px !important;
}
.container-fluid.fissato-alto .row.barra-superiore {
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  .info-utili {
    font-size: 14px;
    height: 30px;
    .cg-contatti span {
      font-size: 13px;
    }
  }
  .disclaimer {
    font-size: 13px;
    height: 30px;
    justify-content: space-between;
    .cg-header-logo {
      width: 60px;
      height: 26px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
    }
  }
}
.menu-principale-barra ul.menu-principale {
  border-bottom: 1px solid var(--bottombar-footer-bg-color);
}
/*FINE HEADER e MENU*/

body[page="sport"] {
  background-image: url(https://sirplay.altechlab.com/gradmin-api/skin/3/image/4d1d77cdcf2fd28b9c90bd9da8e8ecc7.jpeg);
  background-size: 1760px;
  background-position: center 37px;
  background-repeat: no-repeat;
  background-color: #000000;
}
#sport-frame {
  margin-top: 0 !important;
}
