body {
   background: #404040!important;
}

.contentMain {
	background: #404040!important;

}

#leftContainer {
   background: #404040!important;
}

.top-navbar{
	background: #1a1f23 !important;
}

.menuTabMobile{
	background: #1a1f23 !important;
	color:white !important;
}

.labelMenu,
.icon,
.registerButton
{
	color:white !important;
}
.wrapper-login-section{
	background: #20282b;
}

#title {
	font-size : 1rem !important;

}

.tabLayerMobile, .loader-container{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#026aa6+1,0e2536+100 */
background: #026aa6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #026aa6 1%, #0e2536 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #026aa6 1%,#0e2536 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #026aa6 1%,#0e2536 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#026aa6', endColorstr='#0e2536',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: white !important;
}

.header {
	background: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#000000));
    background: -ms-linear-gradient(top, #4c4c4c 0%, #000000 100%);
    border-bottom: rgb(252, 205, 6) 1px solid;
}
.footer {
	background: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#000000));
    background: -ms-linear-gradient(top, #4c4c4c 0%, #000000 100%);
    border-top: rgb(252, 205, 6) 1px solid;
}


.navbar {
    background: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#000000));
	background: -ms-linear-gradient(top, #4c4c4c 0%, #000000 100%);

}

.nav-item {
/* 	background: #1c2023; */
	background: transparent;
}

.nav-link {
    display: block;
    padding: 3px;
    color: white !important;
/*     font-weight: bold; */
}
.active .nav-link{
	color: white !important;
    font-weight: 500;
}

.nav-link:HOVER{
	 color: white !important;
}

#navButton {
    background: rgb(52, 58, 64);
}

.nav-item:HOVER {
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 205, 6)), to(#000000));
	 color: black;
}

.active {
/* 	background: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 205, 6)), to(#000000)) !important; */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcb37), to(#000000)) !important;
}


.filterGameBar {
    background: #000!important;
   
}
.filterGameBar UL {
/*     background: #101010e0; */
/* background: #e8e8e8; */
	background: rgb(232, 232, 232);
    color:white;
    font-weight: bold;
}


.filterGameBar UL LI:HOVER {
    background:white;
    color:white;
}

.activeFilterBar {
    color: white;
    /* background: #267a94; */
    border: rgb(252, 205, 6) 1px solid !important;
    border-radius: 5px;
	/*background: rgba(252, 205, 6, 0.23);*/
	background: none;
}

.filterBarButton {
    background: rgba(41, 41, 41, 0.8784313725490196);
}
.filterBarButtonRemove{
 	background: rgba(41, 41, 41, 0.8784313725490196);
}


.filterBarButtonRemove:hover{
    background: rgba(35, 35, 35, 0.8784313725490196);
}
.filterBarButtonRemove:active{
    background: rgba(86, 86, 86, 0.8784313725490196);
}
/*#####################################################################################*/

.game{
	background: rgba(0, 0, 0, 0.43137254901960786);
}

#singleGameContainer{
	/*     background: orange; */
}


#gameHeader {
	background: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#000000));
	background: -ms-linear-gradient(top, #4c4c4c 0%, #000000 100%);
    border-bottom: rgb(252, 205, 6) 1px solid;
}

.gameHeader, .gameFooter {
/*     background: #252525; */
background: rgb(37, 37, 37);
}



.gameBody{
/*     background: #000000c7; */
    background: rgba(0, 0, 0, 0.7803921568627451);
}



.gameTitleContainer{
/* 	background: darkred; */

}



/*#######################################################################################*/


.footerGamePreview{
    background: rgba(0, 0, 0, 0.60);
       border-bottom: solid 1px rgb(252, 205, 6);
}


.game:hover .image {
  opacity: 0.3;
}

.game:hover .middle2 {
  opacity: 1;
}

.game .text {
  color: white;
}

.game .btn .middle2 .text{
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcb37), to(#000000)) !important;
	background: linear-gradient(#ffae1b, #ffd514, #ffae1b) !important;
}


.game .label{
	color: white;
}

.label{
	color: white;
}


/*#####################################################################################*/


.widgetHeader {
  	background: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#000000));
   	background: -ms-linear-gradient(top, #4c4c4c 0%, #000000 100%);
    border-bottom: rgb(252, 205, 6) 1px solid;
}

.widgetBody {
	background: rgba(0,0,0,0.40);
}

.widget .label {
	color: white;
    font-weight: bold;
}

.widgetItem {
	border-bottom: solid 1px silver;
}

/* .widget .btn { */
/*     background: linear-gradient(#ffae1b, #ffd514, #ffae1b) !important; */
/*     color: rgb(47, 47, 47); */
/* } */


.bagliore {
	color: black;
	text-shadow: 0pt 0pt 5px #ffffff, 0pt 0pt 10px #ffffff, 0pt 0pt 15px
		#ffffff, 0pt 0pt 20px #00aeff, 0pt 0pt 35px #0069ff, 0pt 0pt 40px
		#0096ff, 0pt 0pt 50px #88ff00, 0pt 0pt 75px #aaff00;
}


#jackpotWidget {
    box-shadow: 0pt 0pt 2px #ffffff, 0pt 0pt 4px #ffffff, 0pt 0pt 6px #ffffff, 0pt 0pt 8px #00aeff, 0pt 0pt 10px #0069ff, 0pt 0pt 12px #0096ff, 0pt 0pt 14px #88ff00, 0pt 0pt 16px #aaff00;
}


.game .text2{
    color: white;

}
.game .text2 .btn {
	/* 	background: #ff7600; */
    background: linear-gradient(#ffae1b, #ffd514, #ffae1b);

}
.game .text2 .btn, .carousel-item .btn , .widget .btn {
    /* background: #ff7600; */
    background: linear-gradient(#000000, #1d1d1d, #000000);
    color: white;
    border: #b18900 1px solid;
    border-radius: 4px;
}

/* { */
/*     width: 100px; */
/*     height: 41px; */
/*     position: relative; */
/*     top: 155px; */
/*     left: 231px; */
/*     color: #2f2f2f; */
/*     font-weight: bold; */
/*     background: linear-gradient(#ffae1b, #ffd514, #ffae1b); */
/* } */



.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {

    background-image: linear-gradient(#0e0e0e, #080808, #000000);
    color: white !important;

}

.modal-content{
    background: rgb(255, 255, 255);
    border: rgb(252, 205, 6) 1px solid;
    color: black;
}

.modal-content .btn{

    border: solid 1px black;
}

#casinoModalDialog .modal-content{
	background: rgb(255, 255, 255);
    border: rgb(252, 205, 6) 1px solid;
}
#casinoModalDialog .btn{
/* 	background: rgb(252, 205, 6; */
/*     color: white; */
/*     font-weight: bold; */
/*     border: rgb(252, 205, 6; */
}

#sessioniAttiveModalDialog .myModalDialog {
    background: rgba(0, 0, 0, 0.78);
}

.procediSessioniAttive{
	background: rgb(252, 205, 6);
	border: rgb(252, 205, 6);
}
.procediSessioniAttive:hover{
	background: rgb(252, 205, 6);
	border: rgb(252, 205, 6);
}



.anteprimaBtn{
	background: rgb(252, 205, 6);
}

#anteprimaMobileBody img {
   border: rgb(252, 205, 6) 1px solid;
}

.multitableButton{
    border: rgb(175, 143, 0) 1px solid;
}
/*#######################################       MULTITAVOLO       #############################################*/

.headerMultitavolo, .footerMultitavolo {
	background: rgba(37, 37, 37, 0.87);
}

.mainMultitavolo{
    background: rgba(0, 0, 0, 0.7803921568627451);
}


.scrollbar-primary::-webkit-scrollbar {
	background-color: rbga(0, 0, 0, 0);
}

.scrollbar-primary::-webkit-scrollbar-thumb {
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: rbga(0, 0, 0, 0);
}

.scrollbar-danger::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar {
	background-color: #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #ff3547;
}

.scrollbar-warning::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar {
	background-color: #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #FF8800;
}

.scrollbar-success::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar {
	background-color: #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #00C851;
}

.scrollbar-info::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar {
	background-color: #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #33b5e5;
}

.scrollbar-default::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar {
	background-color: #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #2BBBAD;
}

.scrollbar-secondary::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar {
	background-color: #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #aa66cc;
}

/*####################################################################################################################*/
#casinoModalDialog{
    background: rgb(255, 255, 255);
 }

#mtChooseMenu > div {
    background-color: #000000;
    border: 1px solid silver;
}

#mtSearchModalDialgContent .mtVoceMenu {
    border-bottom: black;
}

#mtSearchModalDialgContent .mtVoceMenu:HOVER{
    background: black;
}

.mtModalFooter, .mtModalBody{
	background: transparent;
}

#headerSearchPage{
	border-bottom: 1px rgb(252, 205, 6) solid;
}

.mtModalFooter BUTTON{
	background: rgb(252, 205, 6);
    color: white;
}

.closeBtnMT, .rebuyBtnMT{
	border-radius: 2px;
}

.headerGameMt .closeBtnMT{
    background: darkred;
    color: white;
}

.rebuyBtnMT {
    background-color: #ffc107;
    border-color: #ffc107;
}

.giocoAggiunto{
	background: black;
	border: rgb(37, 37, 37) 1px solid;
}

.btnPlus{

	background: rgb(255, 255, 255);
}

#anteprimaMobileBody .active {
	background: rgb(252, 205, 6) !important;
}

.descrizioneSelImporto {
    color: white !important;
    
}

.iconContainer .selection-border {
	background-color: rgb(252, 205, 6);
}

.function-arrow {
	color: rgb(252, 205, 6);
}

#idMostraAltriButton {
    background: #fdce0e!important;
    border-color: rgba(252, 205, 6, .15)!important;
    color: #000!important;
    font-size: 14px!important;
    font-weight: normal!important;
    border-radius: 0px!important;
}

.nav-logo {
	background-image: url("");
	height: 80%;
	width: 80%;
	position: absolute;
	left:-80px;
}

#applicaFiltriButton {
	background: rgb(252, 205, 6);
	border-color: rgba(252, 205, 6, .15);
	color: black;
}

#azzeraFiltriButton {
	background:white;
	border-color:white;
	color:black;
}

.loginButton {
	background: rgb(252, 205, 6);
	color: black;
}

.registerButton {
	border-color: rgb(252, 205, 6);
	color: black;
}

.function-arrow, .arrow {
	color: rgb(252, 205, 6);
}


.chooseTPLbutton div{
	background: white;
}

.tplSelected DIV {
	background: rgb(252, 205, 6);
}

.bouncing-loader > div {
	background: rgb(252, 205, 6);
}

#cercaButton .mtInputContainer {
    background: rgb(252, 205, 6);
}

.iconContainer .selection-border {
	background: #C1BB5C;
}

.descGiocoAnteprima{
	color:white;
}

.modal-body, #casinoModalDialog, .modal-footer{
	background:#20282b;
}

.modal-content{
	color:white;
}

/* ico */
.ico-prematch{
	background-image: url('https://www.scommettendo.it/external_cms/SCOMMETTENDO/mobile-images/ico-images/prematch.svg');
}

.ico-live{
	background-image: url('https://www.scommettendo.it/external_cms/SCOMMETTENDO/mobile-images/ico-images/live.svg');
}

.ico-cart{
	background-image: url('https://www.scommettendo.it/external_cms/SCOMMETTENDO/mobile-images/ico-images/shopping-cart.svg');
}

.ico-user{
	background-image: url('https://www.scommettendo.it/external_cms/SCOMMETTENDO/mobile-images/ico-images/user.svg');
}

.ico-sport{
	background-image: url('https://www.scommettendo.it/external_cms/SCOMMETTENDO/mobile-images/ico-images/prematch.svg');
}

.ico-search{
	background-image: url('https://www.scommettendo.it/external_cms/SCOMMETTENDO/mobile-images/ico-images/search-icon.svg');
}

.searchIcoLite{
	background-image: url('https://www.scommettendo.it/external_cms/SCOMMETTENDO/mobile-images/ico-images/search-icon.svg');
}

.homeMenuIcoLite{
	background-image: url('https://www.scommettendo.it/external_cms/SCOMMETTENDO/mobile-images/ico-images/menu-options.svg');
}

.ico-casino{
	background-image: url('https://www.scommettendo.it/external_cms/SCOMMETTENDO/mobile-images/ico-images/casino.svg');
}

.exa_ico_novita.exa_ico_home{
	background-image: url(https://www.scommettendo.it/external_cms/SCOMMETTENDO/new-mobile-images/ico/categories-icons-casino/all.svg) !important;
}


.exa_ico_novita.exa_ico_slot{
	background-image: url(https://www.scommettendo.it/external_cms/SCOMMETTENDO/new-mobile-images/ico/categories-icons-casino/slots.svg) !important;
    background-size: 40px!important;
}

.exa_ico_novita.exa_ico_dice {
    background-image: url(https://www.scommettendo.it/external_cms/SCOMMETTENDO/new-mobile-images/ico/categories-icons-casino/table.svg) !important;
    background-size: 40px!important;
}

.exa_ico_novita.exa_ico_carte {
    background-image: url(https://www.scommettendo.it/external_cms/SCOMMETTENDO/new-mobile-images/ico/categories-icons-casino/poker.svg) !important;
    background-size: 40px!important;
}

.exa_ico_novita.exa_ico_live {
    background-image: url(https://www.scommettendo.it/external_cms/SCOMMETTENDO/new-mobile-images/ico/categories-icons-casino/live.svg) !important;
    background-size: 40px!important;
}

.exa_ico_novita {
    background: url(https://www.scommettendo.it/external_cms/SCOMMETTENDO/new-mobile-images/ico/categories-icons-casino/new.svg)!important;
	
}

/*.exa_ico_novita.exa_ico_suggeriti {
    background: url(/external_cms/SCOMMETTENDO/new-mobile-images/ico/categories-icons-casino/suggested.svg);
    background-size: 40px!important;
}*/

.exa_ico_novita.exa_ico_jackpot {
    background: url(https://www.scommettendo.it/external_cms/SCOMMETTENDO/new-mobile-images/ico/categories-icons-casino/jackpot.svg)!important;
    background-size: 40px!important;
    
}



.filtro {
	/* 	display: inline-grid; */
	border: rgb(241, 241, 241) 1px solid;
	border-radius: 0px!important;
}
.icona {
    width: 40px;
    height: 40px;
}
.icona {
	filter: invert(1);
}

.selected {
	border: #ffd514 1px solid !important;
    background: rgba(255, 230, 0, 0);
}

.filtri-button-reset {
    background: transparent;
    border-color: #a0d743;
    color: white;
    border-radius: 0px;
}

.filtri-button-apply {
    background: linear-gradient(180deg,#a0d743,#a0d743 49%,#a0d743 50%,#a0d743);
    border-color: transparent;
    color: #ffffff;
    border-radius: 0px;
}

#filtri-categorie .filtro {
    padding-top: 10px;
    padding-bottom: 5px;
    /* border-radius: 0px!important; */
    border: transparent;
}

.form-control {
    border-radius: 0px!important;
}


.row{
	width: 100%;
}



.tplSelected DIV {
	background: rgb(245, 220, 71);
}


.cg-loginButton {

    color: black;
}

.descCategoria {
    color: white;
	text-transform: uppercase;
}
.gameitle span {
    color: black!important;
    background: #fff!important;
}

.gamesContainer img {
    border-radius: 0px!important;
}

/*THUMBS BORDER RADIUS*/
.gameImageContainer {border-radius: 0!important}
.game {border-radius: 0!important}




/* CATEGORIES POPUP FAVORITE GAMES FIX ICON*/
.exa_ico_novita.exa_ico_suggeriti {
	background: url(https://www.scommettendo.it/external_cms/SCOMMETTENDO/new-mobile-images/ico/categories-icons-casino/suggested.svg)!important;}


/*GAME POPUP*/
.anteprimaBtn {
      border-radius: 0px!important;
	color: #08161f!important;}

.anteprimaMobileContent .modal-body {background-color: #0e2a3f!important;}

#anteprimaMobileBody img {border-radius: 0!important;}


/* footer */

.cg-menuTabMobile {
    background: #08161f!important;
    }

.cg-labelMenu {
    text-transform: uppercase;
}


















