// html:root {
//   --active-color: #ffe01a;
//   --teableHeadersBg: #2c2c2c;
//   --teableHeadersCol: #a0a0a0;
//   --teableSubHeadersBg: #525252;
//   --teableSubHeadersCol: #ffffff;
//   --tableBorders: #5c5c5c;
//   --accent: #ffe01a;
//   --accent-bg: #ffe01a;
//   --accent-txt: #222;
//   --primary-bg: #4a4a4a;
//   --primary-txt: #fff;
//   --secondary-bg: #212121;
//   --secondary-txt: #fff;
//   --mainBg: #333333;
//   --mainBgCol: #fff;
//   --bg1: #404040;
//   --col1: #fff;
// }

// body {
//   background-color: var(--secondary-bg);
//   margin: 0;
//   img {
//     width: 100%;
//   }
//   .bottomBanners {
//     max-width: 1247px;
//     margin: 0 auto;
//     display: grid;
//     grid-template-columns: auto auto auto auto 38%;
//     grid-gap: 5px;
//     width: 100%;
//     padding: 20px 0;
//     .bottomBanner {
//       position: relative;
//       a {
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: 100%;
//         height: 100%;
//       }
//       img {
//         width: 100%;
//         height: auto;
//         filter: grayscale(1);
//       }
//       &:last-child {
//         img {
//           filter: grayscale(0);
//         }
//       }
//       &:hover {
//         img {
//           filter: grayscale(0);
//         }
//       }
//     }
//   }

//   @media only screen and (max-width: 1024px) {
//     .bottomBanners {
//       display: grid;
//       grid-template-columns: auto;
//       grid-gap: 10px;
//       .bottomBanner {
//         width: 100%;
//         img {
//           width: 100%;
//           height: auto;
//           filter: grayscale(1);
//         }
//         &:last-child {
//           grid-column-start: 1;
//           grid-column-end: 3;
//           img {
//             filter: grayscale(0);
//           }
//         }
//         &:hover {
//           img {
//             filter: grayscale(0);
//           }
//         }
//       }
//     }
//   }
// }

html:root {
  --active-color: #ffe01a;
  --teableHeadersBg: #2c2c2c;
  --teableHeadersCol: #a0a0a0;
  --teableSubHeadersBg: #525252;
  --teableSubHeadersCol: #ffffff;
  --tableBorders: #5c5c5c;
  --accent: #ffe01a;
  --accent-bg: #ffe01a;
  --accent-txt: #222;
  --primary-bg: #4a4a4a;
  --primary-txt: #fff;
  --secondary-bg: #212121;
  --secondary-txt: #fff;
  --mainBg: #333333;
  --mainBgCol: #fff;
  --bg1: #404040;
  --col1: #fff;
}

/* div#main_banner {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
#main_banner {
  .slick-dots {
    bottom: 0;
  }
  .slick-dots li button:before {
    color: var(--accent);
  }
  .slick-prev {
    left: 15px;
    z-index: 1;
  }
  .slick-next {
    right: 15px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 18px;
    color: var(--accent);
  }
}

body {
  background-color: var(--secondary-bg);
  margin: 0;
}

body img {
  width: 100%;
}

body .bottomBanners {
  max-width: 1247px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto 38%;
  grid-template-columns: auto auto auto auto 38%;
  grid-gap: 5px;
  width: 100%;
  padding: 20px 0;
}

body .bottomBanners .bottomBanner {
  position: relative;
}

body .bottomBanners .bottomBanner a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

body .bottomBanners .bottomBanner img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

body .bottomBanners .bottomBanner:last-child img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

body .bottomBanners .bottomBanner:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

@media only screen and (max-width: 1024px) {
  body .bottomBanners {
    display: block;
  }
  body .bottomBanner {
    display: block;
    padding-bottom: 5px;
    a {
      position: relative !important;
    }
  }
  body .carouselCenter {
    display: block;
    .sliderItem {
      width: 100%;
    }
  }
}

.cTitle {
  text-transform: uppercase;
  max-width: 1247px;
  margin: 0 auto;
  color: var(--col1);
}

.slick-initialized .slick-slide {
  height: auto;
}
.carouselContainer {
  position: relative;
  padding-bottom: 40px;
}
.carouselContainer::after {
  content: "";
  background-color: var(--accent-bg);
  height: 117px;
  width: 100%;
  left: 0;
  bottom: 0px;
  position: absolute;
  z-index: -1;
}
.carousel span {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.carousel .slick-prev:before,
.carousel .slick-next:before {
  color: var(--accent-bg);
}
.carouselBottom {
  background-color: var(--accent-bg);
  height: 117px;
}
.slick-slide {
  margin: 0;
}

.carouselCenter {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.carouselCenter .sliderItem {
  width: calc(50% - 5px);
}
.maxWidth {
  max-width: 1247px;
  margin: 0 auto;
}
.carouselContainer {
  .slick-slide img {
    margin-bottom: 7px;
  }
}
.carouselContainer .sliderItem {
  margin: 0 3px;
}

///jz

.slick-dots {
  bottom: -20px !important;
}
